Repository kubestellar/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, wds, frontend, ci, config, documentation, docker, other

frontend: InstallationPage: add translation for prerequisites check and fix the prettier formatting
  frontend/src/locales/strings.hi.json
  frontend/src/pages/InstallationPage.tsx
Labels: frontend

frontend: InstallationPage: feat: Add translations for prerequisites check (#1727)
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.hi.json
  frontend/src/pages/InstallationPage.tsx
Labels: frontend

refactor(installer): improve prerequisite checks and version extraction
  backend/installer/Prerequisites.go
Labels: backend

Update All
  frontend/src/locales/strings.en.json
  frontend/src/pages/InstallationPage.tsx
Labels: frontend

fix(installer): update prerequisite check to mark command as installed if it exists
  backend/installer/Prerequisites.go
Labels: backend

Update package-lock.json
  frontend/package-lock.json
Labels: frontend

refactor: update the Marketplace Upload Plugin to R2 Handler
  backend/api/marketplace.go
  backend/api/plugins.go
  backend/examples/marketplace-plugin.tar.gz
  backend/pkg/plugins/store.go
  backend/utils/utils.go
Labels: backend

feat: DeleteMarketplacePlugin handler
  backend/api/marketplace.go
  backend/api/plugins.go
  backend/marketplace/manager.go
  backend/models/plugins.go
  backend/pkg/plugins/store.go
  backend/routes/marketplace.go
Labels: backend

Minor Bugs in Installation Page (#1730)
  frontend/src/pages/InstallationPage.tsx
Labels: frontend

docs(contributing): update CONTRIBUTING.md to production standards
  CONTRIBUTING.md
Labels: documentation, other

docs(contributing): update CONTRIBUTING.md to production standards
  CONTRIBUTING.md
Labels: documentation, other

Update workload label to 'Resources' in English localization strings
  frontend/src/locales/strings.en.json
Labels: frontend

chore: Update PostgreSQL initialization path in docker-compose.yml to use migrations directory (#1731)
  docker-compose.yml
Labels: docker, other

feat: get all marketplace plugins
  backend/api/marketplace.go
  backend/marketplace/manager.go
  backend/models/user.go
  backend/pkg/plugins/store.go
  backend/routes/marketplace.go
Labels: backend

Update workload label to 'Resources' in English localization strings (#1745)
  frontend/src/locales/strings.en.json
Labels: frontend

feat: get a single marketplace plugin details
  backend/api/marketplace.go
  backend/marketplace/manager.go
  backend/routes/marketplace.go
Labels: backend

feat: submit and get marketplace plugin reviews/feedback
  backend/api/marketplace.go
  backend/pkg/plugins/store.go
  backend/routes/marketplace.go
Labels: backend

Add go.sum to .gitignore and remove from tracking
  .gitignore
  backend/go.sum
Labels: backend, other

add tooltip in menu bar
  frontend/package-lock.json
  frontend/src/components/Tooltip.tsx
  frontend/src/components/menu/Menu.tsx
  frontend/src/components/menu/MenuItem.tsx
Labels: frontend

Add custom hover tooltips for each icon in the collapsed vertical sidebar menu to improve usability.
  backend/go.sum
Labels: backend

.github/labeler.yml:

#
# Add component-specific labels
#

# Add 'backend' label for backend-related files
'backend':
  - backend/**

'wds':
  - backend/wds/**

# Add 'frontend' label for frontend-related files
'frontend':
  - frontend/**
  - frontend/**/*

# Add 'ci' label for GitHub Actions workflows
'ci':
  - .github/workflows/**

# Add 'config' label for configuration files
'config':
  - frontend/tailwind.config.js
  - frontend/vite.config.ts
  - frontend/eslint.config.js
  - frontend/tsconfig*.json
  - frontend/prettier.config.js
  - frontend/postcss.config.js

# Add 'documentation' label for documentation-related files
'documentation':
  - README.md
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**

# Add 'docker' label for Docker-related files
'docker':
  - frontend/Dockerfile
  - docker-compose.yml
  - frontend/.dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

# Add 'other' label as a fallback for any other files
'other':
  - '*'
