Repository kubestellar/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ci, config, documentation, docker, other

.github/labeler.yml:

#
# Add component-specific labels
#

# Add 'backend' label for backend-related files
'backend':
  - backend/**

# Add 'frontend' label for frontend-related files
'frontend':
  - src/**
  - public/**

# Add 'ci' label for GitHub Actions workflows
'ci':
  - .github/workflows/**

# Add 'config' label for configuration files
'config':
  - tailwind.config.js
  - vite.config.ts
  - eslint.config.js
  - tsconfig*.json

# Add 'documentation' label for documentation-related files
'documentation':
  - README.md
  - LICENSE
  - .github/ISSUE_TEMPLATE/**

# Add 'docker' label for Docker-related files
'docker':
  - Dockerfile
  - docker-compose.yml
  - .dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

# Add 'other' label as a fallback for any other files
'other':
  - "*"

Added Kubeconfig Onboard in navbar
  src/components/menu/data.ts
Labels: frontend

Fixed formatting on Kubeconfig Onboarding page
  src/pages/KubeconfigOnboarding.tsx
Labels: frontend

Formatted Create Cluster form
  src/pages/CreateCluster.tsx
Labels: frontend

Added upload feature for kubeconfig files
  src/pages/KubeconfigOnboarding.tsx
Labels: frontend

Enhance CreateBindingPolicyDialog with YAML validation and policy name input
  package-lock.json
  package.json
  src/components/CreateBindingPolicyDialog.tsx
  src/pages/BP.tsx
Labels: frontend, other

fix: logs and listening for changes in deployment
  .gitignore
  backend/wds/deployment/logs.go
Labels: backend, other

fix(wds): logs and added listener which trigger on deployment changes
  backend/wds/deployment/logs.go
Labels: backend
