Repository kubestellar/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, wds, frontend, ci, config, documentation, docker, other

Feat: Suggestions
  frontend/src/components/its/ClustersTable/components/ActionMenu.tsx
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/useLabelProtection.ts
Labels: frontend

Fixes Lint
  frontend/src/components/wecs_details/WecsDetailsPanel.tsx
  frontend/src/components/wecs_details/tabs/ExecTab.tsx
  frontend/src/components/wecs_details/tabs/LogsTab.tsx
Labels: frontend

fixed
  frontend/src/components/wds_topology/FlowCanvas.tsx
Labels: frontend

added test for jwt_test.go
  backend/test/jwt/jwt_test.go
Labels: backend

added test for jwt_test.go
  backend/test/jwt/jwt_test.go
Labels: backend

added test for auth_test.go
  backend/test/middleware/auth_test.go
Labels: backend

added test for installer_test.go
  backend/api/installer.go
  backend/test/routes/installer_test.go
Labels: backend

fix:redis during test
  backend/redis/redis.go
  backend/test/routes/installer_test.go
Labels: backend

Fix:clint
  backend/k8s/client.go
  backend/test/setup_test.go
  backend/wds/bp/utils.go
Labels: backend, wds

Fix:package
  backend/test/setup_test.go
Labels: backend

Marketplace catogory
  frontend/src/components/marketplace/CategoryFilter.tsx
Labels: frontend

fixes
  frontend/src/components/marketplace/CategoryFilter.tsx
Labels: frontend

Feat: Marketplace Featured
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/marketplace/FeaturedPlugins.tsx
Labels: frontend

Feat: Marketplace Featured (#1565)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/marketplace/FeaturedPlugins.tsx
Labels: frontend

Feat: Marketplace Cards
  frontend/src/components/marketplace/PluginCard.tsx
Labels: frontend

Feat : Marketplace Plugins Details
  frontend/src/components/marketplace/PluginDetails.tsx
Labels: frontend

Feat: Galaxy Markrtplace
  frontend/src/pages/GalaxyMarketplace.tsx
  frontend/src/types/plugin.ts
Labels: frontend

Added test for jwt/jwt_test.go (#1561)
  backend/test/jwt/jwt_test.go
Labels: backend

added test for auth_test.go (#1562)
  backend/test/middleware/auth_test.go
Labels: backend

Feat: Marketplace catogory (#1564)
  frontend/src/components/marketplace/CategoryFilter.tsx
Labels: frontend

Feat: Marketplace Cards (#1566)
  frontend/src/components/marketplace/PluginCard.tsx
Labels: frontend

Feat : Marketplace Plugins Details (#1567)
  frontend/src/components/marketplace/PluginDetails.tsx
Labels: frontend

Fix: lint
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend

style: update input colors based on theme in SearchPackagesForm component
  .husky/pre-commit
  frontend/src/components/workloads/AirtfactTab/SearchPackagesForm.tsx
Labels: frontend

Feat: Galaxy Markrtplace (#1568)
  frontend/src/pages/GalaxyMarketplace.tsx
  frontend/src/types/plugin.ts
Labels: frontend

Feat: Marketplace In SideMenu and Plugin Maneger
  frontend/src/components/PluginManager.tsx
  frontend/src/components/menu/useMenuData.ts
  frontend/src/routes/routes-config.tsx
Labels: frontend

Fixes the issue
  frontend/src/components/ResourceFilters.tsx
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend

Revert "Fixes the issue"
  frontend/src/components/ResourceFilters.tsx
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend

Fixes the issue
  frontend/src/components/ResourceFilters.tsx
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend

Resizeable Sidebar
  frontend/src/components/Layout.tsx
Labels: frontend

feat: Add galaxy marketplace sidebar and command palette
  frontend/package-lock.json
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/menu/useMenuData.ts
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
  frontend/src/locales/strings.zh-Hant.json
  frontend/src/routes/routes-config.tsx
Labels: frontend

Feat: Marketplace In SideMenu and Plugin Maneger (#1570)
  frontend/src/components/PluginManager.tsx
  frontend/src/components/menu/useMenuData.ts
  frontend/src/routes/routes-config.tsx
Labels: frontend

Refactor: Modularize `ClustersTable` Component (#1553)
  frontend/src/components/ClustersTable.tsx
  frontend/src/components/its/ClustersTable/ClustersTable.tsx
  frontend/src/components/its/ClustersTable/components/ActionMenu.tsx
  frontend/src/components/its/ClustersTable/components/EmptyState.tsx
  frontend/src/components/its/ClustersTable/components/FilterChips.tsx
  frontend/src/components/its/ClustersTable/components/LabelChip.tsx
  frontend/src/components/its/ClustersTable/components/StatusBadge.tsx
  frontend/src/components/its/ClustersTable/components/StatusFilterMenu.tsx
  frontend/src/components/its/ClustersTable/components/TableContent.tsx
  frontend/src/components/its/ClustersTable/components/TableHeader.tsx
  frontend/src/components/its/ClustersTable/components/TablePagination.tsx
  frontend/src/components/its/ClustersTable/components/index.ts
  frontend/src/components/its/ClustersTable/dialogs/DetachClusterDialog/index.tsx
  frontend/src/components/its/ClustersTable/dialogs/DetachClusterDialog/types.ts
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/LabelsList.tsx
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/index.tsx
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/types.ts
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/useLabelProtection.ts
  frontend/src/components/its/ClustersTable/dialogs/index.ts
  frontend/src/components/its/ClustersTable/types/index.ts
  frontend/src/pages/ITS.tsx
Labels: frontend

Header Components Enhancement & Consistency (#1557)
  frontend/src/components/Header.tsx
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/WecsTopology.tsx
  frontend/src/components/skeleton/FullScreenToggle.tsx
  frontend/src/components/treeView/TreeViewCanvas.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

style: update input colors based on theme in SearchPackagesForm component (#1569)
  .husky/pre-commit
  frontend/src/components/workloads/AirtfactTab/SearchPackagesForm.tsx
Labels: frontend

remove duplicate code
  frontend/src/components/menu/useMenuData.ts
  frontend/src/routes/routes-config.tsx
Labels: frontend

remove unused rocket icon
  frontend/src/components/menu/useMenuData.ts
Labels: frontend

Remove duplicate KubeStellar UI documentation files from the repository
  docs/how-to-install-and-use-kubestellar-ui.md
  docs/ui/README.md
Labels: none

Remove duplicate KubeStellar UI documentation files from the repository (#1579)
  docs/how-to-install-and-use-kubestellar-ui.md
  docs/ui/README.md
Labels: none

refactor: fix plugin discovering error
  backend/main.go
  backend/pkg/plugins/registry.go
  backend/plugins/cluster-monitor-32/cluster-monitor.wasm
  backend/plugins/cluster-monitor-32/plugin.yml
Labels: backend

.github/labeler.yml:

#
# Add component-specific labels
#

# Add 'backend' label for backend-related files
'backend':
  - backend/**

'wds':
  - backend/wds/**

# Add 'frontend' label for frontend-related files
'frontend':
  - frontend/**
  - frontend/**/*

# Add 'ci' label for GitHub Actions workflows
'ci':
  - .github/workflows/**

# Add 'config' label for configuration files
'config':
  - frontend/tailwind.config.js
  - frontend/vite.config.ts
  - frontend/eslint.config.js
  - frontend/tsconfig*.json
  - frontend/prettier.config.js
  - frontend/postcss.config.js

# Add 'documentation' label for documentation-related files
'documentation':
  - README.md
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**

# Add 'docker' label for Docker-related files
'docker':
  - frontend/Dockerfile
  - docker-compose.yml
  - frontend/.dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

# Add 'other' label as a fallback for any other files
'other':
  - '*'
