Repository kubestellar/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, wds, frontend, ci, config, documentation, docker, other

Create add-help-wanted.yml
  .github/workflows/add-help-wanted.yml
Labels: ci

test: trigger CI to verify GH_REPO_TOKEN
  frontend/scripts/check-locale-sync.ts
Labels: frontend

fix: remove invalid comment causing syntax error
  frontend/scripts/check-locale-sync.ts
Labels: frontend

test: trigger fresh CI run to verify token
  frontend/scripts/check-locale-sync.ts
Labels: frontend

fix: final cleanup - ready for maintainer token setup
  frontend/scripts/check-locale-sync.ts
Labels: frontend

fix: add GITHUB_TOKEN fallback for locale sync check
  .github/workflows/ci.yml
Labels: ci

debug: add token detection logging to identify permission issue
  frontend/scripts/check-locale-sync.ts
Labels: frontend

debug: enhance token debugging to identify permission issue
  .github/workflows/ci.yml
Labels: ci

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, other

added message for `help-wanted` and `good-first-issue`
  CONTRIBUTING.md
Labels: documentation, other

Fix Pagination in Deployed Workloads List View (#1651)
  frontend/src/components/ListViewComponent.tsx
Labels: frontend

added message for `help-wanted` and `good-first-issue` (#1683)
  CONTRIBUTING.md
Labels: documentation, other

Update CONTRIBUTING.md (#1682)
  CONTRIBUTING.md
Labels: documentation, other

chore: downgrade default version to 0.27.2 in WDS context creation
  backend/test/wds/common_test.go
  backend/wds/common.go
Labels: backend, wds

test: trigger CI to verify GH_REPO_TOKEN works for PR commenting
  .github/workflows/ci.yml
  frontend/scripts/check-locale-sync.ts
Labels: frontend, ci

fix: resolve linting errors in locale sync script
  frontend/scripts/check-locale-sync.ts
Labels: frontend

fixes bulk labeling issue
  frontend/src/components/its/ClustersTable/ClustersTable.tsx
  frontend/src/components/its/ClustersTable/components/TableHeader.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

Refactor API route setup to use grouped routes with authentication middleware
  backend/middleware/auth.go
  backend/routes/artifacthub.go
  backend/routes/bp.go
  backend/routes/cluster.go
  backend/routes/cookies.go
  backend/routes/deployment.go
  backend/routes/gitops.go
  backend/routes/installer.go
  backend/routes/jwt.go
  backend/routes/metrics.go
  backend/routes/namespace.go
  backend/routes/plugins.go
  backend/routes/resources.go
  backend/routes/setup.go
  backend/routes/wecs.go
  backend/test/routes/jwt_test.go
  backend/test/routes/metrics_test.go
  backend/test/routes/namespace_test.go
  backend/test/routes/wecs_test.go
  backend/test/wds/deployment/details_test.go
  backend/test/wds/deployment/status_test.go
  frontend/src/lib/api.ts
Labels: backend, frontend

fixes in filter
  frontend/src/components/ListViewComponent.tsx
  frontend/src/components/TreeViewComponent.tsx
  frontend/src/components/treeView/TreeViewCanvas.tsx
Labels: frontend

Enhance test assertions for API handlers to accept additional valid HTTP status codes for specific scenarios
  backend/test/api/detach_test.go
  backend/test/api/manage_clusters_test.go
  backend/test/middleware/auth_test.go
  backend/test/wds/deployment/status_test.go
Labels: backend

fixes zoom in issue
  frontend/src/components/ResourceFilters.tsx
Labels: frontend

chore: update script command to use version 0.27.2 in InstallationPage
  backend/wds/common.go
  frontend/src/pages/InstallationPage.tsx
Labels: backend, wds, frontend

fixes zoom-out issue
  frontend/src/components/ResourceFilters.tsx
Labels: frontend

designed how it works section
  docs/design-progress.md
Labels: none

designed how it works section (#1691)
  docs/design-progress.md
Labels: none

fixes bulk labeling issue (#1685)
  frontend/src/components/its/ClustersTable/ClustersTable.tsx
  frontend/src/components/its/ClustersTable/components/TableHeader.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

optimise-filter
  frontend/src/components/ListViewComponent.tsx
  frontend/src/components/TreeViewComponent.tsx
  frontend/src/components/treeView/TreeViewFilters.tsx
Labels: frontend

added check for sync
  frontend/src/components/ListViewComponent.tsx
  frontend/src/components/treeView/TreeViewFilters.tsx
Labels: frontend

Fixes
  backend/api/plugins.go
Labels: backend

Fixes
  backend/test/api/plugins_test.go
Labels: backend

Fixes Conflict
  backend/test/api/plugins_test.go
Labels: backend

Fixes
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend

Fixes lint
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend

Fixes lint
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend

fixed link
  frontend/src/components/ProfileSection.tsx
  frontend/src/pages/InstallationPage.tsx
Labels: frontend

desiged use cases section
  docs/design-progress.md
Labels: none

desiged use cases section (#1693)
  docs/design-progress.md
Labels: none

feat: storage interface for marketplace
  backend/go.mod
  backend/go.sum
  backend/marketplace/storage.go
Labels: backend

User Activity Management-2 (Created | Updated) data only
  frontend/src/components/admin/UserService.ts
  frontend/src/hooks/queries/useUserActivityQuery.ts
  frontend/src/pages/Dashboard.tsx
Labels: frontend

add custom middleware to register route
  backend/middleware/plugin.go
  backend/pkg/plugins/manager.go
Labels: backend

.github/labeler.yml:

#
# Add component-specific labels
#

# Add 'backend' label for backend-related files
'backend':
  - backend/**

'wds':
  - backend/wds/**

# Add 'frontend' label for frontend-related files
'frontend':
  - frontend/**
  - frontend/**/*

# Add 'ci' label for GitHub Actions workflows
'ci':
  - .github/workflows/**

# Add 'config' label for configuration files
'config':
  - frontend/tailwind.config.js
  - frontend/vite.config.ts
  - frontend/eslint.config.js
  - frontend/tsconfig*.json
  - frontend/prettier.config.js
  - frontend/postcss.config.js

# Add 'documentation' label for documentation-related files
'documentation':
  - README.md
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**

# Add 'docker' label for Docker-related files
'docker':
  - frontend/Dockerfile
  - docker-compose.yml
  - frontend/.dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

# Add 'other' label as a fallback for any other files
'other':
  - '*'
