Repository kubestellar/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, wds, frontend, ci, config, documentation, docker, other

fix: update EnablePluginHandler to pass test
  backend/api/plugins.go
Labels: backend

chore: remove unnecessary files
  backend/examples/plugin-updated.tar.gz
  backend/examples/plugin1.tar.gz
  backend/plugins/cluster-monitor-28/cluster-monitor.wasm
  backend/plugins/cluster-monitor-28/plugin.yml
  backend/plugins/cluster-monitor-29/cluster-monitor.wasm
  backend/plugins/cluster-monitor-29/plugin.yml
  backend/plugins/cluster-monitor-30/cluster-monitor.wasm
  backend/plugins/cluster-monitor-30/plugin.yml
  backend/plugins/cluster-monitor-31/cluster-monitor.wasm
  backend/plugins/cluster-monitor-31/plugin.yml
  backend/plugins/cluster-monitor-32/cluster-monitor.wasm
  backend/plugins/cluster-monitor-32/plugin.yml
  its1.yaml
  ocm-darwin-arm64.tar.gz
  wds1.yaml
Labels: backend, other

chore: change author for the example plugin
  backend/examples/cluster-monitor/plugin.tar.gz
  backend/examples/cluster-monitor/plugin/cluster-monitor.wasm
  backend/examples/cluster-monitor/plugin/plugin.yml
  frontend/package-lock.json
Labels: backend, frontend

build_fix
  frontend/src/components/wecsTopology/WecsTopology.tsx
Labels: frontend

fix: adjust z-index and background properties in GalaxyMarketplace and CategoryFilter components
  frontend/src/components/marketplace/CategoryFilter.tsx
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend

fixed formatting
  frontend/src/components/marketplace/CategoryFilter.tsx
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend

chore: fetch plugin status from DB & update getting plugin detail handler
  backend/api/plugins.go
  backend/pkg/plugins/manager.go
  backend/pkg/plugins/registry.go
  backend/pkg/plugins/store.go
Labels: backend

Fixed the Label issue
  frontend/src/components/its/ClustersTable/components/LabelChip.tsx
Labels: frontend

Fixed label issue
  frontend/src/components/its/ClustersTable/components/LabelChip.tsx
Labels: frontend

fix: Add new plugin manager to get all manifest handler
  backend/api/plugins.go
Labels: backend

fix: Nav bar dialogue (#1581)
  frontend/src/components/marketplace/CategoryFilter.tsx
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend

✨ Feature: Added Unit test for `Wecs` Package. (#1544)
  backend/test/wecs/exec_test.go
  backend/test/wecs/wecs_test.go
  backend/wecs/exec.go
Labels: backend

Fixes
  frontend/src/components/ResourceFilters.tsx
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend

Add dynamic plugin categories API endpoint and manifest support
  backend/api/plugins.go
  backend/pkg/plugins/manager.go
  backend/routes/plugins.go
Labels: backend

Added /api/plugins/featured
  backend/api/plugins.go
  backend/routes/plugins.go
Labels: backend

Implemented /api/plugins/search
  backend/api/plugins.go
  backend/routes/plugins.go
  backend/test/api/plugins_test.go
Labels: backend

Implemented Review Plugin api endpoint
  backend/api/plugins.go
  backend/routes/plugins.go
Labels: backend

Implemented Version History api endpoints
  backend/api/plugins.go
  backend/models/plugins.go
  backend/postgresql/migrations/000004_plugin_version_history.up.sql
  backend/routes/plugins.go
Labels: backend

Fixes Backend lint
  backend/api/plugins.go
  backend/plugin/plugins/backup_plugin.go
  backend/wds/common.go
Labels: backend, wds

Implemented api/plugins/:id/dependencies
  backend/api/plugins.go
  backend/examples/cluster-monitor/plugin.yml
  backend/pkg/plugins/manager.go
  backend/routes/plugins.go
Labels: backend

Fixes Lint
  backend/pkg/plugins/manager.go
Labels: backend

Implemented Stats Api endpoints
  backend/api/plugins.go
  backend/models/plugins.go
  backend/postgresql/migrations/000002_plugin.up.sql
  backend/routes/plugins.go
Labels: backend

Fixes Lint
  frontend/src/components/ResourceFilters.tsx
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend

Fixes lint
  backend/pkg/plugins/manager.go
Labels: backend

Fixes lint
  backend/api/plugins.go
Labels: backend

Fixes Databases
  backend/api/plugins.go
Labels: backend

fix: Adjust layout and styling in CategoryFilter and GalaxyMarketplace components
  frontend/src/components/marketplace/CategoryFilter.tsx
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend

feat: Implement enhanced plugin db schema
  backend/models/plugins.go
  backend/postgresql/migrations/000004_enhanced_plugins.down.sql
  backend/postgresql/migrations/000004_enhanced_plugins.up.sql
Labels: backend

feat: Implement enhanced plugin db schema (#1603)
  backend/models/plugins.go
  backend/postgresql/migrations/000004_enhanced_plugins.down.sql
  backend/postgresql/migrations/000004_enhanced_plugins.up.sql
Labels: backend

test: make test for Uninstalling Plugin Handler
  backend/api/plugins.go
  backend/pkg/plugins/manager.go
  backend/test/api/plugins/plugins_test.go
Labels: backend

test: add global plugin manager for Plugin Routes testing
  backend/test/api/plugins/plugins_test.go
  backend/test/routes/plugins/plugins_test.go
Labels: backend

fix: Adjust layout and styling in CategoryFilter and GalaxyMarketplace components (#1598)
  frontend/src/components/marketplace/CategoryFilter.tsx
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend

lang: Change eng to hindi in strings.hi.json
  frontend/package-lock.json
  frontend/src/locales/strings.hi.json
Labels: frontend

fixed (#1560)
  frontend/src/components/wds_topology/FlowCanvas.tsx
Labels: frontend

Fix: Prevent React Child Object Error for all Resource Status and Labels (#1572)
  frontend/src/components/ResourceFilters.tsx
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend

delete package-lock.json
  frontend/package-lock.json
Labels: frontend

Revert "feat: Implement enhanced plugin db schema (#1603)"
  backend/models/plugins.go
  backend/postgresql/migrations/000004_enhanced_plugins.down.sql
  backend/postgresql/migrations/000004_enhanced_plugins.up.sql
Labels: backend

Revert "feat: Implement enhanced plugin db schema (#1603)" (#1610)
  backend/models/plugins.go
  backend/postgresql/migrations/000004_enhanced_plugins.down.sql
  backend/postgresql/migrations/000004_enhanced_plugins.up.sql
Labels: backend

Structure & Refactor ITS Frontend
  frontend/src/components/ManualImportTab.tsx
  frontend/src/components/its/ClustersTable/ClustersTable.tsx
  frontend/src/components/its/ClustersTable/dialogs/ClusterDetailDialog.tsx
  frontend/src/components/its/ClustersTable/dialogs/DetachmentLogsDialog.tsx
  frontend/src/components/its/ImportCluster/ApiUrlImportTab.tsx
  frontend/src/components/its/ImportCluster/ImportClusters.tsx
  frontend/src/components/its/ImportCluster/KubeconfigImportTab.tsx
  frontend/src/components/its/ImportCluster/OnboardingLogsDisplay.tsx
  frontend/src/components/its/ImportCluster/QuickConnectTab.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/PluginManager.tsx
  frontend/src/routes/routes-config.tsx
Labels: frontend

Fixes
  frontend/src/pages/Dashboard.tsx
Labels: frontend

.github/labeler.yml:

#
# Add component-specific labels
#

# Add 'backend' label for backend-related files
'backend':
  - backend/**

'wds':
  - backend/wds/**

# Add 'frontend' label for frontend-related files
'frontend':
  - frontend/**
  - frontend/**/*

# Add 'ci' label for GitHub Actions workflows
'ci':
  - .github/workflows/**

# Add 'config' label for configuration files
'config':
  - frontend/tailwind.config.js
  - frontend/vite.config.ts
  - frontend/eslint.config.js
  - frontend/tsconfig*.json
  - frontend/prettier.config.js
  - frontend/postcss.config.js

# Add 'documentation' label for documentation-related files
'documentation':
  - README.md
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**

# Add 'docker' label for Docker-related files
'docker':
  - frontend/Dockerfile
  - docker-compose.yml
  - frontend/.dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

# Add 'other' label as a fallback for any other files
'other':
  - '*'
