Repository kubestellar/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, wds, frontend, ci, config, documentation, docker, other

.github/labeler.yml:

#
# Add component-specific labels
#

# Add 'backend' label for backend-related files
'backend':
  - backend/**

'wds':
  - backend/wds/**

# Add 'frontend' label for frontend-related files
'frontend':
  - frontend/**
  - frontend/**/*

# Add 'ci' label for GitHub Actions workflows
'ci':
  - .github/workflows/**

# Add 'config' label for configuration files
'config':
  - frontend/tailwind.config.js
  - frontend/vite.config.ts
  - frontend/eslint.config.js
  - frontend/tsconfig*.json
  - frontend/prettier.config.js
  - frontend/postcss.config.js

# Add 'documentation' label for documentation-related files
'documentation':
  - README.md
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**

# Add 'docker' label for Docker-related files
'docker':
  - frontend/Dockerfile
  - docker-compose.yml
  - frontend/.dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

# Add 'other' label as a fallback for any other files
'other':
  - '*'

added hindi
  frontend/src/locales/strings.hi.json
Labels: frontend

Add Hindi language support (#1482)
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/i18n.ts
  frontend/src/locales/strings.hi.json
Labels: frontend

added Metrics Dashboard command in Command Palette
  frontend/src/components/CommandPalette.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

fix: reset processing state when user form modal is opened
  frontend/src/components/admin/UserFormModal.tsx
Labels: frontend

IT locale typos
  frontend/src/locales/strings.it.json
Labels: frontend

IT locale typos (#1488)
  frontend/src/locales/strings.it.json
Labels: frontend

infinite_loop_fix
  frontend/src/components/admin/UserFormModal.tsx
Labels: frontend

formatting
  frontend/src/components/admin/UserFormModal.tsx
Labels: frontend

Update README.md to correct clone step
  README.md
Labels: documentation, other

Update README.md to correct clone step (#1492)
  README.md
Labels: documentation, other

feat: add WASM plugin into card to plugin manager
  frontend/src/components/PluginManager.tsx
Labels: frontend

Infinite loop issue in User Management Panel #1489 (#1490)
  frontend/src/components/admin/UserFormModal.tsx
Labels: frontend

chore: fix Prettier formatting for PluginManager.tsx
  frontend/src/components/PluginManager.tsx
Labels: frontend

fix: reset processing state when user form modal is opened (#1487)
  frontend/src/components/admin/UserFormModal.tsx
Labels: frontend

change pluginManifest struct as mentioned on wasm implementation doc
  backend/pkg/plugins/manager.go
Labels: backend

added Metrics Dashboard command in Command Palette (#1484)
  frontend/src/components/CommandPalette.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

Update feature_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: documentation

modify existing code to work with new pluginManifest structure and re-package cluster monitor including latest plugin.yml format
  backend/api/plugins.go
  backend/examples/cluster-monitor/plugin.tar.gz
  backend/examples/cluster-monitor/plugin.yml
  backend/pkg/plugins/loader.go
  backend/pkg/plugins/manager.go
  backend/pkg/plugins/registry.go
Labels: backend

fixess
  frontend/src/components/admin/UserFormModal.tsx
  frontend/src/components/treeView/TreeViewFilters.tsx
Labels: frontend

Dashboard-Loading & Performance- optimization
  backend/api/metrics.go
  backend/k8s/metrics.go
  frontend/src/hooks/queries/useBPQueries.ts
  frontend/src/hooks/queries/useClusterQueries.ts
  frontend/src/hooks/queries/useK8sQueries.ts
  frontend/src/hooks/queries/useWDSQueries.ts
  frontend/src/pages/Dashboard.tsx
Labels: backend, frontend

Fix: Format
  frontend/src/hooks/queries/useK8sQueries.ts
  frontend/src/pages/Dashboard.tsx
Labels: frontend

Fix: Error
  backend/api/metrics.go
  backend/k8s/metrics.go
Labels: backend

✨: Added Edit Option for Managing Cluster Lables in Remote Cluster Tree
  frontend/src/components/WecsDetailsPanel.tsx
Labels: frontend

fixess (#1498)
  frontend/src/components/admin/UserFormModal.tsx
  frontend/src/components/treeView/TreeViewFilters.tsx
Labels: frontend

Fix:404 Page NOT Found
  frontend/src/pages/NotFoundPage.tsx
Labels: frontend

Fixes required Changes
  frontend/src/components/MetricsDashboard.tsx
  frontend/src/hooks/queries/useMetricsQueries.ts
Labels: frontend

Fix: format
  frontend/src/pages/NotFoundPage.tsx
Labels: frontend

Fixes: Persist Metrics Dashboard auto-refresh preferences in localStorage and Removed Hardcoded Prometheus URLs (#1475)
  frontend/src/components/MetricsDashboard.tsx
  frontend/src/hooks/queries/useMetricsQueries.ts
  frontend/vite.config.ts
Labels: frontend, config

fix: metric dashboard layout and logic issues
  frontend/.env.example
  frontend/src/components/MetricsDashboard.tsx
  frontend/src/hooks/queries/useMetricsQueries.ts
Labels: frontend

fixed the code to use React Query
  frontend/src/components/WecsDetailsPanel.tsx
Labels: frontend

fixed the formatting
  frontend/src/components/WecsDetailsPanel.tsx
Labels: frontend

fix: prevent duplicate toast notifications on language switch (#1505)
  frontend/src/pages/InstallationPage.tsx
Labels: frontend

add wasi for tiny go build
  backend/examples/cluster-monitor/Makefile
  backend/examples/cluster-monitor/cluster-monitor.wasm
  backend/examples/cluster-monitor/plugin.tar.gz
  backend/pkg/plugins/manager.go
Labels: backend

fixes metric dashboard logic issues
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MetricsDashboard.tsx
  frontend/src/hooks/queries/useMetricsQueries.ts
Labels: frontend

fixes metric dashboard
  frontend/src/components/MetricsDashboard.tsx
Labels: frontend

validate_user_input
  frontend/src/components/admin/UserFormModal.tsx
Labels: frontend

alignment_fix
  frontend/src/components/admin/UserFormModal.tsx
Labels: frontend

fix: prevent duplicate toast notifications on language switch (#1505) (#1507)
  frontend/src/pages/InstallationPage.tsx
Labels: frontend

✨: Added Edit Option for Managing Cluster Labels in Remote Cluster Tree (#1500)
  frontend/src/components/WecsDetailsPanel.tsx
Labels: frontend

Fix: 404 / NotFound page crashes instead of rendering (#1502)
  frontend/src/pages/NotFoundPage.tsx
Labels: frontend
