Repository kubestellar/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, wds, frontend, ci, config, documentation, docker, other

.github/labeler.yml:

#
# Add component-specific labels
#

# Add 'backend' label for backend-related files
'backend':
  - backend/**

'wds':
  - backend/wds/**

# Add 'frontend' label for frontend-related files
'frontend':
  - frontend/**
  - frontend/**/*

# Add 'ci' label for GitHub Actions workflows
'ci':
  - .github/workflows/**

# Add 'config' label for configuration files
'config':
  - frontend/tailwind.config.js
  - frontend/vite.config.ts
  - frontend/eslint.config.js
  - frontend/tsconfig*.json
  - frontend/prettier.config.js
  - frontend/postcss.config.js

# Add 'documentation' label for documentation-related files
'documentation':
  - README.md
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**

# Add 'docker' label for Docker-related files
'docker':
  - frontend/Dockerfile
  - docker-compose.yml
  - frontend/.dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

# Add 'other' label as a fallback for any other files
'other':
  - '*'

ci: use GH_REPO_TOKEN for PR commenting
  .github/workflows/ci.yml
Labels: ci

ci: add token debug check
  .github/workflows/ci.yml
Labels: ci

feat: add GitHub issue creation for locale sync
  frontend/scripts/check-locale-sync.ts
Labels: frontend

fix: final locale sync improvements
  frontend/scripts/check-locale-sync.ts
Labels: frontend

fix README.md errors
  README.md
Labels: documentation, other

designed navbar
  docs/design-progress.md
Labels: none

designed navbar (#1665)
  docs/design-progress.md
Labels: none

Feat: Improve disabled button guidance with tooltips (#1571)
  frontend/src/components/common/ButtonTooltip.tsx
  frontend/src/components/workloads/AirtfactTab/ArtifactHubTab.tsx
  frontend/src/components/workloads/GitHubTab.tsx
  frontend/src/components/workloads/HelmTab/HelmTab.tsx
  frontend/src/components/workloads/UploadFileTab.tsx
  frontend/src/components/workloads/YamlTab.tsx
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
Labels: frontend

Fix: Command PAllet Border
  frontend/src/components/CommandPalette.tsx
Labels: frontend

Fix broken links \greeting.yml
  .github/workflows/greeting.yml
Labels: ci

Fix: Toggle button colors in dark mode for edge style controls
  frontend/src/components/wds_topology/ZoomControls.tsx
Labels: frontend

fix pretier
  frontend/src/components/wds_topology/ZoomControls.tsx
Labels: frontend

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, other

Fix: Command PAllet Border (#1669)
  frontend/src/components/CommandPalette.tsx
Labels: frontend

designed hero section
  docs/design-progress.md
Labels: none

Update CONTRIBUTING.md (#1672)
  CONTRIBUTING.md
Labels: documentation, other

Fix inconsistent button hover styling and tooltip implementation in ZoomControls component
  frontend/src/components/wds_topology/ZoomControls.tsx
Labels: frontend

Fix broken links \greeting.yml (#1667)
  .github/workflows/greeting.yml
Labels: ci

fix README.md errors (#1663)
  README.md
Labels: documentation, other

designed hero section (#1666)
  docs/design-progress.md
Labels: none

Fix inconsistent button hover styling and tooltip implementation in ZoomControls component (#1675)
  frontend/src/components/wds_topology/ZoomControls.tsx
Labels: frontend

New Toggle
  frontend/src/components/wds_topology/ZoomControls.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

Toggle
  frontend/src/components/wds_topology/ZoomControls.tsx
Labels: frontend

Fix minor grammar and punctuation in contributing guide
  CONTRIBUTING.md
Labels: documentation, other

Enhance: Add new plugin schema and make it compatible with existing codebase (#1642)
  backend/api/plugins.go
  backend/examples/cluster-monitor/plugin.tar.gz
  backend/examples/cluster-monitor/plugin.yml
  backend/examples/cluster-monitor/plugin/frontend/ClusterMonitor.tsx
  backend/main.go
  backend/middleware/auth.go
  backend/models/plugins.go
  backend/pkg/plugins/manager.go
  backend/pkg/plugins/registry.go
  backend/pkg/plugins/store.go
  backend/plugin/plugins/store.go
  backend/plugins/cluster-monitor-2/cluster-monitor.wasm
  backend/plugins/cluster-monitor-2/plugin.yml
  backend/postgresql/migrations/000004_install_plugin.down.sql
  backend/postgresql/migrations/000004_install_plugin.up.sql
  backend/routes/jwt.go
  backend/routes/plugins.go
  backend/test/api/plugins/plugins_test.go
  backend/test/middleware/auth_test.go
  backend/test/routes/jwt_test.go
  backend/test/routes/plugins/plugins_test.go
  backend/test/routes/setup_test.go
  backend/test/utils/jwt_test.go
  backend/utils/jwt.go
Labels: backend

Cluster vizualization In cluster table (#1648)
  frontend/src/components/its/ClustersTable/components/ClusterVisualization.tsx
  frontend/src/components/its/ClustersTable/components/TableContent.tsx
Labels: frontend

Feat : Toggle Button for curvy/square Edge with awesome UI/UX (#1636)
  frontend/src/components/wds_topology/ZoomControls.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

Fix minor grammar and punctuation in contributing guide (#1676)
  CONTRIBUTING.md
Labels: documentation, other

Update .prow.yaml
  .prow.yaml
Labels: other

Update .prow.yaml (#1677)
  .prow.yaml
Labels: other

fixes
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend

Fix spellcheck workflow: replace forbidden action with approved check-spelling action
  .github/spellcheck/.spellcheck.yml
  .github/workflows/spellcheck.yml
Labels: ci

Fix: Contributor graph
  README.md
Labels: documentation, other

Add test file with intentional misspellings to verify spellcheck workflow
  test-spellcheck.md
Labels: other

Delete test-spellcheck.md
  test-spellcheck.md
Labels: other

Fix: Contributor graph (#1678)
  README.md
Labels: documentation, other

fixes
  frontend/src/components/its/ClustersTable/ClustersTable.tsx
  frontend/src/components/its/ClustersTable/components/TableHeader.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

Update chart version example from 13.2.10 to 13.2.12 in localization files
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.zh-Hans.json
Labels: frontend

Update chart version example from 13.2.10 to 13.2.12 in localization files (#1680)
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.zh-Hans.json
Labels: frontend

Fixes
  .github/spellcheck/.spellcheck.yml
  .github/spellcheck/patterns.txt
  .github/workflows/spellcheck.yml
Labels: ci
