Repository kubestellar/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, wds, frontend, ci, config, documentation, docker, other

Fix: Dashboard Loading Delay (2+ Minutes to 5 sec) (#1499)
  backend/api/metrics.go
  backend/k8s/metrics.go
  frontend/src/hooks/queries/useBPQueries.ts
  frontend/src/hooks/queries/useClusterQueries.ts
  frontend/src/hooks/queries/useK8sQueries.ts
  frontend/src/hooks/queries/useWDSQueries.ts
  frontend/src/pages/Dashboard.tsx
Labels: backend, frontend

Fix:full screen-conflicts
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.ja.json
  frontend/src/pages/NotFoundPage.tsx
Labels: frontend

fix:preetier
  frontend/src/pages/NotFoundPage.tsx
Labels: frontend

Fix: Missing translations for the NotFoundPage & properly styled with localized text (#1503)
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.ja.json
  frontend/src/pages/NotFoundPage.tsx
Labels: frontend

Feat: Resource Filter and Resource Explorer
  backend/k8s/resources.go
  backend/namespace/namespace.go
  backend/routes/resources.go
  frontend/src/components/ListViewComponent.tsx
  frontend/src/components/ResourceFilters.tsx
  frontend/src/components/TreeViewComponent.tsx
  frontend/src/components/menu/useMenuData.ts
  frontend/src/components/treeView/TreeViewCanvas.tsx
  frontend/src/components/treeView/TreeViewFilters.tsx
  frontend/src/hooks/useResourceFilters.ts
  frontend/src/locales/strings.en.json
  frontend/src/pages/ResourceFilterPage.tsx
  frontend/src/routes/routes-config.tsx
  frontend/src/services/resourceService.ts
Labels: backend, frontend

fix:locals
  frontend/src/locales/strings.en.json
Labels: frontend

Fix: Errors
  backend/k8s/resources.go
  backend/namespace/namespace.go
  backend/routes/resources.go
  frontend/src/components/ListViewComponent.tsx
  frontend/src/components/TreeViewComponent.tsx
  frontend/src/pages/ResourceFilterPage.tsx
Labels: backend, frontend

FIX: renamed
  frontend/src/components/GroupPanel.tsx
  frontend/src/components/WecsDetailsPanel.tsx
  frontend/src/components/wds_topology/NodeLabel.tsx
Labels: frontend

feat(frontend): Implement persistent network error toast
  frontend/src/components/CreateOptions.tsx
  frontend/src/components/NetworkErrorToastManager.tsx
  frontend/src/lib/api.ts
  frontend/src/main.tsx
  frontend/src/stores/networkErrorStore.ts
  frontend/src/utils/networkErrorUtils.ts
  frontend/src/utils/toastUtils.ts
Labels: frontend

feat(frontend): show persistent global toast for network errors
  frontend/src/components/CreateOptions.tsx
Labels: frontend

Improves user experience during backend disconnection or downtime
  frontend/src/components/CreateOptions.tsx
Labels: frontend

feat(frontend): replace repeated network error toasts with persistent global alert
  frontend/src/utils/toastUtils.ts
Labels: frontend

Automatically clear network error toast on backend recovery
  backend/routes/setup.go
  frontend/src/hooks/useBackendHealthCheck.ts
  frontend/src/lib/api.ts
  frontend/src/main.tsx
Labels: backend, frontend

Auto-dismiss network error toast on backend recovery
  package-lock.json
Labels: other

Improve network error toast auto-recovery
  backend/routes/setup.go
  frontend/src/lib/api.ts
Labels: backend, frontend

Resource Explorer and Filtering Implementation (#1514)
  backend/k8s/resources.go
  backend/namespace/namespace.go
  backend/routes/resources.go
  frontend/src/components/GroupPanel.tsx
  frontend/src/components/ListViewComponent.tsx
  frontend/src/components/ResourceFilters.tsx
  frontend/src/components/TreeViewComponent.tsx
  frontend/src/components/WecsDetailsPanel.tsx
  frontend/src/components/menu/useMenuData.ts
  frontend/src/components/treeView/TreeViewCanvas.tsx
  frontend/src/components/treeView/TreeViewFilters.tsx
  frontend/src/components/wds_topology/NodeLabel.tsx
  frontend/src/hooks/useResourceFilters.ts
  frontend/src/locales/strings.en.json
  frontend/src/pages/ResourceFilterPage.tsx
  frontend/src/routes/routes-config.tsx
  frontend/src/services/resourceService.ts
Labels: backend, frontend

Implement backend status polling for toast auto-dismissal
  backend/routes/setup.go
Labels: backend

Enhance: Update pluginManifest structure as in wasm doc (#1496)
  backend/api/plugins.go
  backend/examples/cluster-monitor/plugin.tar.gz
  backend/examples/cluster-monitor/plugin.yml
  backend/pkg/plugins/loader.go
  backend/pkg/plugins/manager.go
  backend/pkg/plugins/registry.go
Labels: backend

Delete package-lock.json
  package-lock.json
Labels: other

feat: replace repeated network error toasts with persistent global alert (#1448)
  frontend/src/components/NetworkErrorToastManager.tsx
  frontend/src/hooks/useBackendHealthCheck.ts
  frontend/src/lib/api.ts
  frontend/src/main.tsx
  frontend/src/stores/networkErrorStore.ts
  frontend/src/utils/networkErrorUtils.ts
Labels: frontend

added: missing resource explorer
  frontend/src/components/CommandPalette.tsx
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.ja.json
Labels: frontend

add wasi for tiny go build (#1506)
  backend/examples/cluster-monitor/Makefile
  backend/examples/cluster-monitor/cluster-monitor.wasm
  backend/examples/cluster-monitor/plugin.tar.gz
  backend/pkg/plugins/manager.go
Labels: backend

added: missing resource explorer (#1520)
  frontend/src/components/CommandPalette.tsx
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.ja.json
Labels: frontend

validation_backend,translation
  backend/admin/auth.go
  backend/routes/jwt.go
  backend/utils/validation.go
  frontend/src/components/admin/UserFormModal.tsx
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
  frontend/src/locales/strings.zh-Hant.json
Labels: backend, frontend

formatting
  backend/admin/auth.go
  backend/utils/validation.go
Labels: backend

fixes dropdown namespace issye
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend

dep
  backend/go.sum
Labels: backend

fixes lint
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend

dep
  backend/go.mod
  backend/go.sum
Labels: backend

remove ks-report
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend

dep
  backend/go.sum
Labels: backend

dep
  backend/test/telemetry/k8s_client_metrics_test.go
Labels: backend

dep
  backend/go.sum
Labels: backend

fixes Transparency
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend

feat: Implement cluster plugin handlers return actual value and also implemented /read_data handler
  backend/examples/cluster-monitor/cluster-monitor.wasm
  backend/examples/cluster-monitor/main.go
  backend/examples/cluster-monitor/plugin.tar.gz
  backend/examples/cluster-monitor/plugin.yml
Labels: backend

wecs_structured
  frontend/src/components/WecsTopology.tsx
  frontend/src/components/wecsTopology/WecsTopology.tsx
  frontend/src/components/wecsTopology/WecsTopologyData.ts
  frontend/src/components/wecsTopology/WecsTopologyEventHandlers.ts
  frontend/src/components/wecsTopology/WecsTopologyInterfaces.ts
  frontend/src/components/wecsTopology/WecsTopologyLayout.ts
  frontend/src/components/wecsTopology/WecsTopologyNodeHandling.tsx
  frontend/src/components/wecsTopology/WecsTopologyUtils.ts
  frontend/src/routes/routes-config.tsx
Labels: frontend

lint fixes
  frontend/src/components/wecsTopology/WecsTopology.tsx
  frontend/src/components/wecsTopology/WecsTopologyData.ts
  frontend/src/components/wecsTopology/WecsTopologyEventHandlers.ts
  frontend/src/components/wecsTopology/WecsTopologyNodeHandling.tsx
  frontend/src/components/wecsTopology/WecsTopologyUtils.ts
Labels: frontend

feat: add unmounted reference to prevent state updates on unmounted components
  frontend/src/components/DetachmentLogsDialog.tsx
  frontend/src/components/ListViewComponent.tsx
  frontend/src/components/OnboardingLogsDisplay.tsx
  frontend/src/components/WecsDetailsPanel.tsx
  frontend/src/context/WebSocketProvider.tsx
  frontend/src/hooks/queries/useWebSocketQuery.ts
Labels: frontend

refactor: remove unused Header component from ITS page
  frontend/src/pages/ITS.tsx
Labels: frontend

chore: improve the responsivness of the login page
  frontend/src/components/login/KubeStellarLayout.tsx
Labels: frontend

.github/labeler.yml:

#
# Add component-specific labels
#

# Add 'backend' label for backend-related files
'backend':
  - backend/**

'wds':
  - backend/wds/**

# Add 'frontend' label for frontend-related files
'frontend':
  - frontend/**
  - frontend/**/*

# Add 'ci' label for GitHub Actions workflows
'ci':
  - .github/workflows/**

# Add 'config' label for configuration files
'config':
  - frontend/tailwind.config.js
  - frontend/vite.config.ts
  - frontend/eslint.config.js
  - frontend/tsconfig*.json
  - frontend/prettier.config.js
  - frontend/postcss.config.js

# Add 'documentation' label for documentation-related files
'documentation':
  - README.md
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**

# Add 'docker' label for Docker-related files
'docker':
  - frontend/Dockerfile
  - docker-compose.yml
  - frontend/.dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

# Add 'other' label as a fallback for any other files
'other':
  - '*'
