Repository kubestellar/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, wds, frontend, ci, config, documentation, docker, other

fix(chart): move Redis to Helm dependency, clean up values and remove custom Redis templates
  chart/templates/deployment-redis.yaml
  chart/templates/pvc-redis.yaml
  chart/templates/service-redis.yaml
  chart/values.yaml
Labels: none

chore(chart): add Redis Helm dependency chart after update
  chart/charts/redis-21.2.5.tgz
Labels: none

Added for telemetry/external_ops_metrics.go (#1425)
  backend/test/telemetry/external_ops_metrics_test.go
Labels: backend

Added test for telemetry/kubestellar_metric.go (#1422)
  backend/test/telemetry/kubestellar_metric_test.go
Labels: backend

Added test for telemetry/web_socket_metrics.go (#1421)
  backend/test/telemetry/web_socket_metrics_test.go
Labels: backend

fix: update .gitignore to include Chart.lock and charts/ as requested by maintainers
  .gitignore
Labels: other

Fixed git commit when using docker
  docker-compose.yml
  frontend/Dockerfile
Labels: frontend, docker, other

chore(chart): remove charts/ directory from commit as requested by maintainer
  chart/charts/redis-21.2.5.tgz
Labels: none

fix linting
  backend/api/chatbot.go
  backend/go.mod
  backend/go.sum
  backend/llm/chatbot.go
  backend/main.go
  backend/routes/chatbot.go
  backend/routes/setup.go
Labels: backend

Fixed git commit when using docker (#1449)
  docker-compose.yml
  frontend/Dockerfile
Labels: frontend, docker, other

remove empty lines from EN locale
  frontend/src/locales/strings.en.json
Labels: frontend

IT locale
  frontend/src/locales/strings.it.json
Labels: frontend

fix: change test case to previous one
  backend/test/wds/deployment/details_test.go
Labels: backend

revert status.go changes as well
  backend/test/wds/deployment/status_test.go
Labels: backend

remove empty lines from EN locale (#1453)
  frontend/src/locales/strings.en.json
Labels: frontend

revert test changes
  backend/test/api/detach_test.go
  backend/test/api/manage_clusters_test.go
Labels: backend

Updated Local Translations
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.ja.json
Labels: frontend

Backend-ENV-Setup
  README.md
Labels: documentation, other

Backend-ENV-Setup (#1454)
  README.md
Labels: documentation, other

Updated Local Translations (#1433)
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.ja.json
Labels: frontend

fix
  backend/go.mod
  backend/go.sum
Labels: backend

Add WASM Plugin and implement backend plugin services (#1391)
  .husky/pre-commit
  backend/api/plugins.go
  backend/examples/cluster-monitor/Makefile
  backend/examples/cluster-monitor/build/cluster-monitor.wasm
  backend/examples/cluster-monitor/cluster-monitor.wasm
  backend/examples/cluster-monitor/frontend/ClusterMonitor.tsx
  backend/examples/cluster-monitor/main.go
  backend/examples/cluster-monitor/plugin.tar.gz
  backend/examples/cluster-monitor/plugin.wasm
  backend/examples/cluster-monitor/plugin.yml
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/pkg/plugins/api_bridge.go
  backend/pkg/plugins/loader.go
  backend/pkg/plugins/manager.go
  backend/pkg/plugins/registry.go
  backend/pkg/plugins/wasm_runtime.go
  backend/pkg/plugins/watcher.go
  backend/test/api/plugins_test.go
  backend/test/routes/jwt_test.go
  backend/test/routes/metrics_test.go
  backend/test/routes/namespace_test.go
  backend/test/wds/deployment/details_test.go
  backend/test/wds/deployment/status_test.go
Labels: backend

add
  backend/go.sum
Labels: backend

bug fix for languageswitcher dropdown
  frontend/src/components/LanguageSwitcher.tsx
Labels: frontend

fix minor lints again
  backend/api/chatbot.go
  backend/llm/main.go
  frontend/src/chatbot/ActionProvider.ts
  frontend/src/chatbot/ChatbotComponent.tsx
  frontend/src/chatbot/MessageParser.ts
  frontend/src/chatbot/components/BotChatMessage.tsx
  frontend/src/chatbot/components/CustomChatInput.tsx
  frontend/src/chatbot/components/UserChatMessage.tsx
  frontend/src/components/chatbot/ActionProvider.tsx
  frontend/src/components/chatbot/MessageParser.tsx
Labels: backend, frontend

modify chatbot
  backend/api/chatbot.go
Labels: backend

fix lint
  backend/llm/main.go
  frontend/src/chatbot/ActionProvider.ts
  frontend/src/chatbot/ChatbotComponent.tsx
  frontend/src/chatbot/MessageParser.ts
  frontend/src/chatbot/components/BotChatMessage.tsx
  frontend/src/chatbot/components/CustomChatInput.tsx
  frontend/src/chatbot/components/UserChatMessage.tsx
  frontend/src/components/chatbot/ActionProvider.tsx
  frontend/src/components/chatbot/MessageParser.tsx
Labels: backend, frontend

fix lint
  frontend/src/chatbot/ChatbotComponent.tsx
  frontend/src/chatbot/components/BotChatMessage.tsx
  frontend/src/chatbot/components/UserChatMessage.tsx
  frontend/src/components/chatbot/config.ts
Labels: frontend

fix lint
  frontend/src/chatbot/ChatbotComponent.tsx
  frontend/src/chatbot/components/BotChatMessage.tsx
  frontend/src/chatbot/components/UserChatMessage.tsx
Labels: frontend

bug fix for languageswitcher dropdown (#1455)
  frontend/src/components/LanguageSwitcher.tsx
Labels: frontend

added Trivy Vulnerability Scanner (#1343)
  .github/workflows/report-on-vulnerabilities.yaml
Labels: ci

fix lint
  frontend/src/chatbot/ChatbotComponent.tsx
Labels: frontend

fix lint
  frontend/src/chatbot/ChatbotComponent.tsx
Labels: frontend

IT locale (#1452)
  frontend/src/locales/strings.it.json
Labels: frontend

Fixes vulnerability scanner permissions with scheduled runs
  .github/workflows/report-on-vulnerabilities.yaml
Labels: ci

fix: address maintainer feedback - make refresh endpoint configurable and add coverage/ to eslint ignores
  frontend/eslint.config.js
  frontend/src/lib/api.ts
Labels: frontend, config

ci: fix helm chart test by building dependencies before lint/install
  .github/workflows/ci.yml
Labels: ci

test: Add PostgreSQL database test cases (#1440)
  backend/go.mod
  backend/test/postgresql/Database/connection_test.go
  backend/test/postgresql/config_test.go
Labels: backend

Update report-on-vulnerabilities.yaml
  .github/workflows/report-on-vulnerabilities.yaml
Labels: ci

Update report-on-vulnerabilities.yaml
  .github/workflows/report-on-vulnerabilities.yaml
Labels: ci

.github/labeler.yml:

#
# Add component-specific labels
#

# Add 'backend' label for backend-related files
'backend':
  - backend/**

'wds':
  - backend/wds/**

# Add 'frontend' label for frontend-related files
'frontend':
  - frontend/**
  - frontend/**/*

# Add 'ci' label for GitHub Actions workflows
'ci':
  - .github/workflows/**

# Add 'config' label for configuration files
'config':
  - frontend/tailwind.config.js
  - frontend/vite.config.ts
  - frontend/eslint.config.js
  - frontend/tsconfig*.json
  - frontend/prettier.config.js
  - frontend/postcss.config.js

# Add 'documentation' label for documentation-related files
'documentation':
  - README.md
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**

# Add 'docker' label for Docker-related files
'docker':
  - frontend/Dockerfile
  - docker-compose.yml
  - frontend/.dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

# Add 'other' label as a fallback for any other files
'other':
  - '*'
