Repository kubestellar/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, wds, frontend, ci, config, documentation, docker, other

Chat in ks (#1450)
  backend/api/chatbot.go
  backend/go.mod
  backend/go.sum
  backend/indexer/main.go
  backend/llm/gemini.go
  backend/llm/indexer.go
  backend/llm/main.go
  backend/main.go
  backend/routes/chatbot.go
  backend/routes/setup.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/chatbot/ActionProvider.ts
  frontend/src/chatbot/Chatbot.css
  frontend/src/chatbot/ChatbotComponent.tsx
  frontend/src/chatbot/ChatbotV2.css
  frontend/src/chatbot/MessageParser.ts
  frontend/src/chatbot/components/BotChatMessage.tsx
  frontend/src/chatbot/components/CustomChatInput.tsx
  frontend/src/chatbot/components/CustomHeader.tsx
  frontend/src/chatbot/components/UserChatMessage.tsx
  frontend/src/components/chatbot/ActionProvider.tsx
  frontend/src/components/chatbot/Chatbot.css
  frontend/src/components/chatbot/Chatbot.tsx
  frontend/src/components/chatbot/ChatbotLauncher.css
  frontend/src/components/chatbot/ChatbotLauncher.tsx
  frontend/src/components/chatbot/MessageParser.tsx
  frontend/src/components/chatbot/config.ts
Labels: backend, frontend

designed get started section
  docs/design-progress.md
Labels: none

designed get started section (#1700)
  docs/design-progress.md
Labels: none

reslove conflicts
  docs/design-progress.md
Labels: none

reslove conflicts (#1701)
  docs/design-progress.md
Labels: none

Fixes Page Zoom-In Effect When Selecting Filters (#1688)
  frontend/src/components/ResourceFilters.tsx
Labels: frontend

fix: Update language codes in LanguageSwitcher component to fix the button code error
  frontend/src/components/LanguageSwitcher.tsx
Labels: frontend

feat: add local storage interface
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/marketplace/local.go
  backend/marketplace/r2.go
  backend/marketplace/storage.go
Labels: backend

Update LanguageSwitcher.tsx
  frontend/src/components/LanguageSwitcher.tsx
Labels: frontend

Fix chatbot alignment issue causing overflow on send icon. Add support for both light and dark themes
  frontend/src/chatbot/ChatbotV2.css
  frontend/src/components/chatbot/Chatbot.css
Labels: frontend

fix: resolve prettier formatting issues
  CONTRIBUTING.md
  backend/examples/cluster-monitor/frontend/ClusterMonitor.tsx
  docs/design-progress.md
  frontend/src/chatbot/ChatbotV2.css
  frontend/src/components/Layout.tsx
  frontend/src/components/ProfileSection.tsx
  frontend/src/components/chatbot/Chatbot.css
  frontend/src/components/login/LoginForm.tsx
  frontend/src/components/menu/MenuItem.tsx
  frontend/src/components/skeleton/FullScreenToggle.tsx
  frontend/src/components/skeleton/HeaderSkeleton.tsx
  monitoring/grafana/dashboards/go-runtime.json
  monitoring/grafana/dashboards/infrastructure.json
  monitoring/grafana/dashboards/kubestellar-business.json
  monitoring/grafana/dashboards/kubestellar-overview.json
  package-lock.json
  package.json
Labels: backend, frontend, documentation, other

fix(i18n): Correct language codes for Chinese translations (#1702)
  frontend/src/components/LanguageSwitcher.tsx
Labels: frontend

Fix: Block access to disabled plugin route (#1695)
  backend/middleware/plugin.go
  backend/pkg/plugins/manager.go
Labels: backend

New- control
  frontend/src/components/wds_topology/ZoomControls.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

refactor: update the AWS resolver endpoint to V2
  backend/marketplace/manager.go
  backend/marketplace/r2.go
  backend/marketplace/storage.go
Labels: backend

Fix chatbot alignment issue causing overflow on send icon
  frontend/src/components/chatbot/Chatbot.css
  frontend/src/components/chatbot/Chatbot.tsx
  frontend/src/components/chatbot/ChatbotLauncher.css
  frontend/src/components/chatbot/ChatbotLauncher.tsx
Labels: frontend

New treeview
  frontend/src/components/treeView/TreeViewCanvas.tsx
  frontend/src/components/treeView/TreeViewContextMenu.tsx
  frontend/src/components/treeView/TreeViewEdges.tsx
  frontend/src/components/treeView/TreeViewNodes.tsx
  frontend/src/components/treeView/hooks/useTreeViewData.ts
  frontend/src/components/treeView/types.ts
  frontend/src/stores/edgeTypeStore.ts
Labels: frontend

New- control (#1707)
  frontend/src/components/wds_topology/ZoomControls.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

add skelton
  frontend/src/components/skeleton/UnifiedSkeleton.tsx
Labels: frontend

flowcanvas, nodelabel
  frontend/src/components/wds_topology/FlowCanvas.tsx
  frontend/src/components/wds_topology/NodeLabel.tsx
Labels: frontend

TreeView component with adorable UI, modern UX, and smooth performance. (#1709)
  frontend/src/components/skeleton/UnifiedSkeleton.tsx
  frontend/src/components/treeView/TreeViewCanvas.tsx
  frontend/src/components/treeView/TreeViewContextMenu.tsx
  frontend/src/components/treeView/TreeViewEdges.tsx
  frontend/src/components/treeView/TreeViewNodes.tsx
  frontend/src/components/treeView/hooks/useTreeViewData.ts
  frontend/src/components/treeView/types.ts
  frontend/src/stores/edgeTypeStore.ts
Labels: frontend

fixed scroll using arrow keys
  frontend/src/components/CommandPalette.tsx
Labels: frontend

flowcanvas, nodelabel (#1711)
  frontend/src/components/wds_topology/FlowCanvas.tsx
  frontend/src/components/wds_topology/NodeLabel.tsx
Labels: frontend

designed footer
  docs/design-progress.md
Labels: none

final treeview
  frontend/src/components/TreeViewComponent.tsx
Labels: frontend

final treeview (#1712)
  frontend/src/components/TreeViewComponent.tsx
Labels: frontend

Brand new WECS and perfomace optmized
  frontend/src/components/WecsTopology.tsx
Labels: frontend

Brand new WECS and perfomace optmized (#1716)
  frontend/src/components/WecsTopology.tsx
Labels: frontend

WECS-Treeview Skelton
  frontend/src/components/skeleton/TreeViewSkeleton.tsx
  frontend/src/components/skeleton/WDSSkeleton.tsx
  frontend/src/components/skeleton/WecsTreeviewSkeleton.tsx
  frontend/src/pages/WDS.tsx
Labels: frontend

designed footer (#1715)
  docs/design-progress.md
Labels: none

WECS-Treeview Skelton (#1717)
  frontend/src/components/skeleton/TreeViewSkeleton.tsx
  frontend/src/components/skeleton/WDSSkeleton.tsx
  frontend/src/components/skeleton/WecsTreeviewSkeleton.tsx
  frontend/src/pages/WDS.tsx
Labels: frontend

fixed scroll using arrow keys (#1714)
  frontend/src/components/CommandPalette.tsx
Labels: frontend

feat: upload plugin file to Cloudflare R2 Storage
  backend/api/marketplace.go
  backend/main.go
  backend/marketplace/local.go
  backend/marketplace/manager.go
  backend/marketplace/storage.go
  backend/pkg/config/config.go
  backend/postgresql/config.go
  backend/routes/marketplace.go
  backend/routes/setup.go
  backend/test/pkg/config/config_test.go
Labels: backend

Refactor backend health check API endpoint in useBackendHealthCheck hook
  frontend/src/hooks/useBackendHealthCheck.ts
Labels: frontend

frontend: InstallationPage: feat: Add translations for command palette
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.hi.json
  frontend/src/pages/InstallationPage.tsx
Labels: frontend

Update Issue
  frontend/package-lock.json
  frontend/src/locales/strings.en.json
  frontend/src/pages/InstallationPage.tsx
Labels: frontend

Fix chatbot alignment issue causing overflow on send icon (#1708)
  frontend/src/components/chatbot/Chatbot.css
  frontend/src/components/chatbot/Chatbot.tsx
  frontend/src/components/chatbot/ChatbotLauncher.css
  frontend/src/components/chatbot/ChatbotLauncher.tsx
Labels: frontend

Minor Bugs in Installation Page
  frontend/src/pages/InstallationPage.tsx
Labels: frontend

removed margintop
  frontend/src/pages/InstallationPage.tsx
Labels: frontend

chore: Update PostgreSQL initialization path in docker-compose.yml to use migrations directory
  docker-compose.yml
Labels: docker, other

.github/labeler.yml:

#
# Add component-specific labels
#

# Add 'backend' label for backend-related files
'backend':
  - backend/**

'wds':
  - backend/wds/**

# Add 'frontend' label for frontend-related files
'frontend':
  - frontend/**
  - frontend/**/*

# Add 'ci' label for GitHub Actions workflows
'ci':
  - .github/workflows/**

# Add 'config' label for configuration files
'config':
  - frontend/tailwind.config.js
  - frontend/vite.config.ts
  - frontend/eslint.config.js
  - frontend/tsconfig*.json
  - frontend/prettier.config.js
  - frontend/postcss.config.js

# Add 'documentation' label for documentation-related files
'documentation':
  - README.md
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**

# Add 'docker' label for Docker-related files
'docker':
  - frontend/Dockerfile
  - docker-compose.yml
  - frontend/.dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

# Add 'other' label as a fallback for any other files
'other':
  - '*'
