Repository kubestellar/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, wds, frontend, ci, config, documentation, docker, other

.github/labeler.yml:

#
# Add component-specific labels
#

# Add 'backend' label for backend-related files
'backend':
  - backend/**

'wds':
  - backend/wds/**

# Add 'frontend' label for frontend-related files
'frontend':
  - frontend/**
  - frontend/**/*

# Add 'ci' label for GitHub Actions workflows
'ci':
  - .github/workflows/**

# Add 'config' label for configuration files
'config':
  - frontend/tailwind.config.js
  - frontend/vite.config.ts
  - frontend/eslint.config.js
  - frontend/tsconfig*.json
  - frontend/prettier.config.js
  - frontend/postcss.config.js

# Add 'documentation' label for documentation-related files
'documentation':
  - README.md
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**

# Add 'docker' label for Docker-related files
'docker':
  - frontend/Dockerfile
  - docker-compose.yml
  - frontend/.dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

# Add 'other' label as a fallback for any other files
'other':
  - '*'

Fixes vulnerability scanner permissions with scheduled runs (#1459)
  .github/workflows/report-on-vulnerabilities.yaml
Labels: ci

refactor(auth): move refresh token logic to login/tokenUtils.ts as per maintainer feedback
  frontend/src/components/login/tokenUtils.ts
  frontend/src/lib/api.ts
Labels: frontend

fix: resolve linter errors after token utils refactor
  frontend/src/components/login/tokenUtils.ts
  frontend/src/hooks/queries/useLogin.ts
  frontend/src/lib/api.ts
Labels: frontend

fix: restore .gitignore patterns as requested by maintainer
  .gitignore
Labels: other

Plugin .tar.gz file can be uploaded to backend
  frontend/src/components/PluginManager.tsx
  frontend/src/plugins/PluginAPI.ts
Labels: frontend

update placeholder text
  frontend/src/components/PluginManager.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

Implemented Metric Dashboard
  frontend/src/components/MetricsDashboard.tsx
  frontend/src/components/menu/useMenuData.ts
  frontend/src/hooks/queries/useMetricsQueries.ts
  frontend/src/locales/strings.en.json
  frontend/src/routes/routes-config.tsx
Labels: frontend

Fixes lint
  frontend/src/components/MetricsDashboard.tsx
  frontend/src/hooks/queries/useMetricsQueries.ts
Labels: frontend

Updated Backend
  backend/k8s/metrics.go
  backend/routes/metrics.go
Labels: backend

Fixes Frontend
  frontend/src/components/Clusters.tsx
  frontend/src/hooks/queries/useK8sQueries.ts
Labels: frontend

Fixes lint
  backend/k8s/metrics.go
  frontend/src/components/Clusters.tsx
Labels: backend, frontend

Fix CPU and Memory Usage to Use Real Kubernetes Metrics Instead of Hardcoded Values (#1466)
  backend/k8s/metrics.go
  backend/routes/metrics.go
  frontend/src/components/Clusters.tsx
  frontend/src/hooks/queries/useK8sQueries.ts
Labels: backend, frontend

Implemented Prometheus Metrics Dashboard (#1464)
  frontend/src/components/MetricsDashboard.tsx
  frontend/src/components/menu/useMenuData.ts
  frontend/src/hooks/queries/useMetricsQueries.ts
  frontend/src/locales/strings.en.json
  frontend/src/routes/routes-config.tsx
Labels: frontend

Fixes Typeerrorin Metric Dashboard
  frontend/src/components/MetricsDashboard.tsx
Labels: frontend

Fixes LInt
  frontend/src/components/MetricsDashboard.tsx
Labels: frontend

Fixes Typeerror in Metric Dashboard (#1469)
  frontend/src/components/MetricsDashboard.tsx
Labels: frontend

✨feat: move Redis to dependent chart and clean up values and templates (#1148)
  .github/workflows/ci.yml
  .gitignore
  chart/Chart.yaml
  chart/templates/deployment-backend.yaml
  chart/templates/deployment-redis.yaml
  chart/templates/pvc-redis.yaml
  chart/templates/service-redis.yaml
  chart/values.yaml
Labels: ci, other

Fix: left files
  frontend/src/pages/BP.tsx
  frontend/src/utils/yamlGenerator.ts
Labels: frontend

Fix: lint
  frontend/src/pages/BP.tsx
  frontend/src/utils/yamlGenerator.ts
Labels: frontend

refactor(auth): use jwt-decode for robust JWT parsing and type safety in tokenUtils.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/login/tokenUtils.ts
Labels: frontend

fix(auth): remove explicit any from JwtPayload for linter compliance
  frontend/src/components/login/tokenUtils.ts
Labels: frontend

feat(plugin-security): add plugin marketplace security scanning, Galaxy Safe badge, and rejection of unsafe plugins
  backend/api/plugins.go
  backend/models/plugins.go
  backend/pkg/plugins/security_scanner.go
  backend/pkg/plugins/security_scanner_test.go
  backend/postgresql/migrations/000003_plugin_security.down.sql
  backend/postgresql/migrations/000003_plugin_security.up.sql
  backend/routes/plugins.go
  frontend/src/components/PluginManager.tsx
  frontend/src/components/plugin/SecurityBadge.tsx
  frontend/src/components/plugin/SecurityScanModal.tsx
  frontend/src/locales/strings.en.json
  frontend/src/plugins/PluginAPI.ts
Labels: backend, frontend

fix: format frontend files with prettier
  chart/Chart.lock
  frontend/src/components/PluginManager.tsx
  frontend/src/components/plugin/SecurityBadge.tsx
  frontend/src/components/plugin/SecurityScanModal.tsx
Labels: frontend

fix: resolve ESLint errors - remove unused imports and replace any types
  frontend/src/components/plugin/SecurityScanModal.tsx
  frontend/src/plugins/PluginAPI.ts
Labels: frontend

fix: ensure proper prettier formatting for PluginAPI.ts
  frontend/src/plugins/PluginAPI.ts
Labels: frontend

fix: add Bitnami repository to Helm chart test CI
  .github/workflows/ci.yml
  scripts/helm-test.sh
Labels: ci

fix: resolve merge conflict in CI workflow - combine Bitnami repo and Helm dependencies
  .github/workflows/ci.yml
Labels: ci

Added the 9090 Port in .env.example
  frontend/.env.example
Labels: frontend

Added the 9090 Port in .env.example (#1473)
  frontend/.env.example
Labels: frontend

Fixes the Auto refresh
  frontend/src/components/MetricsDashboard.tsx
Labels: frontend

Also Fixes the hardcoded Prometheus URLs
  frontend/src/hooks/queries/useMetricsQueries.ts
  frontend/vite.config.ts
Labels: frontend, config

Fixes lint
  frontend/src/hooks/queries/useMetricsQueries.ts
Labels: frontend

add toast for notification
  frontend/src/components/PluginManager.tsx
Labels: frontend

add toast for notification (#1477)
  frontend/src/components/PluginManager.tsx
Labels: frontend

Plugin .tar.gz file can be uploaded to backend from frontend (#1463)
  frontend/src/components/PluginManager.tsx
  frontend/src/locales/strings.en.json
  frontend/src/plugins/PluginAPI.ts
Labels: frontend

resp_fixed
  frontend/src/components/ClustersTable.tsx
  frontend/src/components/WecsDetailsPanel.tsx
Labels: frontend

formatting
  frontend/src/components/ClustersTable.tsx
Labels: frontend

Fixed Responsiveness Issue with some basic components #1479 (#1480)
  frontend/src/components/ClustersTable.tsx
  frontend/src/components/WecsDetailsPanel.tsx
Labels: frontend

✨fix(auth): properly type Axios request config for retry logic (#1360)
  .eslintignore
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/login/tokenUtils.ts
  frontend/src/hooks/queries/useLogin.ts
  frontend/src/lib/api.ts
Labels: frontend, config, other

added hindi
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/i18n.ts
  frontend/src/locales/strings.hi.json
Labels: frontend
