Repository kubestellar/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, wds, frontend, ci, config, documentation, docker, other

.github/labeler.yml:

#
# Add component-specific labels
#

# Add 'backend' label for backend-related files
'backend':
  - backend/**

'wds':
  - backend/wds/**

# Add 'frontend' label for frontend-related files
'frontend':
  - frontend/**
  - frontend/**/*

# Add 'ci' label for GitHub Actions workflows
'ci':
  - .github/workflows/**

# Add 'config' label for configuration files
'config':
  - frontend/tailwind.config.js
  - frontend/vite.config.ts
  - frontend/eslint.config.js
  - frontend/tsconfig*.json
  - frontend/prettier.config.js
  - frontend/postcss.config.js

# Add 'documentation' label for documentation-related files
'documentation':
  - README.md
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**

# Add 'docker' label for Docker-related files
'docker':
  - frontend/Dockerfile
  - docker-compose.yml
  - frontend/.dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

# Add 'other' label as a fallback for any other files
'other':
  - '*'

fixes
  frontend/src/components/MetricsDashboard.tsx
Labels: frontend

fixes
  frontend/src/components/MetricsDashboard.tsx
Labels: frontend

Added test for k8s/metrics
  backend/k8s/metrics.go
  backend/test/k8s/metrics_test.go
Labels: backend

refactor: remove unused Header component from ITS page (#1532)
  frontend/src/pages/ITS.tsx
Labels: frontend

Filter Out System Namespaces from Resource Explorer Namespace Dropdown (#1523)
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend

refactor: switch to pluginID instead of pluginName, store plugin details to the database
  backend/api/plugins.go
  backend/main.go
  backend/pkg/plugins/manager.go
  backend/pkg/plugins/registry.go
  backend/pkg/plugins/store.go
  backend/pkg/plugins/wasm_runtime.go
  backend/pkg/plugins/watcher.go
  backend/plugin/plugin.go
  backend/plugin/plugins/backup_plugin.go
  backend/plugin/plugins/manager.go
Labels: backend

chore: added tooltip to the main menu icon
  frontend/src/components/Layout.tsx
Labels: frontend

doc: add CONTRIBUTOR_LADDER.md
  CONTRIBUTOR_LADDER.md
Labels: other

✨feat: added unit tests for wecs package
  backend/test/wecs/exec_test.go
  backend/test/wecs/wecs_test.go
  backend/wecs/exec.go
Labels: backend

fixed the formatting
  backend/test/wecs/wecs_test.go
Labels: backend

fix #1522
  frontend/src/locales/strings.en.json
Labels: frontend

Fix: 1538
  backend/k8s/deployer.go
Labels: backend

chore: update version references to 0.28.0 across backend and frontend components
  backend/test/wds/common_test.go
  backend/wds/common.go
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/ProfileSection.tsx
  frontend/src/pages/InstallationPage.tsx
Labels: backend, wds, frontend

chore: improve the responsivness of the login page (#1534)
  frontend/src/components/login/KubeStellarLayout.tsx
Labels: frontend

chore: temporary changes on plugins
  backend/api/plugins.go
  backend/examples/cluster-monitor/plugin/cluster-monitor.wasm
  backend/examples/cluster-monitor/plugin/frontend/ClusterMonitor.tsx
  backend/examples/cluster-monitor/plugin/plugin.yml
  backend/examples/plugin-updated.tar.gz
  backend/examples/plugin1.tar.gz
  backend/pkg/plugins/manager.go
  backend/plugin/plugins/handlers.go
  backend/plugin/plugins/store.go
  backend/plugins/cluster-monitor-28/cluster-monitor.wasm
  backend/plugins/cluster-monitor-28/plugin.yml
  backend/plugins/cluster-monitor-29/cluster-monitor.wasm
  backend/plugins/cluster-monitor-29/plugin.yml
  backend/plugins/cluster-monitor-30/cluster-monitor.wasm
  backend/plugins/cluster-monitor-30/plugin.yml
  backend/plugins/cluster-monitor-31/cluster-monitor.wasm
  backend/plugins/cluster-monitor-31/plugin.yml
  backend/test/api/plugins/plugins_test.go
  its1.yaml
  ocm-darwin-arm64.tar.gz
  wds1.yaml
Labels: backend, other

refactored_code
  frontend/src/components/ClustersTable.tsx
  frontend/src/components/clusterTable/ClusterActions.tsx
  frontend/src/components/clusterTable/ClusterFilters.ts
  frontend/src/components/clusterTable/ClustersTable.tsx
  frontend/src/components/clusterTable/ClustersTableHeader.tsx
  frontend/src/components/clusterTable/ClustersTableRow.tsx
  frontend/src/components/clusterTable/ClustersTableStyles.ts
  frontend/src/components/clusterTable/dialogs/DetachClusterDialog.tsx
  frontend/src/components/clusterTable/dialogs/LabelEditDialog.tsx
  frontend/src/components/clusterTable/types.ts
  frontend/src/components/common/SearchBox.tsx
  frontend/src/pages/ITS.tsx
Labels: frontend

Added HTTP request Metric
  frontend/src/components/MetricsDashboard.tsx
  frontend/src/components/MetricsPieCharts.tsx
  frontend/src/hooks/queries/useMetricsQueries.ts
Labels: frontend

feat: Implement cluster plugin handlers return actual value and also implemented /read_data handler (#1528)
  backend/examples/cluster-monitor/cluster-monitor.wasm
  backend/examples/cluster-monitor/main.go
  backend/examples/cluster-monitor/plugin.tar.gz
  backend/examples/cluster-monitor/plugin.yml
Labels: backend

fixes
  frontend/src/components/MetricsPieCharts.tsx
  frontend/src/hooks/queries/useMetricsQueries.ts
Labels: frontend

User manage (#1510)
  backend/admin/auth.go
  backend/routes/jwt.go
  backend/utils/validation.go
  frontend/src/components/admin/UserFormModal.tsx
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
  frontend/src/locales/strings.zh-Hant.json
Labels: backend, frontend

feat: add unmounted reference to prevent state updates on unmounted components (#1530)
  frontend/src/components/DetachmentLogsDialog.tsx
  frontend/src/components/ListViewComponent.tsx
  frontend/src/components/OnboardingLogsDisplay.tsx
  frontend/src/components/WecsDetailsPanel.tsx
  frontend/src/context/WebSocketProvider.tsx
  frontend/src/hooks/queries/useWebSocketQuery.ts
Labels: frontend

chore: added tooltip to the main menu icon (#1539)
  frontend/src/components/Layout.tsx
Labels: frontend

fix #1522 (#1545)
  frontend/src/locales/strings.en.json
Labels: frontend

workflow added for maximum 1 assignee
  .github/workflows/issue-assignment-limit.yml
  CONTRIBUTING.md
Labels: ci, documentation, other

Refactor-ClustersTable
  frontend/src/components/ClustersTable.tsx
  frontend/src/components/its/ClustersTable/ClustersTable.tsx
  frontend/src/components/its/ClustersTable/components/ActionMenu.tsx
  frontend/src/components/its/ClustersTable/components/EmptyState.tsx
  frontend/src/components/its/ClustersTable/components/FilterChips.tsx
  frontend/src/components/its/ClustersTable/components/LabelChip.tsx
  frontend/src/components/its/ClustersTable/components/StatusBadge.tsx
  frontend/src/components/its/ClustersTable/components/StatusFilterMenu.tsx
  frontend/src/components/its/ClustersTable/components/TableContent.tsx
  frontend/src/components/its/ClustersTable/components/TableHeader.tsx
  frontend/src/components/its/ClustersTable/components/TablePagination.tsx
  frontend/src/components/its/ClustersTable/components/index.ts
  frontend/src/components/its/ClustersTable/dialogs/DetachClusterDialog/index.tsx
  frontend/src/components/its/ClustersTable/dialogs/DetachClusterDialog/types.ts
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/LabelsList.tsx
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/index.tsx
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/types.ts
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/useLabelProtection.ts
  frontend/src/components/its/ClustersTable/dialogs/index.ts
  frontend/src/components/its/ClustersTable/types/index.ts
  frontend/src/pages/ITS.tsx
Labels: frontend

Fix: Errors
  frontend/src/components/its/ClustersTable/ClustersTable.tsx
  frontend/src/components/its/ClustersTable/components/ActionMenu.tsx
  frontend/src/components/its/ClustersTable/components/EmptyState.tsx
  frontend/src/components/its/ClustersTable/components/FilterChips.tsx
  frontend/src/components/its/ClustersTable/components/LabelChip.tsx
  frontend/src/components/its/ClustersTable/components/StatusBadge.tsx
  frontend/src/components/its/ClustersTable/components/StatusFilterMenu.tsx
  frontend/src/components/its/ClustersTable/components/TableContent.tsx
  frontend/src/components/its/ClustersTable/components/TableHeader.tsx
  frontend/src/components/its/ClustersTable/components/TablePagination.tsx
  frontend/src/components/its/ClustersTable/components/index.ts
  frontend/src/components/its/ClustersTable/dialogs/DetachClusterDialog/index.tsx
  frontend/src/components/its/ClustersTable/dialogs/DetachClusterDialog/types.ts
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/LabelsList.tsx
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/index.tsx
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/types.ts
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/useLabelProtection.ts
  frontend/src/components/its/ClustersTable/dialogs/index.ts
  frontend/src/components/its/ClustersTable/types/index.ts
Labels: frontend

Refractor of WecsDetailsPanel
  frontend/src/components/WecsDetailsPanel.tsx
  frontend/src/components/WecsTopology.tsx
  frontend/src/components/wecs_details/WecsDetailsPanel.tsx
  frontend/src/components/wecs_details/WecsDetailsStyles.ts
  frontend/src/components/wecs_details/WecsDetailsTabs.tsx
  frontend/src/components/wecs_details/WecsDetailsWebsockets.ts
  frontend/src/components/wecs_details/tabs/EditTab.tsx
  frontend/src/components/wecs_details/tabs/ExecTab.tsx
  frontend/src/components/wecs_details/tabs/LogsTab.tsx
  frontend/src/components/wecs_details/tabs/SummaryTab.tsx
Labels: frontend

Fixes Minor error
  frontend/src/components/WecsDetailsPanel.tsx
  frontend/src/components/wecs_details/WecsDetailsPanel.tsx
  frontend/src/components/wecs_details/WecsDetailsStyles.ts
  frontend/src/components/wecs_details/WecsDetailsTabs.tsx
  frontend/src/components/wecs_details/WecsDetailsWebsockets.ts
  frontend/src/components/wecs_details/tabs/EditTab.tsx
  frontend/src/components/wecs_details/tabs/ExecTab.tsx
  frontend/src/components/wecs_details/tabs/LogsTab.tsx
  frontend/src/components/wecs_details/tabs/SummaryTab.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

Fixes
  frontend/src/components/wecs_details/WecsDetailsPanel.tsx
Labels: frontend

Fix: consitant Header
  frontend/src/components/Header.tsx
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/skeleton/FullScreenToggle.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

Fixes YAML issue
  frontend/src/components/wecs_details/WecsDetailsPanel.tsx
  frontend/src/components/wecs_details/tabs/EditTab.tsx
Labels: frontend

FIX: Full screen
  frontend/src/components/WecsTopology.tsx
  frontend/src/components/treeView/TreeViewCanvas.tsx
Labels: frontend

Fixes lint
  frontend/src/components/wecs_details/WecsDetailsPanel.tsx
  frontend/src/components/wecs_details/tabs/EditTab.tsx
  frontend/src/components/wecs_details/tabs/ExecTab.tsx
  frontend/src/components/wecs_details/tabs/LogsTab.tsx
  frontend/src/components/wecs_details/tabs/SummaryTab.tsx
Labels: frontend

Fix: Improve text contrast in dark mode for artifact-hub tab
  .husky/pre-commit
  backend/go.sum
  frontend/package-lock.json
  frontend/src/components/workloads/AirtfactTab/DirectDeployForm.tsx
  frontend/src/components/workloads/AirtfactTab/SearchPackagesForm.tsx
Labels: backend, frontend

fix: update ClusterData struct to initialize Namespaces as an empty slice
  backend/test/wecs/wecs_test.go
Labels: backend

fix: formatting
  backend/test/wecs/wecs_test.go
Labels: backend

fixes missing functionability
  frontend/src/components/wecs_details/WecsDetailsPanel.tsx
  frontend/src/components/wecs_details/tabs/ExecTab.tsx
  frontend/src/components/wecs_details/tabs/LogsTab.tsx
Labels: frontend

fix: release name conflicts
  backend/api/cluster_logs.go
  backend/k8s/deployer.go
  frontend/src/components/CreateOptions.tsx
  frontend/src/components/workloads/HelmTab/HelmTab.tsx
Labels: backend, frontend

Fixes Conflicts
  frontend/src/components/wecs_details/WecsDetailsPanel.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

fixed formatting
  frontend/src/components/CreateOptions.tsx
  frontend/src/components/workloads/HelmTab/HelmTab.tsx
Labels: frontend
