Repository kubestellar/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, wds, frontend, ci, config, documentation, docker, other

.github/labeler.yml:

#
# Add component-specific labels
#

# Add 'backend' label for backend-related files
'backend':
  - backend/**

'wds':
  - backend/wds/**

# Add 'frontend' label for frontend-related files
'frontend':
  - frontend/**
  - frontend/**/*

# Add 'ci' label for GitHub Actions workflows
'ci':
  - .github/workflows/**

# Add 'config' label for configuration files
'config':
  - frontend/tailwind.config.js
  - frontend/vite.config.ts
  - frontend/eslint.config.js
  - frontend/tsconfig*.json
  - frontend/prettier.config.js
  - frontend/postcss.config.js

# Add 'documentation' label for documentation-related files
'documentation':
  - README.md
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**

# Add 'docker' label for Docker-related files
'docker':
  - frontend/Dockerfile
  - docker-compose.yml
  - frontend/.dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

# Add 'other' label as a fallback for any other files
'other':
  - '*'

fix: Add new plugin manager to get all manifest handler (#1588)
  backend/api/plugins.go
Labels: backend

chore: remove redundant handler file
  backend/plugin/plugins/handlers.go
Labels: backend

refactor(ui): Split WecsDetailsPanel into modular tab components for better maintainability (#1555)
  frontend/src/components/WecsDetailsPanel.tsx
  frontend/src/components/WecsTopology.tsx
  frontend/src/components/wecs_details/WecsDetailsPanel.tsx
  frontend/src/components/wecs_details/WecsDetailsStyles.ts
  frontend/src/components/wecs_details/WecsDetailsTabs.tsx
  frontend/src/components/wecs_details/WecsDetailsWebsockets.ts
  frontend/src/components/wecs_details/tabs/EditTab.tsx
  frontend/src/components/wecs_details/tabs/ExecTab.tsx
  frontend/src/components/wecs_details/tabs/LogsTab.tsx
  frontend/src/components/wecs_details/tabs/SummaryTab.tsx
  frontend/src/locales/strings.en.json
Labels: frontend

fix: release name conflicts (#1559)
  backend/api/cluster_logs.go
  backend/k8s/deployer.go
  frontend/src/components/CreateOptions.tsx
  frontend/src/components/workloads/HelmTab/HelmTab.tsx
Labels: backend, frontend

Update README.md
  README.md
Labels: documentation, other

Fixes: Ensure EditTab renders manifest in correct format on initial load
  frontend/src/components/wecs_details/tabs/EditTab.tsx
Labels: frontend

Fixes lint
  frontend/src/components/wecs_details/tabs/EditTab.tsx
Labels: frontend

fixes lint
  frontend/src/components/wecs_details/tabs/EditTab.tsx
Labels: frontend

chore: handling error getting UserID by UserName
  backend/api/plugins.go
Labels: backend

User Activity Management
  frontend/src/components/admin/UserService.ts
  frontend/src/hooks/queries/useUserActivityQuery.ts
  frontend/src/pages/Dashboard.tsx
Labels: frontend

Fixes: Ensure EditTab renders manifest in correct format on initial load (#1614)
  frontend/src/components/wecs_details/tabs/EditTab.tsx
Labels: frontend

feat: Add galaxy marketplace command palette (#1577)
  frontend/src/components/CommandPalette.tsx
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
  frontend/src/locales/strings.zh-Hant.json
Labels: frontend

Refactor : Structure ITS & Plugin Frontend (#1611)
  frontend/src/components/ManualImportTab.tsx
  frontend/src/components/its/ClustersTable/ClustersTable.tsx
  frontend/src/components/its/ClustersTable/dialogs/ClusterDetailDialog.tsx
  frontend/src/components/its/ClustersTable/dialogs/DetachmentLogsDialog.tsx
  frontend/src/components/its/ImportCluster/ApiUrlImportTab.tsx
  frontend/src/components/its/ImportCluster/ImportClusters.tsx
  frontend/src/components/its/ImportCluster/KubeconfigImportTab.tsx
  frontend/src/components/its/ImportCluster/OnboardingLogsDisplay.tsx
  frontend/src/components/its/ImportCluster/QuickConnectTab.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/PluginManager.tsx
  frontend/src/routes/routes-config.tsx
Labels: frontend

fix: Update HealthIndicator and OptimizedProgressBar to display percentage as total percentage
  frontend/src/pages/Dashboard.tsx
Labels: frontend

Feat: Improve disabled button guidance with tooltips
  .husky/pre-commit
  frontend/src/components/common/ButtonTooltip.tsx
  frontend/src/components/workloads/AirtfactTab/ArtifactHubTab.tsx
  frontend/src/components/workloads/GitHubTab.tsx
  frontend/src/components/workloads/HelmTab/HelmTab.tsx
  frontend/src/components/workloads/UploadFileTab.tsx
  frontend/src/components/workloads/YamlTab.tsx
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
Labels: frontend

done research
  docs/design-progress.md
Labels: none

Plugin actions fix (#1540)
  backend/api/plugins.go
  backend/examples/cluster-monitor/plugin.tar.gz
  backend/examples/cluster-monitor/plugin/cluster-monitor.wasm
  backend/examples/cluster-monitor/plugin/frontend/ClusterMonitor.tsx
  backend/examples/cluster-monitor/plugin/plugin.yml
  backend/main.go
  backend/pkg/plugins/manager.go
  backend/pkg/plugins/registry.go
  backend/pkg/plugins/store.go
  backend/pkg/plugins/wasm_runtime.go
  backend/pkg/plugins/watcher.go
  backend/plugin/plugin.go
  backend/plugin/plugins/backup_plugin.go
  backend/plugin/plugins/manager.go
  backend/plugin/plugins/store.go
  backend/test/api/plugins/plugins_test.go
  backend/test/routes/plugins/plugins_test.go
Labels: backend

Managed Cluster
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/menu/useMenuData.ts
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
  frontend/src/locales/strings.zh-Hant.json
Labels: frontend

Kubestellar Galaxy marketplace
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
  frontend/src/locales/strings.zh-Hant.json
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend

Kubestellar Galaxy marketplace (#1626)
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
  frontend/src/locales/strings.zh-Hant.json
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend

Managed Cluster (#1625)
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/menu/useMenuData.ts
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
  frontend/src/locales/strings.zh-Hant.json
Labels: frontend

fix: Update HealthIndicator and OptimizedProgressBar to display percentage as total percentage (#1622)
  frontend/src/pages/Dashboard.tsx
Labels: frontend

update accoriding to new schema
  backend/api/plugins.go
  backend/middleware/auth.go
  backend/models/plugins.go
  backend/pkg/plugins/manager.go
  backend/pkg/plugins/registry.go
  backend/pkg/plugins/store.go
  backend/postgresql/migrations/000004_install_plugin.down.sql
  backend/postgresql/migrations/000004_install_plugin.up.sql
  backend/routes/jwt.go
  backend/routes/plugins.go
  backend/test/api/plugins/plugins_test.go
  backend/test/middleware/auth_test.go
  backend/test/utils/jwt_test.go
  backend/utils/jwt.go
Labels: backend

install plugin success
  backend/api/plugins.go
  backend/pkg/plugins/store.go
  backend/plugins/cluster-monitor-1/cluster-monitor.wasm
  backend/plugins/cluster-monitor-1/plugin.yml
  backend/plugins/cluster-monitor-2/cluster-monitor.wasm
  backend/plugins/cluster-monitor-2/plugin.yml
  backend/plugins/cluster-monitor-3/cluster-monitor.wasm
  backend/plugins/cluster-monitor-3/plugin.yml
  backend/plugins/cluster-monitor-4/cluster-monitor.wasm
  backend/plugins/cluster-monitor-4/plugin.yml
  backend/plugins/cluster-monitor-5/cluster-monitor.wasm
  backend/plugins/cluster-monitor-5/plugin.yml
Labels: backend

merge_fixes
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
Labels: frontend

locales
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/menu/useMenuData.ts
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.ja.json
Labels: frontend

search
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend

updates_changes
  frontend/src/components/wecsTopology/WecsTopology.tsx
Labels: frontend

ADDED New dev channel
  README.md
Labels: documentation, other

ADDED New dev channel (#1629)
  README.md
Labels: documentation, other

done research (#1623)
  docs/design-progress.md
Labels: none

update store.go queries
  backend/api/plugins.go
  backend/pkg/plugins/store.go
  backend/plugins/cluster-monitor-11/cluster-monitor.wasm
  backend/plugins/cluster-monitor-11/plugin.yml
  backend/plugins/cluster-monitor-2/cluster-monitor.wasm
  backend/plugins/cluster-monitor-2/plugin.yml
  backend/plugins/cluster-monitor-3/cluster-monitor.wasm
  backend/plugins/cluster-monitor-3/plugin.yml
  backend/plugins/cluster-monitor-4/cluster-monitor.wasm
  backend/plugins/cluster-monitor-4/plugin.yml
  backend/plugins/cluster-monitor-5/cluster-monitor.wasm
  backend/plugins/cluster-monitor-5/plugin.yml
Labels: backend

feat: making existing code compatible with new plugin schema
  backend/api/plugins.go
  backend/main.go
  backend/pkg/plugins/manager.go
  backend/pkg/plugins/registry.go
  backend/pkg/plugins/store.go
  backend/plugins/cluster-monitor-50/cluster-monitor.wasm
  backend/plugins/cluster-monitor-50/plugin.yml
  backend/postgresql/migrations/000004_install_plugin.up.sql
Labels: backend

fix : currentContext card hold big names
  frontend/src/pages/Dashboard.tsx
Labels: frontend

fix : currentContext card hold big names (#1635)
  frontend/src/pages/Dashboard.tsx
Labels: frontend

fixed_%
  frontend/src/pages/Dashboard.tsx
Labels: frontend

formating
  frontend/src/pages/Dashboard.tsx
Labels: frontend

chore: update plugin.yml author with its username
  backend/api/plugins.go
  backend/examples/cluster-monitor/plugin.tar.gz
  backend/examples/cluster-monitor/plugin.yml
  backend/examples/cluster-monitor/plugin/cluster-monitor.wasm
  backend/examples/cluster-monitor/plugin/frontend/ClusterMonitor.tsx
  backend/examples/cluster-monitor/plugin/plugin.yml
  backend/pkg/plugins/manager.go
  backend/plugins/cluster-monitor-50/cluster-monitor.wasm
  backend/plugins/cluster-monitor-50/plugin.yml
Labels: backend

add migration down queries
  backend/plugins/cluster-monitor-1/cluster-monitor.wasm
  backend/plugins/cluster-monitor-1/plugin.yml
  backend/postgresql/migrations/000004_install_plugin.down.sql
  backend/postgresql/migrations/000004_install_plugin.up.sql
Labels: backend

brainstorming
  docs/design-progress.md
Labels: none
