Repository kubestellar/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, wds, frontend, ci, config, documentation, docker, other

brainstorming (#1639)
  docs/design-progress.md
Labels: none

chore: update documentation links to point to the latest version across frontend components
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/ProfileSection.tsx
  frontend/src/pages/InstallationPage.tsx
Labels: frontend

replace plugin_details_id with id for uninatallallplugins
  backend/pkg/plugins/store.go
  backend/plugins/cluster-monitor-2/cluster-monitor.wasm
  backend/plugins/cluster-monitor-2/plugin.yml
Labels: backend

Inconsistent Ui homepage fixed (#1637)
  frontend/src/pages/Dashboard.tsx
Labels: frontend

update test cases
  backend/test/api/plugins/plugins_test.go
Labels: backend

fix build error
  backend/plugin/plugins/store.go
Labels: backend

fix: add auth check pass for testmode
  backend/middleware/auth.go
Labels: backend

feat: add initialTab prop to TreeViewComponent/NodeDetailsPanel for tab management; update useTreeViewActions for node selection; refactor menu open handler for actions hook integration
  frontend/src/components/TreeViewComponent.tsx
  frontend/src/components/treeView/NodeDetailsPanel.tsx
  frontend/src/components/treeView/hooks/useTreeViewActions.ts
Labels: frontend

remove plugin api test
  backend/test/api/plugins/plugins_test.go
Labels: backend

remove plugin api test
  backend/test/api/plugins/plugins_test.go
Labels: backend

add dummy kubeconfig for test
  .github/workflows/ci.yml
Labels: ci

remove dummy kubeconfig
  .github/workflows/ci.yml
  backend/middleware/auth.go
Labels: backend, ci

fix jwt test
  backend/test/routes/jwt_test.go
Labels: backend

add unauthorized check in plugin_test
  backend/test/routes/plugins/plugins_test.go
Labels: backend

Expect unauthorized in testsetuproutes
  backend/test/routes/setup_test.go
Labels: backend

Cluster vizualization In cluster table
  frontend/src/components/its/ClustersTable/components/ClusterVisualization.tsx
  frontend/src/components/its/ClustersTable/components/TableContent.tsx
Labels: frontend

fixes Dropdown in Depolyed Workload
  frontend/src/components/ResourceFilters.tsx
Labels: frontend

fixed pagination for Deployed Workload
  frontend/src/components/ListViewComponent.tsx
Labels: frontend

fixes
  frontend/src/components/ResourceFilters.tsx
Labels: frontend

fixes
  frontend/src/components/ListViewComponent.tsx
Labels: frontend

fixes
  frontend/src/components/ListViewComponent.tsx
Labels: frontend

fixes
  frontend/src/components/ListViewComponent.tsx
Labels: frontend

Fixes Styling issue in Popular Dropdown
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend

Fixes lint
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend

fixes bulk label error
  frontend/src/components/its/ClustersTable/ClustersTable.tsx
Labels: frontend

fixes Dropdown in Depolyed Workload (#1650)
  frontend/src/components/ResourceFilters.tsx
Labels: frontend

fix: implement dynamic tab mapping for staged workloads context menu
  frontend/src/components/treeView/hooks/useTreeViewActions.ts
Labels: frontend

fixes
  frontend/src/components/its/ClustersTable/ClustersTable.tsx
  frontend/src/components/its/ClustersTable/components/TableHeader.tsx
Labels: frontend

restructuring prometh metrics init
  backend/routes/setup.go
Labels: backend

add register_metrics.go
  backend/routes/register_metrics.go
Labels: backend

fix lints
  backend/routes/setup.go
Labels: backend

Fix: update contributors section in README to use kubestellar/ui (#1658)
  README.md
Labels: documentation, other

Fix: Context menu actions not working in staged workloads (#1652)
  frontend/src/components/TreeViewComponent.tsx
  frontend/src/components/treeView/NodeDetailsPanel.tsx
  frontend/src/components/treeView/hooks/useTreeViewActions.ts
Labels: frontend

Fix: update contributors section in README to use kubestellar/ui (#1658) (#1660)
  README.md
Labels: documentation, other

locale sync: fail & comment
  frontend/scripts/check-locale-sync.ts
Labels: frontend

locale: sync all locales with master
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
  frontend/src/locales/strings.zh-Hant.json
Labels: frontend

Revert "locale: sync all locales with master"
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
  frontend/src/locales/strings.zh-Hant.json
Labels: frontend

fix: locale sync check script
  frontend/scripts/check-locale-sync.ts
Labels: frontend

fix: remove unused import
  frontend/scripts/check-locale-sync.ts
Labels: frontend

ci: add locale sync check step
  .github/workflows/ci.yml
Labels: ci

.github/labeler.yml:

#
# Add component-specific labels
#

# Add 'backend' label for backend-related files
'backend':
  - backend/**

'wds':
  - backend/wds/**

# Add 'frontend' label for frontend-related files
'frontend':
  - frontend/**
  - frontend/**/*

# Add 'ci' label for GitHub Actions workflows
'ci':
  - .github/workflows/**

# Add 'config' label for configuration files
'config':
  - frontend/tailwind.config.js
  - frontend/vite.config.ts
  - frontend/eslint.config.js
  - frontend/tsconfig*.json
  - frontend/prettier.config.js
  - frontend/postcss.config.js

# Add 'documentation' label for documentation-related files
'documentation':
  - README.md
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**

# Add 'docker' label for Docker-related files
'docker':
  - frontend/Dockerfile
  - docker-compose.yml
  - frontend/.dockerignore
  - backend/Dockerfile
  - backend/.dockerignore

# Add 'other' label as a fallback for any other files
'other':
  - '*'
