Repository kubestellar/ui, pull requests merged in 2025-03, with the labels that each got.

#255 feat: list and switch context
  backend/main.go
  backend/routes/deployment.go
  backend/wds/common.go
Labels: backend, wds

#270 fix: update PostgreSQL credentials and database name in documentation
  CONTRIBUTING.md
  docker-compose.yml
Labels: other, docker

#275 feat: added update service and updated the get/list routes response
  backend/routes/services.go
  backend/wds/deployment/common.go
  backend/wds/resources/services.go
Labels: backend, wds

#274 Migrate from Context API to Zustand
  package-lock.json
  package.json
  src/App.tsx
  src/components/BindingPolicy/BPPagination.tsx
  src/components/BindingPolicy/BPTable.tsx
  src/components/BindingPolicy/Dialogs/BPHeader.tsx
  src/components/BindingPolicy/Dialogs/EditBindingPolicyDialog.tsx
  src/components/BindingPolicy/Dialogs/PolicyDetailDialog.tsx
  src/components/BindingPolicy/PolicyVisualization.tsx
  src/components/BindingPolicy/PreviewDialog.tsx
  src/components/ChangeThemes.tsx
  src/components/ClustersTable.tsx
  src/components/CreateBindingPolicyDialog.tsx
  src/components/CreateOptions.tsx
  src/components/DeploymentDetails.tsx
  src/components/DeploymentTable.tsx
  src/components/Header.tsx
  src/components/ImportClusters.tsx
  src/components/LogModal.tsx
  src/components/Navbar.tsx
  src/components/PieChartDisplay.tsx
  src/components/menu/MenuItem.tsx
  src/context/ClientThemeWrapper.tsx
  src/context/ClusterContext.tsx
  src/context/ThemeContext.tsx
  src/context/ThemeProvider.tsx
  src/hooks/useTheme.ts
  src/main.tsx
  src/pages/BP.tsx
  src/pages/WDS.tsx
  src/stores/clusterStore.ts
  src/stores/themeStore.ts
Labels: frontend, other, Ready To Merge

#279 Update PostgreSQL User Configuration and Introduce JWT Secret Generation for Enhanced Security
  CONTRIBUTING.md
  backend/Dockerfile
  docker-compose.yml
Labels: backend, other, docker, Ready To Merge

#281 support for Updating Binding policies
  backend/routes/bp.go
  backend/routes/setup.go
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
Labels: backend, wds

#288 🚀 Add Full CRUD API for Kubernetes Resources
  backend/k8s/resources.go
  backend/routes/resources.go
  backend/routes/setup.go
  backend/utils/parser.go
Labels: backend

#292 Refactor routes and disable database connections
  backend/main.go
  src/routes/routes-config.tsx
Labels: backend, frontend

#293 Feat: Added CSR status manager and hook for polling CSR approval
  src/components/ClustersTable.tsx
  src/components/ImportClusters.tsx
  src/hooks/useCSRStatus.ts
  src/utils/CSRStatusManager.ts
Labels: frontend

#296 Integrated Import Cluster API and connected frontend with backend
  src/components/ImportClusters.tsx
Labels: frontend

#295 Implemented React Query, DevTools, Toast Notifications, and Custom Query Hooks for API Endpoints & ITS & WDS integration.
  package-lock.json
  package.json
  src/components/Clusters.tsx
  src/components/ClustersTable.tsx
  src/components/CreateOptions.tsx
  src/components/Header.tsx
  src/components/ImportClusters.tsx
  src/components/Layout.tsx
  src/components/providers/ToastProvider.tsx
  src/hooks/queries/useBPQueries.ts
  src/hooks/queries/useClusterQueries.ts
  src/hooks/queries/useDeployQueries.ts
  src/hooks/queries/useHeaderQueries.ts
  src/hooks/queries/useK8sQueries.ts
  src/hooks/queries/useLogQueries.ts
  src/hooks/queries/useLoggingQueries.ts
  src/hooks/queries/useNamespaceQueries.ts
  src/hooks/queries/useServiceQueries.ts
  src/hooks/queries/useWDSQueries.ts
  src/lib/api.ts
  src/lib/react-query/QueryProvider.tsx
  src/lib/react-query/queryClient.ts
  src/main.tsx
  src/pages/ITS.tsx
  src/pages/WDS.tsx
Labels: frontend, other

#297 cluster-available api added
  backend/its/manual/handlers/cluster.go
  backend/its/manual/handlers/command.go
  backend/its/manual/utils/utils.go
  backend/routes/cluster.go
Labels: backend

#299 correct command response send to frontend [clusteradam command ]
  backend/its/manual/handlers/command.go
Labels: backend

#300 Fixed Cluster Endpoints in the Frontend
  src/components/Header.tsx
  src/hooks/queries/useClusterQueries.ts
  src/hooks/queries/useHeaderQueries.ts
  src/hooks/queries/useK8sQueries.ts
Labels: frontend

#301 Improve the CRUD Workload Resource using GVK/GVR
  .gitignore
  .husky/pre-commit
  backend/k8s/resources.go
  backend/routes/resources.go
Labels: backend

#303 Add Dry Run Option and Enhance Resource Discovery
  backend/api/deploy.go
  backend/k8s/deployer.go
Labels: backend

#306 improve YAML parsing and field validation in binding policy creation
  backend/wds/bp/handlers.go
  src/pages/BP.tsx
Labels: backend, frontend, wds

#304 Adds log package and fixes Delete operation on BP
  backend/log/log.go
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
  src/pages/BP.tsx
Labels: backend, frontend, wds

#308 Refactor namespace handling to use dynamic client for resource discovery
  backend/namespace/namespace.go
  backend/namespace/resources/service.go
Labels: backend

#310 Fix:clusters-endpoint
  src/components/Header.tsx
  src/hooks/queries/useClusterQueries.ts
  src/hooks/queries/useHeaderQueries.ts
  src/hooks/queries/useK8sQueries.ts
Labels: frontend

#311 🌴 Fixes the error toast appearance when opening import cluster dialogue
  src/components/ImportClusters.tsx
Labels: frontend

#313 Add support for specific workloads in binding policies
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
Labels: backend, wds

#315 Enhance Import Clusters UI, Fix Dark Mode Text Visibility and Table Bug fixes
  src/components/ImportClusters.tsx
Labels: frontend

#318 Implement Dry-Run Strategy
  backend/api/deploy.go
  backend/k8s/deployer.go
Labels: backend

#322 👀 : CSR Watcher API
  backend/its/manual/handlers/command.go
  backend/its/manual/handlers/csr_watcher.go
  backend/routes/cluster.go
Labels: backend

#323 Removed the services and updated the workload
  backend/k8s/resources.go
  backend/routes/resources.go
  backend/routes/services.go
  backend/routes/setup.go
  backend/wds/resources/services.go
Labels: backend, wds

#326 added list route for all the workload resource
  backend/k8s/resources.go
  backend/routes/resources.go
Labels: backend

#321 Enhance KubeStellar Login UI
  backend/.env.example
  backend/main.go
  package-lock.json
  package.json
  src/assets/key.png
  src/assets/kubes.png
  src/assets/kubestellar-icon-color.png
  src/assets/user.png
  src/components/Profile.tsx
  src/routes/routes-config.tsx
Labels: backend, frontend, other, Ready To Merge

#332 Replace PostgreSQL with ConfigMap for User Storage and JWT authentication handling
  backend/auth/auth.go
  backend/jwt/config.go
  backend/k8s/client.go
  backend/main.go
  backend/middleware/auth.go
  backend/models/user.go
  backend/routes/jwt.go
Labels: backend

#334 Drag and Drop UI for binding Policy
  backend/wds/bp/utils.go
  package-lock.json
  package.json
  src/components/BindingPolicy/AvailableItemsPanel.tsx
  src/components/BindingPolicy/BPTable.tsx
  src/components/BindingPolicy/BPVisualization.tsx
  src/components/BindingPolicy/CanvasItems.tsx
  src/components/BindingPolicy/ClusterPanel.tsx
  src/components/BindingPolicy/ConfigurationSidebar.tsx
  src/components/BindingPolicy/ConnectionManager.tsx
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/DeploymentConfirmationDialog.tsx
  src/components/BindingPolicy/Dialogs/BPHeader.tsx
  src/components/BindingPolicy/Dialogs/EditBindingPolicyDialog.tsx
  src/components/BindingPolicy/Dialogs/PolicyDetailDialog.tsx
  src/components/BindingPolicy/ItemTooltip.tsx
  src/components/BindingPolicy/PolicyCanvas.tsx
  src/components/BindingPolicy/PolicyDragDrop.tsx
  src/components/BindingPolicy/PolicyDragDropContainer.tsx
  src/components/BindingPolicy/PolicyPanels.tsx
  src/components/BindingPolicy/QuickPolicyDialog.tsx
  src/components/BindingPolicy/StrictModeDroppable.tsx
  src/components/BindingPolicy/SuccessNotification.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
  src/components/BindingPolicy/nodes/ClusterNode.tsx
  src/components/BindingPolicy/nodes/PolicyNode.tsx
  src/components/BindingPolicy/nodes/WorkloadNode.tsx
  src/hooks/useKubestellarData.ts
  src/pages/BP.tsx
  src/stores/canvasStore.ts
  src/stores/connectionManagerStore.ts
  src/stores/policyDragDropStore.ts
  src/types/bindingPolicy.ts
  src/utils/yamlGenerator.ts
Labels: backend, frontend, other, wds

#335 fix: improved logic for namespaced and non-namespaced resources
  backend/k8s/resources.go
Labels: backend

#333 Enhance Workload Topology and Node Details Panel
  src/components/DynamicDetailsPanel.tsx
  src/components/TreeViewComponent.tsx
Labels: frontend

#336 Move WDS Topology to Deployments(WDS page) & Add Component NewDeployment !
  package-lock.json
  src/components/CreateOptions.tsx
  src/components/NewAppDialog.tsx
  src/components/TreeViewComponent.tsx
  src/components/WecsTopology.tsx
  src/pages/WDS.tsx
Labels: frontend, other

#337 Optimized Treeview component and change Deployments to Workloads in menu bar , remove wds topology
  package-lock.json
  package.json
  src/components/TreeViewComponent.tsx
  src/components/menu/data.ts
  src/routes/routes-config.tsx
Labels: frontend, other

#338 UI Enhancements, Error Handling Improvements & Design Consistency Updates
  src/components/ImportClusters.tsx
Labels: frontend

#345 feat: added support to create any k8s resources from local file
  backend/go.mod
  backend/k8s/resources.go
  backend/routes/resources.go
Labels: backend

#343 Removed the connection mode in drag and drop
  src/components/BindingPolicy/AvailableItemsPanel.tsx
  src/components/BindingPolicy/CanvasItems.tsx
  src/components/BindingPolicy/ClusterPanel.tsx
  src/components/BindingPolicy/ConnectionIcon.tsx
  src/components/BindingPolicy/ConnectionManager.tsx
  src/components/BindingPolicy/ItemTooltip.tsx
  src/components/BindingPolicy/KubernetesIcon.tsx
  src/components/BindingPolicy/PolicyCanvas.tsx
  src/components/BindingPolicy/PolicyDragDropContainer.tsx
  src/components/BindingPolicy/QuickPolicyDialog.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
  src/components/BindingPolicy/nodes/ClusterNode.tsx
  src/components/BindingPolicy/nodes/PolicyNode.tsx
  src/components/BindingPolicy/nodes/WorkloadNode.tsx
  src/pages/BP.tsx
  src/stores/connectionManagerStore.ts
Labels: frontend

#340 Optimize WebSocket and API Functions for Secure Resource Fetching in Kubernetes
  backend/namespace/namespace.go
  package-lock.json
Labels: backend, other

#346 feat: creating wds context using helm command and added websocket for better UX/Logs
  backend/routes/resources.go
  backend/wds/common.go
Labels: backend, wds

#348 FEAT: 3D-Login Interactive Login and Sign-out
  package-lock.json
  package.json
  src/components/Header.tsx
  src/components/Profile.tsx
  src/components/ProtectedRoute.tsx
  src/components/PublicRoute.tsx
  src/components/login/KubeStellarLayout.tsx
  src/components/login/LoadingScreen.tsx
  src/components/login/LoginForm.tsx
  src/components/login/NetworkGlobe.tsx
  src/components/login/globe/Cluster.tsx
  src/components/login/globe/CosmicDust.tsx
  src/components/login/globe/DataPacket.tsx
  src/components/login/globe/GlowingSphere.tsx
  src/components/login/globe/LogoElement.tsx
  src/components/login/globe/colors.ts
  src/components/login/index.tsx
  src/components/menu/data.ts
  src/components/providers/ToastProvider.tsx
  src/main.tsx
  src/routes/routes-config.tsx
Labels: frontend, other

#350 🔒 Filter System Namespaces & Sensitive Resources from Namespace Listings
  backend/namespace/namespace.go
Labels: backend

#356 Adds watch method and redis commands to store Bps
  backend/main.go
  backend/redis/redis.go
  backend/wds/bp/utils.go
Labels: backend, wds

#353 Added two more backend routes to support the drag and drop binding policy
  backend/routes/bp.go
  backend/wds/bp/handlers.go
Labels: backend, wds

#358 Performance Optimizations - Render Loop Optimization - Layout Adjustment
  src/components/login/KubeStellarLayout.tsx
  src/components/login/LoginForm.tsx
  src/components/login/NetworkGlobe.tsx
  src/components/login/globe/Cluster.tsx
  src/components/login/globe/CosmicDust.tsx
  src/components/login/globe/DataPacket.tsx
  src/components/login/globe/GlowingSphere.tsx
  src/components/login/globe/LogoElement.tsx
  src/components/login/index.tsx
Labels: frontend

#359 Optimized WDS Topology & Enhanced WECS Topology #357
  package-lock.json
  package.json
  src/assets/k8s_resources_logo/c-role.svg
  src/assets/k8s_resources_logo/cm.svg
  src/assets/k8s_resources_logo/crb.svg
  src/assets/k8s_resources_logo/crd.svg
  src/assets/k8s_resources_logo/cronjob.svg
  src/assets/k8s_resources_logo/deploy.svg
  src/assets/k8s_resources_logo/ds.svg
  src/assets/k8s_resources_logo/ep.svg
  src/assets/k8s_resources_logo/group.svg
  src/assets/k8s_resources_logo/hpa.svg
  src/assets/k8s_resources_logo/ing.svg
  src/assets/k8s_resources_logo/job.svg
  src/assets/k8s_resources_logo/limits.svg
  src/assets/k8s_resources_logo/netpol.svg
  src/assets/k8s_resources_logo/ns.svg
  src/assets/k8s_resources_logo/pod.svg
  src/assets/k8s_resources_logo/psp.svg
  src/assets/k8s_resources_logo/pv.svg
  src/assets/k8s_resources_logo/pvc.svg
  src/assets/k8s_resources_logo/quota.svg
  src/assets/k8s_resources_logo/rb.svg
  src/assets/k8s_resources_logo/role.svg
  src/assets/k8s_resources_logo/rs.svg
  src/assets/k8s_resources_logo/sa.svg
  src/assets/k8s_resources_logo/sc.svg
  src/assets/k8s_resources_logo/secret.svg
  src/assets/k8s_resources_logo/sts.svg
  src/assets/k8s_resources_logo/svc.svg
  src/assets/k8s_resources_logo/user.svg
  src/assets/k8s_resources_logo/vol.svg
  src/components/DeploymentTable.tsx
  src/components/DynamicDetailsPanel.tsx
  src/components/TreeViewComponent.tsx
  src/components/Wds_Topology/FlowCanvas.tsx
  src/components/Wds_Topology/NodeLabel.tsx
  src/components/Wds_Topology/ZoomControls.tsx
  src/components/WecsTopology.tsx
Labels: frontend, other

#360 adds Support for text based yaml input in our Create handler
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
Labels: backend, wds

#361 Optimized TreeView and Integrated React Query
  package-lock.json
  src/components/TreeViewComponent.tsx
  src/components/WecsTopology.tsx
Labels: frontend, other

#365 clean up the rollup and size-limit package
  .github/workflows/size-limit.yml
  package-lock.json
  package.json
  vite.config.ts
Labels: other, ci, config

#368 Fix Login Page UI Improvements and Footer Integration
  .env.example
  src/components/Footer.tsx
  src/components/login/KubeStellarLayout.tsx
  src/components/login/LoginForm.tsx
Labels: frontend

#363 Moved form file retrieval logic to Util and some minor fixes
  backend/utils/utils.go
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
  package-lock.json
Labels: backend, other, wds

#375 Update Docker push workflow for dev branch and clean up unused files
  .github/workflows/docker-push.yml
  FETCH_HEAD
  example.env
Labels: other, ci

#377 Refactor import paths to new module structure
  backend/api/deploy.go
  backend/api/handlers.go
  backend/auth/auth.go
  backend/go.mod
  backend/main.go
  backend/middleware/auth.go
  backend/models/user.go
  backend/namespace/namespace.go
  backend/namespace/resources/service.go
  backend/redis/redis.go
  backend/routes/bp.go
  backend/routes/cluster.go
  backend/routes/deployment.go
  backend/routes/gitops.go
  backend/routes/jwt.go
  backend/routes/namespace.go
  backend/routes/resources.go
  backend/services/clusterService.go
  backend/utils/jwt.go
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
  backend/wds/deployment/common.go
  backend/wds/deployment/details.go
  backend/wds/deployment/logs.go
  backend/wds/deployment/status.go
Labels: backend, wds

#379 Implemented react query and make the binding policy UI consistent
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
  src/components/BindingPolicy/BPTable.tsx
  src/components/BindingPolicy/CancelConfirmationDialog.tsx
  src/components/BindingPolicy/ClusterPanel.tsx
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/Dialogs/BPHeader.tsx
  src/components/BindingPolicy/Dialogs/PolicyDetailDialog.tsx
  src/components/BindingPolicy/PolicyCanvas.tsx
  src/components/BindingPolicy/PolicyPanels.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
  src/components/BindingPolicy/constants/index.ts
  src/components/BindingPolicy/styles/CreateBindingPolicyStyles.tsx
  src/hooks/queries/useBPQueries.ts
  src/pages/BP.tsx
  src/types/bindingPolicy.ts
Labels: backend, frontend, wds

#382 [WECS] Introduce WebSocket Routes for Streaming Cluster Data and Pod Logs
  backend/routes/setup.go
  backend/routes/wecs.go
  backend/wecs/wecs.go
Labels: backend

#378 corrected available clusters api
  backend/its/manual/handlers/cluster.go
  backend/routes/cluster.go
Labels: backend

#385 Update docker-push.yml
  .github/workflows/docker-push.yml
Labels: ci

#387 Fixes Unwanted Border Around Tabs
  src/components/ImportClusters.tsx
Labels: frontend

#389 Refactored TreeView and WECS Components, Optimized WebSocket Handling
  package-lock.json
  package.json
  src/components/TreeViewComponent.tsx
  src/components/WecsTopology.tsx
  src/components/login/LoginForm.tsx
  src/context/WebSocketProvider.tsx
  src/main.tsx
Labels: frontend, other

#390 feat: real time logs using dynamicSharedInformerFactory and websocket
  backend/k8s/resources.go
  backend/routes/deployment.go
  backend/routes/resources.go
Labels: backend

#391 Make the Workloads UI consistent
  src/components/CreateOptions.tsx
  src/components/StyledComponents.tsx
  src/components/TreeViewComponent.tsx
  src/components/Workloads/AddCredentialsDialog.tsx
  src/components/Workloads/AddWebhookDialog.tsx
  src/components/Workloads/CancelConfirmationDialog.tsx
  src/components/Workloads/GitHubTab.tsx
  src/components/Workloads/UploadFileTab.tsx
  src/components/Workloads/YamlTab.tsx
  src/hooks/queries/useWDSQueries.ts
Labels: frontend

#394 Removed: Yaml and cross hover shape
  src/components/ImportClusters.tsx
  src/components/login/KubeStellarLayout.tsx
Labels: frontend

#393 Optimize WebSocket for Instant Cluster Updates
  backend/namespace/namespace.go
Labels: backend

#397 Improve The Manage Worklaods
  src/components/CreateOptions.tsx
  src/components/TreeViewComponent.tsx
  src/components/Wds_Topology/FlowCanvas.tsx
  src/components/Wds_Topology/NodeLabel.tsx
  src/components/Wds_Topology/ZoomControls.tsx
  src/components/WecsTopology.tsx
Labels: frontend

#400 Integrating Drag and Drop binding policy backend
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/hooks/queries/useBPQueries.ts
Labels: frontend

#404 Update default branch name to 'main'
  src/components/CreateOptions.tsx
  src/components/Workloads/GitHubTab.tsx
Labels: frontend

#407 Add namespace existence check in DeployManifests
  backend/k8s/deployer.go
Labels: backend

#408 support multiple resources configuration in one yaml file
  backend/k8s/resources.go
  backend/routes/resources.go
  public/examples/multiple-resource-example.yaml
  public/examples/multiple-resource-with-ns.yaml
Labels: backend, frontend

#411 fix the getGVR function bug
  backend/k8s/resources.go
Labels: backend

#414 Fixed the lag after deploying the workload
  src/components/TreeViewComponent.tsx
  src/context/WebSocketProvider.tsx
Labels: frontend

#416 fix: updated resourceKind logic in getResourceGVR
  backend/k8s/resources.go
Labels: backend

#417 Feat: Manual Dropdown to Import Cluster
  .env.example
  src/components/ImportClusters.tsx
Labels: frontend

#419 chore: Add git package and create temp directory for git operations i…
  backend/Dockerfile
Labels: backend, docker

#424 Add Helm deployment functionality and update Dockerfile
  backend/Dockerfile
  backend/api/deploy.go
  backend/go.mod
  backend/go.sum
  backend/k8s/deployer.go
  backend/routes/gitops.go
  backend/routes/setup.go
Labels: backend, docker

#421 added generateRandomString resource name
  src/components/CreateOptions.tsx
Labels: frontend

#420 added logic for auto namespace creation if not exist
  backend/k8s/deployer.go
  backend/k8s/resources.go
  public/examples/multiple-resource-auto-ns-creation.yaml
Labels: backend, frontend

#428 Updated drag and drop to not use connection manager and create bp dir…
  backend/wds/bp/handlers.go
  src/components/BindingPolicy/BPTable.tsx
  src/components/BindingPolicy/BPVisualization.tsx
  src/components/BindingPolicy/ConnectionManager.tsx
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/DeploymentConfirmationDialog.tsx
  src/components/BindingPolicy/Dialogs/BPHeader.tsx
  src/components/BindingPolicy/Dialogs/PolicyDetailDialog.tsx
  src/components/BindingPolicy/PolicyCanvas.tsx
  src/components/BindingPolicy/PolicyDragDrop.tsx
  src/components/BindingPolicy/PolicyDragDropContainer.tsx
  src/components/BindingPolicy/PreviewDialog.tsx
  src/components/BindingPolicy/styles/CreateBindingPolicyStyles.ts
  src/hooks/queries/useBPQueries.ts
  src/pages/BP.tsx
  src/stores/connectionManagerStore.ts
  src/types/bindingPolicy.ts
Labels: backend, frontend, wds

#429 fixes watch method and adds getBpObjfromYaml
  backend/redis/redis.go
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
Labels: backend, wds

#431 Enhance Helm deployment with context management and concurrency
  backend/k8s/deployer.go
Labels: backend

#434 Added Popular Charts section in Helm Tab
  src/components/CreateOptions.tsx
  src/components/TreeViewComponent.tsx
  src/components/Workloads/HelmTab.tsx
Labels: frontend

#433 Updated the default wds context and also fixed metadata error in crea…
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
Labels: backend, wds

#435 Deploy Popular GitHub Repo Section in GitHub Tab
  src/components/WecsTopology.tsx
  src/components/Workloads/GitHubTab.tsx
  src/components/Workloads/HelmTab.tsx
Labels: frontend
