Repository kubestellar/ui, pull requests merged in 2025-04, with the labels that each got.

#444 fixes active inactive issue for BP backend
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
Labels: backend, wds

#445 Fixed the binding policy status issue with some dark mode issues
  src/components/BindingPolicy/BPTable.tsx
  src/components/BindingPolicy/BPVisualization.tsx
  src/components/BindingPolicy/Dialogs/DeleteDialog.tsx
  src/components/BindingPolicy/Dialogs/PolicyDetailDialog.tsx
  src/hooks/queries/useBPQueries.ts
  src/pages/BP.tsx
Labels: frontend

#449 example.env is not present. The actual name of the file is .env.example
  README.md
Labels: documentation, other

#456 Feat : Full screen View for Login page with shortcut keys
  src/components/login/KubeStellarLayout.tsx
Labels: frontend

#467 Updated the Menu items order and Names
  src/components/Layout.tsx
  src/components/menu/data.ts
Labels: frontend

#468 Update /backend/.env.example and CONTRIBUTING.md with REDIS, JWT, and UI login instructions
  CONTRIBUTING.md
  backend/.env.example
Labels: other

#471 Make the Drag and Drop as default for the creation of the binding policy
  .vscode/settings.json
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/PolicyDragDrop.tsx
  src/pages/BP.tsx
Labels: frontend

#472 fixed responsiveness and added better icons
  src/components/Layout.tsx
  src/components/menu/data.ts
Labels: frontend

#474 wip: added cookies functionality for setting up wds context
  backend/routes/cookies.go
  backend/routes/deployment.go
  backend/routes/setup.go
  backend/wds/common.go
Labels: backend, wds

#475 fixed button and fullscreen issue
  src/components/Header.tsx
  tailwind.config.js
Labels: frontend, other, config

#478 fixes pod not shown for BPs
  backend/wds/bp/handlers.go
Labels: backend, wds

#477 Add ability to deploy KubeStellar from the UI if not detected (no login required)
  backend/api/installer-websocket.go
  backend/api/installer.go
  backend/api/status_handler.go
  backend/installer/Prerequisites.go
  backend/installer/installer.go
  backend/installer/kubestellar_status.go
  backend/routes/installer.go
  backend/routes/setup.go
  backend/utils/installer.go
Labels: backend

#482 Add GitHub and Helm deployment history routes and enhance deployment …
  backend/api/deploy.go
  backend/k8s/deployer.go
  backend/routes/gitops.go
  backend/routes/setup.go
Labels: backend

#480 Fixed the error 400 on deleting a binding policy
  src/components/BindingPolicy/BPTable.tsx
  src/pages/BP.tsx
Labels: frontend

#483 feat: added auto labels for the raw data and upload file
  backend/k8s/resources.go
  backend/routes/jwt.go
  backend/routes/resources.go
  backend/routes/setup.go
  backend/wds/deployment/details.go
  src/components/CreateOptions.tsx
Labels: backend, frontend, wds

#487 Fixed the drag and drop binding policy
  backend/k8s/resources.go
  backend/wds/bp/handlers.go
  src/components/BindingPolicy/AvailableItemsPanel.tsx
  src/components/BindingPolicy/CanvasItems.tsx
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/PolicyCanvas.tsx
  src/components/BindingPolicy/PolicyDragDropContainer.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
  src/components/CreateOptions.tsx
  src/components/Workloads/UploadFileTab.tsx
  src/components/Workloads/YamlTab.tsx
  src/hooks/queries/useBPQueries.ts
  src/hooks/queries/useWDSQueries.ts
  src/pages/BP.tsx
  src/types/bindingPolicy.ts
Labels: backend, frontend, wds

#488 :pencil2: Manage Labels in ITS Clusters
  backend/api/handlers.go
  backend/routes/cluster.go
Labels: backend

#490 Feat/ws wecs cluster wds pods k8s improvements
  backend/redis/redis.go
  backend/routes/wecs.go
  backend/wecs/wecs.go
Labels: backend

#493 chore: remove unnecessary log statements to improve performance
  backend/redis/redis.go
  backend/wecs/wecs.go
Labels: backend

#497 Remove Duplicate `/api/deploy` Endpoint from Go API
  backend/main.go
Labels: backend

#501 Fixed the issue of different yaml showing in binding policy
  backend/wds/bp/handlers.go
  src/components/BindingPolicy/BPTable.tsx
  src/components/BindingPolicy/Dialogs/PolicyDetailDialog.tsx
  src/components/CreateOptions.tsx
  src/hooks/queries/useBPQueries.ts
  src/pages/BP.tsx
  src/types/bindingPolicy.ts
Labels: backend, frontend, wds

#511 Removed the hardcoded labels from the binding policy creation
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/PolicyDragDropContainer.tsx
  src/hooks/queries/useBPQueries.ts
Labels: frontend

#504 fix: added the CreationTimestamp in get ns
  backend/namespace/namespace.go
Labels: backend

#508 updated the custom label name in raw yaml and upload file
  backend/k8s/resources.go
  src/components/CreateOptions.tsx
Labels: backend, frontend

#513 feat: list out all the k8s resources clusterScoped & ns Scoped
  backend/routes/resources.go
  backend/wds/list.go
Labels: backend, wds

#514 Hot reloading for backend and Makefile support
  README.md
  backend/.air.toml
  backend/.gitignore
  backend/Makefile
Labels: documentation, backend, other

#515 readme fix
  README.md
Labels: documentation, other

#516 fix: Stabilize icon alignment in LoginForm input fields.
  src/components/login/LoginForm.tsx
Labels: frontend

#523 fix: removed duplicate clientset, fixed the wds context creation
  backend/k8s/resources.go
  backend/main.go
  backend/wds/common.go
Labels: backend, wds

#531 Add CPU architecture compatibility checks to prerequisites checker
  backend/installer/Prerequisites.go
Labels: backend

#526 # Add support for workload labels across all deployment methods
  backend/api/deploy.go
  backend/k8s/deployer.go
  backend/redis/redis.go
Labels: backend

#532 fix: namespaces quick
  backend/namespace/namespace.go
Labels: backend

#536 fix: Remove white border in YAML tab of CreateBindingPolicyDialog.
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
Labels: frontend, Ready To Merge

#535 # Electron Desktop Application Integration
  .gitignore
  README.md
  assets/icons/icon.png
  assets/icons/kubestellar-logo.png
  electron.cjs
  package-lock.json
  package.json
  preload.cjs
  scripts/build-backend-all.sh
  scripts/build-backend.cjs
  scripts/check-redis.sh
  scripts/create-icon-robust.cjs
  src/service/api.ts
  src/types/electron.d.ts
  src/utils/electronConfig.js
  src/utils/environment.ts
  tsconfig.json
  vite.config.ts
Labels: documentation, frontend, other, config

#537 Revert "# Electron Desktop Application Integration"
  .gitignore
  README.md
  assets/icons/icon.png
  assets/icons/kubestellar-logo.png
  electron.cjs
  package-lock.json
  package.json
  preload.cjs
  scripts/build-backend-all.sh
  scripts/build-backend.cjs
  scripts/check-redis.sh
  scripts/create-icon-robust.cjs
  src/service/api.ts
  src/types/electron.d.ts
  src/utils/electronConfig.js
  src/utils/environment.ts
  tsconfig.json
  vite.config.ts
Labels: documentation, frontend, other, config

#543 feat: list view optimization by ~80% , redis integration , fixes switch context logic
  backend/wds/common.go
  backend/wds/deployment/details.go
  backend/wds/list.go
Labels: backend, wds

#538 Added List View in Staged Workloads and Deployed Workloads
  package-lock.json
  src/components/CreateOptions.tsx
  src/components/ListViewComponent.tsx
  src/components/TreeViewComponent.tsx
  src/components/WecsTopology.tsx
  src/hooks/queries/useWDSQueries.ts
Labels: frontend, other

#549 Refactor: Remove unused WebSocket handler and related functions
  backend/namespace/namespace.go
  backend/namespace/treeView.go
Labels: backend

#551 updated the auto labelling logic in staged workload
  backend/k8s/resources.go
Labels: backend

#552 fix: now the labels in ns and workload is same
  backend/k8s/resources.go
Labels: backend

#554 Add API endpoints for namespace management and synchronization
  backend/namespace/namespace.go
  backend/namespace/treeView.go
  backend/routes/namespace.go
Labels: backend

#557 workloads fixed
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
Labels: backend, wds

#555 Feat: Edit labels to the ClustersTable component
  backend/main.go
  src/components/ClustersTable.tsx
  src/hooks/queries/useClusterQueries.ts
Labels: backend, frontend

#558 Fix: Improve icon visibility in dark mode for dropdown and view toggles
  src/components/ContextDropdown.tsx
  src/components/TreeViewComponent.tsx
  src/components/WecsTopology.tsx
Labels: frontend

#560 Fix: Improve dark mode UI with proper contrast for list view and icons
  src/components/ListViewComponent.tsx
Labels: frontend

#562 Fix: Improve list view responsiveness and pagination layout
  src/components/ListViewComponent.tsx
Labels: frontend

#565 Fix: Resolve binding policy filter issues with status matching
  src/components/BindingPolicy/BPTable.tsx
  src/pages/BP.tsx
Labels: frontend

#571 Staged workloads labels style improved
  src/components/DynamicDetailsPanel.tsx
Labels: frontend

#572 :deciduous_tree: [Feature] Detail API For Remote Tree View
  backend/its/manual/handlers/cluster.go
  backend/routes/cluster.go
  package-lock.json
Labels: backend, other

#574 Added dropdown menu with search box to select popular Helmchart
  src/components/CreateOptions.tsx
  src/components/Workloads/HelmTab.tsx
  src/components/Workloads/HelmTab/CreateOwnHelmForm.tsx
  src/components/Workloads/HelmTab/HelmTab.tsx
  src/components/Workloads/HelmTab/PopularHelmChartsForm.tsx
  src/components/Workloads/HelmTab/UserCreatedChartsForm.tsx
Labels: frontend

#575 Improved the cluster labels
  src/components/BindingPolicy/CanvasItems.tsx
  src/components/BindingPolicy/ClusterPanel.tsx
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/PolicyCanvas.tsx
  src/components/BindingPolicy/PolicyDragDropContainer.tsx
Labels: frontend

#577 Added the search funcctionality for both clusters and workload labels
  src/components/BindingPolicy/ClusterPanel.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
Labels: frontend

#579 improved the logs message and added more condition
  backend/k8s/resources.go
Labels: backend

#583 Update Stage Workloads hierarchy and Add Cluster Details Frontend
  src/components/ContextDropdown.tsx
  src/components/TreeViewComponent.tsx
  src/components/WecsDetailsPanel.tsx
  src/components/WecsTopology.tsx
Labels: frontend

#582 Added a check icon to show selected label item for the binding canvas
  src/components/BindingPolicy/ClusterPanel.tsx
  src/components/BindingPolicy/PolicyCanvas.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
Labels: frontend

#578 feat: Exec In Pod (Backend)
  backend/k8s/client.go
  backend/routes/wecs.go
  backend/wecs/exec.go
  public/examples/pod-exec-access.yaml
  src/components/PodTerminal.tsx
  src/components/Terminal.tsx
  src/context/WebSocketProvider.tsx
  src/routes/routes-config.tsx
Labels: backend, frontend

#584 fixed/drag-drop
  src/components/BindingPolicy/ClusterPanel.tsx
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/PolicyCanvas.tsx
  src/components/BindingPolicy/PolicyDragDrop.tsx
  src/components/BindingPolicy/PolicyDragDropContainer.tsx
  src/components/BindingPolicy/PolicyPanels.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
Labels: frontend

#589 added individual delete button to the clusters and workload
  src/components/BindingPolicy/PolicyCanvas.tsx
Labels: frontend

#591 Fixed the bulk deletion issue in bp
  src/components/BindingPolicy/BPTable.tsx
  src/components/BindingPolicy/Dialogs/BPHeader.tsx
  src/hooks/queries/useBPQueries.ts
  src/pages/BP.tsx
Labels: frontend

#590 Fix/esc signout button
  src/components/Header.tsx
Labels: frontend

#594 Multi-User Authentication with Role-Based Access Control
  backend/auth/auth.go
  backend/jwt/config.go
  backend/k8s/deployer.go
  backend/middleware/auth.go
  backend/models/user.go
  backend/routes/jwt.go
  backend/routes/setup.go
  backend/utils/jwt.go
  src/components/ProtectedRoute.tsx
  src/components/PublicRoute.tsx
  src/components/login/LoginForm.tsx
Labels: backend, frontend

#596 Kubeconfig import API -1
  backend/its/manual/handlers/cluster.go
  backend/routes/cluster.go
Labels: backend

#599 Added feature to directly edit the cluster labels
  src/components/BindingPolicy/ClusterPanel.tsx
  src/components/BindingPolicy/Dialogs/BPHeader.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
Labels: frontend

#605 Enhance authentication with user permissions and JWT handling
  backend/auth/auth.go
  backend/jwt/config.go
  backend/k8s/deployer.go
  backend/middleware/auth.go
  backend/models/user.go
  backend/routes/jwt.go
  backend/routes/setup.go
  backend/utils/jwt.go
  src/components/ProtectedRoute.tsx
  src/components/PublicRoute.tsx
  src/components/login/LoginForm.tsx
Labels: backend, frontend

#603 Remove all the hard coded APIs
  src/components/ContextDropdown.tsx
  src/components/CreateOptions.tsx
  src/components/DynamicDetailsPanel.tsx
  src/components/ListViewComponent.tsx
  src/components/PodTerminal.tsx
  src/components/ProtectedRoute.tsx
  src/components/PublicRoute.tsx
  src/components/WecsDetailsPanel.tsx
  src/components/Workloads/AddWebhookDialog.tsx
  src/components/Workloads/GitHubTab.tsx
  src/components/Workloads/HelmTab/HelmTab.tsx
  src/components/Workloads/HelmTab/UserCreatedChartsForm.tsx
  src/components/login/LoginForm.tsx
  src/context/WebSocketProvider.tsx
  src/lib/api.ts
Labels: frontend

#608 This PR removes the labels from node in the stage workloads view and refactors the ListViewComponent.
  src/components/ListViewComponent.tsx
  src/components/TreeViewComponent.tsx
Labels: frontend

#611 Fix: Properly Respect User-Provided Workload Labels in Deployment Handlers
  backend/api/deploy.go
Labels: backend

#614 feat: add label support in GitHub and Helm tab
  src/components/CreateOptions.tsx
  src/components/Workloads/GitHubTab.tsx
  src/components/Workloads/HelmTab/CreateOwnHelmForm.tsx
  src/components/Workloads/HelmTab/HelmTab.tsx
Labels: frontend

#609 :christmas_tree: Label Fixes for Adding New Labels
  backend/api/handlers.go
Labels: backend

#620 Add Artifact Hub Deployment Support
  backend/api/artifact.go
  backend/k8s/deployer.go
  backend/routes/artifacthub.go
  backend/routes/setup.go
Labels: backend

#617 Namespace issue in the wec fixed after BP is created
  backend/routes/bp.go
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/hooks/queries/useBPQueries.ts
Labels: backend, frontend, wds

#621 Fixed the issue with workload selection in click and drop BP
  src/components/BindingPolicy/BPTable.tsx
  src/components/BindingPolicy/CanvasItems.tsx
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/Dialogs/PolicyDetailDialog.tsx
  src/components/BindingPolicy/PolicyCanvas.tsx
  src/components/BindingPolicy/PolicyDragDropContainer.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
  src/hooks/queries/useBPQueries.ts
Labels: frontend

#623 Add Label Visualization to Node Hover Interactions
  src/components/Wds_Topology/NodeLabel.tsx
  src/components/Workloads/GitHubTab.tsx
  src/components/Workloads/HelmTab/CreateOwnHelmForm.tsx
  src/components/Workloads/HelmTab/HelmTab.tsx
Labels: frontend

#626 fix: improved the logic & error message for CreateWDSContextUsingCommand
  backend/wds/common.go
Labels: backend, wds

#624 Added cluster Scope objects in workload Panel
  backend/wds/bp/handlers.go
  src/components/BindingPolicy/BPTable.tsx
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/KubernetesIcon.tsx
  src/components/BindingPolicy/PolicyCanvas.tsx
  src/components/BindingPolicy/PolicyDragDropContainer.tsx
  src/components/BindingPolicy/PolicyPanels.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
  src/hooks/queries/useBPQueries.ts
Labels: backend, frontend, wds, Don't Merge

#625 Added acceptcluster command
  src/components/ImportClusters.tsx
Labels: frontend

#628 Commented out the Bp visulaise view for the Biding Policy
  src/pages/BP.tsx
Labels: frontend

#630 Fixed the namespace issue in wec
  backend/routes/bp.go
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/hooks/queries/useBPQueries.ts
Labels: backend, frontend, wds
