Repository kubestellar/ui, pull requests merged in 2025-05, with the labels that each got.

#632 Added Context-Based Filtering Dropdown
  src/components/ContextDropdown.tsx
  src/components/ListViewComponent.tsx
  src/components/TreeViewComponent.tsx
Labels: frontend

#638 fix: dropped the cluster-scoped label and Cluster text
  src/components/BindingPolicy/WorkloadPanel.tsx
Labels: frontend

#639 list view show 25 obj per index
  src/components/ListViewComponent.tsx
Labels: frontend

#644 fix : fix for menu item in 'Deployed workloads' and update WecsDetailsPanel and WecsTopology to conditionally render logs
  src/components/WecsDetailsPanel.tsx
  src/components/WecsTopology.tsx
Labels: frontend

#641 Updated the bp naming for click and drop
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
Labels: frontend

#643 Updated the workload panel to show all the resources
  src/components/BindingPolicy/WorkloadPanel.tsx
  src/hooks/queries/useBPQueries.ts
Labels: frontend

#646 [Enhancement] Added ReactFlow background to empty state of Staged Workloads
  src/components/TreeViewComponent.tsx
Labels: frontend

#647 Workload label UI consistency and key:value changes
  src/components/CreateOptions.tsx
  src/components/Workloads/GitHubTab.tsx
  src/components/Workloads/HelmTab/CreateOwnHelmForm.tsx
  src/components/Workloads/HelmTab/HelmTab.tsx
  src/components/Workloads/HelmTab/PopularHelmChartsForm.tsx
  src/components/Workloads/UploadFileTab.tsx
  src/components/Workloads/YamlTab.tsx
Labels: frontend

#649 fix
  src/components/CreateOptions.tsx
  src/components/Workloads/GitHubTab.tsx
  src/components/Workloads/HelmTab/CreateOwnHelmForm.tsx
  src/components/Workloads/HelmTab/HelmTab.tsx
  src/components/Workloads/HelmTab/PopularHelmChartsForm.tsx
  src/components/Workloads/UploadFileTab.tsx
  src/components/Workloads/WorkloadLabelInput.tsx
  src/components/Workloads/YamlTab.tsx
Labels: frontend

#651 Add labelInjector post-renderer for Kubernetes manifests
  backend/k8s/deployer.go
Labels: backend

#656 Prefix text in workload lable input box visible in light mode
  src/components/Workloads/WorkloadLabelInput.tsx
Labels: frontend

#655 feat: optimize WebSocket message handling in StreamK8sDataChronologic…
  backend/wecs/wecs.go
Labels: backend

#653 Feature artifact tab in the create workload option
  src/components/CreateOptions.tsx
  src/components/Workloads/AirtfactTab/ArtifactHubTab.tsx
  src/components/Workloads/AirtfactTab/DirectDeployForm.tsx
  src/components/Workloads/AirtfactTab/RepositoriesListForm.tsx
  src/components/Workloads/AirtfactTab/SearchPackagesForm.tsx
Labels: frontend, Don't Merge

#657 Added Feature to Create/Add New Contexts
  src/components/ContextDropdown.tsx
Labels: frontend

#663 Fixed jumpiness in modal in Staged Workloads tab when switching between tabs
  src/components/CreateOptions.tsx
Labels: frontend

#665 Add Namespace Labels for Helm Chart, Artifact Hub, and GitHub Chart
  backend/k8s/deployer.go
Labels: backend

#667 Increase timeout settings in command handler and API client to 30 sec…
  backend/its/manual/handlers/command.go
  src/lib/api.ts
Labels: backend, frontend

#671 Added some missing resources
  src/components/BindingPolicy/ClusterPanel.tsx
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/PolicyDragDropContainer.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
  src/hooks/queries/useBPQueries.ts
Labels: frontend

#669 Fixed WorkloadInput Text Field Across All Tabs
  src/components/StyledComponents.tsx
  src/components/Workloads/AirtfactTab/ArtifactHubTab.tsx
  src/components/Workloads/AirtfactTab/DirectDeployForm.tsx
  src/components/Workloads/AirtfactTab/RepositoriesListForm.tsx
  src/components/Workloads/AirtfactTab/SearchPackagesForm.tsx
  src/components/Workloads/GitHubTab.tsx
  src/components/Workloads/GitHubTab/GitHubTab.tsx
  src/components/Workloads/HelmTab/CreateOwnHelmForm.tsx
  src/components/Workloads/HelmTab/HelmTab.tsx
  src/components/Workloads/HelmTab/PopularHelmChartsForm.tsx
  src/components/Workloads/HelmTab/UserCreatedChartsForm.tsx
  src/components/Workloads/UploadFileTab.tsx
  src/components/Workloads/WorkloadLabelInput.tsx
  src/components/Workloads/YamlTab.tsx
Labels: frontend, Don't Merge

#676 Refactor DeployHandler for improved GitHub repository handling
  backend/api/deploy.go
  backend/go.mod
  backend/k8s/deployer.go
  backend/k8s/resources.go
Labels: backend

#672 Synchronised changes between workload label inputbox and editor in yaml and input file tab
  src/components/CreateOptions.tsx
  src/components/Workloads/UploadFileTab.tsx
  src/components/Workloads/YamlTab.tsx
Labels: frontend

#677 Added username beside profile
  src/components/Header.tsx
Labels: frontend

#678 Added Highlighting for Common Labels Across Workloads
  src/components/TreeViewComponent.tsx
  src/components/Wds_Topology/FlowCanvas.tsx
  src/components/Wds_Topology/NodeLabel.tsx
  src/components/WecsTopology.tsx
  src/stores/labelHighlightStore.ts
Labels: frontend, Don't Merge

#679 Fix Vertical Alignment of Pods/Child Objects in Remote Cluster View
  src/components/WecsTopology.tsx
Labels: frontend

#688 Resolve Broken Links in ui/backend
  backend/README.md
  backend/docs/images/kubeflex-high-level-arch.png
  backend/docs/images/kubeflex-logo.png
Labels: backend

#686 fixed BP dark mode light mode issue
  src/components/BindingPolicy/CanvasItems.tsx
  src/components/BindingPolicy/ClusterPanel.tsx
  src/components/BindingPolicy/PolicyCanvas.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
Labels: frontend

#699 Enhance K8s Resource Streaming with Additional Resource Types
  backend/go.mod
  backend/go.sum
  backend/wecs/wecs.go
Labels: backend

#705 Added the feature to edit the workload labels
  src/components/BindingPolicy/ClusterPanel.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
Labels: frontend

#712 fixed margin and canvas issue
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
Labels: frontend

#702 Added label tag , and handle multi cluster selection
  src/components/ClustersTable.tsx
Labels: frontend

#716 Added a placeholder text in workload serach
  src/components/BindingPolicy/WorkloadPanel.tsx
Labels: frontend

#713 Fixed login button
  src/components/Header.tsx
Labels: frontend

#691 fix menu items button response for wds1
  src/components/DynamicDetailsPanel.tsx
  src/components/TreeViewComponent.tsx
Labels: frontend

#689 Updated the License to Apache 2
  LICENSE
Labels: documentation, other

#710 Implemented useLogin and useAuth hooks
  src/api/auth/constant.ts
  src/api/auth/index.ts
  src/api/auth/types.ts
  src/components/Header.tsx
  src/components/ProtectedRoute.tsx
  src/components/PublicRoute.tsx
  src/components/login/LoginForm.tsx
  src/hooks/queries/useLogin.ts
  src/hooks/useAuth.ts
Labels: frontend

#717 Fix: Incorrect Namespace Info in Context Details Panel
  src/components/DynamicDetailsPanel.tsx
Labels: frontend

#725 Enhance StreamK8sDataChronologically to process additional Kubernetes resources
  backend/wecs/wecs.go
Labels: backend

#727 Updated the label filtering logic
  src/components/BindingPolicy/WorkloadPanel.tsx
Labels: frontend

#731 Added multi-container select option in the Exec Pod
  src/components/WecsDetailsPanel.tsx
  src/components/WecsTopology.tsx
Labels: frontend

#736 Refactor StreamK8sDataChronologically to enhance resource processing and sorting logic
  backend/wecs/wecs.go
Labels: backend

#730 KubeStellar Installation Flow Enhancement
  Dockerfile
  docker-compose.yml
  src/components/KubeStellarStatusChecker.tsx
  src/pages/InstallationPage.tsx
  src/routes/routes-config.tsx
Labels: frontend, other, docker

#738 Upgrade Go base image to v1.24.2 to match go.mod requirements
  backend/Dockerfile
Labels: backend, docker

#734 fix: removed the hardcoded container selection from exec-in-pods
  backend/wecs/exec.go
Labels: backend

#718 Implemented useWebSocketQuery to use it for useWebsocket hook.
  src/components/ContextDropdown.tsx
  src/components/DynamicDetailsPanel.tsx
  src/hooks/queries/useWebSocketQuery.ts
  src/hooks/useWebSocket.ts
Labels: frontend

#740 Fixed Duplicated namespace in List View Staged Workloads
  src/components/ListViewComponent.tsx
Labels: frontend

#744 fix: updated the list-view api to show all k8s workload resources
  backend/routes/resources.go
  backend/wds/list.go
Labels: backend, wds

#741 Fix KS Installation Status Detection
  src/pages/InstallationPage.tsx
  src/routes/routes-config.tsx
Labels: frontend

#739 Add Consistency to Apply and Cancel Buttons in Artifact Hub (Similar to Helm and GitHub)
  src/components/Workloads/AirtfactTab/ArtifactHubTab.tsx
Labels: frontend

#711 Fixed bp canvas buttons, dialog box
  src/components/BindingPolicy/ClusterPanel.tsx
  src/components/BindingPolicy/PolicyCanvas.tsx
  src/components/BindingPolicy/PolicyDragDrop.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
Labels: frontend

#745 changed the labelKey to kubestellar.io/workload (backend)
  backend/k8s/resources.go
Labels: backend

#747 Context list sorted
  src/components/ContextDropdown.tsx
Labels: frontend

#749 Fix dark mode styling in 'Deploy from popular Helm charts' section
  src/components/Workloads/HelmTab/PopularHelmChartsForm.tsx
Labels: frontend

#752 Add workload label support to namespace creation in DeployManifests
  backend/k8s/deployer.go
Labels: backend

#753 Support Vertical Alignment for pods of all objects and Fix Overlapping Issue in Remote Cluster View
  src/components/WecsTopology.tsx
Labels: frontend

#758 Remove KubeStellarStatusChecker from routes configuration
  src/routes/routes-config.tsx
Labels: frontend

#754 Added Bulk edit Mode
  src/components/BindingPolicy/ClusterDialogs.tsx
  src/components/BindingPolicy/ClusterLabelsList.tsx
  src/components/BindingPolicy/ClusterPanel.tsx
  src/components/BindingPolicy/ClusterPanelHeader.tsx
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/PolicyDragDropContainer.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
  src/components/ClustersTable.tsx
  src/components/TreeViewComponent.tsx
  src/hooks/queries/useBPQueries.ts
  src/pages/ITS.tsx
Labels: frontend

#760 FIX: Login error and issues
  src/api/auth/index.ts
  src/hooks/queries/useLogin.ts
  src/lib/api.ts
Labels: frontend

#704 Add skeleton loading states for improved user experience
  src/components/Clusters.tsx
  src/components/ClustersTable.tsx
  src/components/Header.tsx
  src/components/ListViewComponent.tsx
  src/components/PublicRoute.tsx
  src/components/TreeViewComponent.tsx
  src/components/WecsTopology.tsx
  src/components/ui/ClusterSkeleton.tsx
  src/components/ui/HeaderSkeleton.tsx
  src/components/ui/ListViewSkeleton.tsx
  src/components/ui/PublicRouteSkeleton.tsx
  src/components/ui/Skeleton.tsx
  src/components/ui/TableSkeleton.tsx
  src/components/ui/TreeViewSkeleton.tsx
  src/components/ui/WDSSkeleton.tsx
  src/components/ui/WecsTreeviewSkeleton.tsx
  src/pages/ITS.tsx
  src/pages/WDS.tsx
Labels: frontend

#761 Add Summary Tab as Initial View for Node Clicks and Hide Logs Tab for Non-Pod Objects
  src/components/WecsDetailsPanel.tsx
  src/components/WecsTopology.tsx
Labels: frontend

#765 --previous supported for viewing logs
  backend/wecs/wecs.go
Labels: backend

#762 Fix: KubeStellar Installation Status detection
  src/components/ImportClusters.tsx
  src/components/KubeStellarStatusChecker.tsx
  src/pages/InstallationPage.tsx
  src/routes/routes-config.tsx
Labels: frontend

#769 Refactor status message handling in CheckKubeStellarStatus function
  backend/installer/kubestellar_status.go
Labels: backend

#766 Fix Dark/Light Mode Styling of Dropdown Components in Remote Cluster Objects, Stage Workloads also for Nodes.
  src/components/TreeViewComponent.tsx
  src/components/WecsTopology.tsx
Labels: frontend

#771 Enhance Prerequisites Accessibility and Improve Tab UX
  src/pages/InstallationPage.tsx
Labels: frontend

#774 Create Namespace true by default
  src/components/Workloads/UploadFileTab.tsx
  src/components/Workloads/YamlTab.tsx
Labels: frontend

#773 fixed button yaml and json
  src/components/DynamicDetailsPanel.tsx
  src/components/WecsDetailsPanel.tsx
Labels: frontend

#781 Update KubeStellar status check for multiple context types
  backend/installer/kubestellar_status.go
Labels: backend

#748 refactor: replace fmt.Printf with zap logging in BindingPolicy handlers
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
Labels: backend, wds

#793 Fix: Bug in the Manage Workloads Tree
  src/components/PodTerminal.tsx
  src/components/Terminal.tsx
  src/components/TreeViewComponent.tsx
  src/components/WecsTopology.tsx
  src/routes/routes-config.tsx
Labels: frontend

#782 Skeleton loading for /src/pages/BP.tsx
  src/components/ui/BPSkeleton.tsx
  src/pages/BP.tsx
Labels: frontend

#783 Fix: add the edit pencil icon (for edit labels) into the its manual section
  src/components/ClustersTable.tsx
Labels: frontend

#802 Added CODE_OF_CONDUCT.md - mirror of our Kubestellar repo
  CODE_OF_CONDUCT.md
Labels: other

#776 bug: Removed all the ascii and also collapse the managed fields
  package-lock.json
  package.json
  src/hooks/queries/useBPQueries.ts
Labels: frontend, other

#790 Fix: Add dark themed status filter in dark theme
  src/components/ClustersTable.tsx
Labels: frontend

#799 Feat: Full Screen in WDS, WECS Toggle Component Implementation and Improvements
  src/components/Header.tsx
  src/components/TreeViewComponent.tsx
  src/components/WecsTopology.tsx
  src/components/ui/FullScreenToggle.tsx
  src/components/ui/HeaderSkeleton.tsx
Labels: frontend

#798 [DOCS] Update Readme and Conributing .md
  CONTRIBUTING.md
  README.md
Labels: documentation, other, Don't Merge

#814 updated the logo and added info of Kubestellar
  README.md
  public/Kubestellar-logo.png
Labels: documentation, frontend, other

#812 UI Enhancement: Differentiate Toast Message Colors Based on Type & UI/UX Improvement
  src/components/providers/ToastProvider.tsx
  src/main.tsx
Labels: frontend

#827 filter object for log tab, and increase node spacing
  src/components/DynamicDetailsPanel.tsx
  src/components/TreeViewComponent.tsx
  src/components/Wds_Topology/FlowCanvas.tsx
  src/components/Wds_Topology/NodeLabel.tsx
  src/components/WecsTopology.tsx
Labels: frontend

#824 Improved color combinations & 3D Effects in Toast
  src/components/providers/ToastProvider.tsx
Labels: frontend

#830 Implement managed cluster APIs and enhance onboarding routes
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/auto_label_pr.yml
  .github/workflows/ci.yml
  .github/workflows/docker-push.yml
  .husky/pre-commit
  .prettierignore
  .prow.yaml
  Dockerfile
  backend/.golangci.yaml
  backend/Dockerfile
  backend/api/cluster_logs.go
  backend/api/cluster_socket.go
  backend/api/detach.go
  backend/api/handlers.go
  backend/api/installer-websocket.go
  backend/api/manage_clusters.go
  backend/models/cluster.go
  backend/routes/cluster.go
  docker-compose.yml
  index.html
  package-lock.json
  package.json
  public/examples/multiple-resource-auto-ns-creation.yaml
  public/examples/multiple-resource-example.yaml
  public/examples/multiple-resource-with-ns.yaml
  public/examples/nginx-deployment.yaml
  public/examples/pod-exec-access.yaml
Labels: documentation, backend, frontend, other, docker, ci, size/XXL

#831 Update OWNERS
  OWNERS
Labels: other, size/XS

#829 [FIX] All Lint Warnings (Currently 9)
  src/components/BindingPolicy/PolicyDragDropContainer.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
  src/components/CreateOptions.tsx
  src/components/TreeViewComponent.tsx
  src/components/WecsTopology.tsx
  src/context/WebSocketProvider.tsx
  src/context/webSocketExports.ts
  src/hooks/queries/useWebSocketQuery.ts
Labels: frontend, lgtm, size/L, ok-to-test, approved

#833 Integrated the new its api into bidning policy cluster labels.
  src/components/BindingPolicy/ClusterPanel.tsx
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/PolicyDragDropContainer.tsx
  src/components/ClustersTable.tsx
  src/hooks/queries/useBPQueries.ts
  src/hooks/queries/useClusterQueries.ts
  src/pages/BP.tsx
  src/pages/ITS.tsx
  src/types/bindingPolicy.ts
Labels: frontend, lgtm, size/L

#835 fix: added condition for check both kind & k3d kubeflex
  backend/Dockerfile
  backend/wds/common.go
Labels: backend, docker, wds, size/M

#801 [FEAT] Added the script for fixing lints
  package.json
Labels: other, lgtm

#838 fix: Enhance Pod Context Menu with Exec Pod Option
  src/components/WecsTopology.tsx
Labels: frontend, needs-ok-to-test, size/M

#844 Update OWNERS
  OWNERS
Labels: size/XS

#817 Fixes Dropdown functionality in remote-cluster-page
  src/components/WecsTopology.tsx
Labels: frontend, size/S, lgtm

#834 fix: mitigate code injection risk by bumping js-yaml to 4.1.0
  package-lock.json
  package.json
Labels: other, needs-ok-to-test, size/M

#848 Integrated and Re-Structured the Remote Clusters
  db.json
  src/components/ApiUrlImportTab.tsx
  src/components/ClusterDetailDialog.tsx
  src/components/ClustersTable.tsx
  src/components/DetachmentLogsDialog.tsx
  src/components/ImportClusters.tsx
  src/components/KubeconfigImportTab.tsx
  src/components/ManualImportTab.tsx
  src/components/OnboardingLogsDisplay.tsx
  src/hooks/queries/useClusterQueries.ts
  src/pages/BP.tsx
Labels: frontend, other, size/XXL, approved

#850 fix: add vendor folder to .prettierignore
  .prettierignore
Labels: needs-ok-to-test, lgtm, size/XS

#854 Updated the ITS api in BP
  src/pages/BP.tsx
Labels: frontend, lgtm, size/M

#856 Updated cluster context in clusters table
  src/components/ClustersTable.tsx
Labels: frontend, size/XS

#870 Feat: Unbeatable Dashboard Revamp: Next-Level UX, Cluster Health, & Recent Activity
  src/components/Clusters.tsx
  src/components/CommandPalette.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/components/ProfileSection.tsx
  src/components/menu/Menu.tsx
  src/components/menu/MenuItem.tsx
  src/components/ui/ClusterSkeleton.tsx
  src/components/ui/HeaderSkeleton.tsx
  src/hooks/queries/useClusterQueries.ts
  src/index.css
  src/lib/theme-utils.ts
  tailwind.config.js
Labels: frontend, other, config, needs-ok-to-test, lgtm, size/XXL, approved

#873 Updated the Closure of Create Bp dialog
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/hooks/queries/useBPQueries.ts
  src/pages/BP.tsx
Labels: frontend, size/S, approved

#884 Fixed the resources and labels issues in BP
  src/components/BindingPolicy/WorkloadPanel.tsx
  src/components/OnboardingLogsDisplay.tsx
  src/hooks/queries/useBPQueries.ts
Labels: frontend, approved

#885 Feat: UI/UX Enhancements and Toast Improvements
  src/components/Clusters.tsx
  src/components/providers/ToastProvider.tsx
  src/pages/InstallationPage.tsx
Labels: frontend, needs-ok-to-test, size/XL

#887 Added the option to add the BP name
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/PolicyDragDropContainer.tsx
  src/components/BindingPolicy/PolicyNameDialog.tsx
Labels: frontend

#810 add redis cache for binding policy storage
  backend/redis/redis.go
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
Labels: backend, wds, size/L

#886 Feat: Search , Filter Functionality and UI/UX improvement of cluster table and Quick Connect
  src/components/ClusterDetailDialog.tsx
  src/components/ClustersTable.tsx
  src/components/ImportClusters.tsx
  src/components/ManualImportTab.tsx
  src/components/QuickConnectTab.tsx
  src/lib/react-query/QueryProvider.tsx
Labels: frontend, needs-ok-to-test, lgtm, size/XXL, do-not-merge/hold

#890 Free scrolling on the FlowCanvas
  src/components/Wds_Topology/FlowCanvas.tsx
Labels: frontend, needs-ok-to-test, size/XS

#897 Updated the Retry logic to fetch cluster when no cluster is available
  src/components/BindingPolicy/Dialogs/PolicyDetailDialog.tsx
  src/components/ClustersTable.tsx
  src/components/ImportClusters.tsx
  src/components/QuickConnectTab.tsx
Labels: frontend, size/L

#904 Fix WebSocket Connection Hijacking and Add CORS Environment Variable Support
  Dockerfile
  backend/.env.example
  backend/k8s/resources.go
  backend/main.go
  docker-compose.yml
Labels: backend, other, docker, size/M, approved

#906 Delete and Edit labels in cluster
  backend/api/handlers.go
  backend/wds/bp/handlers.go
  src/components/ClustersTable.tsx
  src/hooks/queries/useClusterQueries.ts
Labels: backend, frontend, wds, size/XXL

#905 Fix/minor UI issues
  src/components/Workloads/CancelConfirmationDialog.tsx
  src/components/Workloads/GitHubTab/CreateFromGitHubForm.tsx
Labels: frontend, needs-ok-to-test, size/XS

#910 Updated th redis for Binding Policy
  backend/redis/redis.go
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
Labels: backend, wds, lgtm, size/M

#913 Refactor Dockerfile and docker-compose for build arguments
  Dockerfile
  docker-compose.yml
Labels: other, docker, size/S

#933 🚀 Enhanced API Functionality and Performance Improvements
  backend/api/deploy.go
  backend/routes/gitops.go
Labels: backend, needs-ok-to-test, size/XXL, approved

#934 Comprehensive Metrics and Monitoring System
  backend/routes/metrics.go
  backend/routes/setup.go
Labels: backend, needs-ok-to-test, size/L, approved

#943 Fix/selected bp after trash icon deletion
  src/hooks/queries/useBPQueries.ts
  src/pages/BP.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#899 Add confirmation dialogue before leaving onboarding cluster
  src/components/ImportClusters.tsx
Labels: frontend, lgtm, size/L, approved

#948 Add WSL Troubleshooting Note to README
  README.md
Labels: documentation, other, needs-ok-to-test, lgtm, approved

#864 fix: Include trim logic in Login form
  .husky/pre-commit
  backend/routes/jwt.go
Labels: backend, needs-ok-to-test, lgtm, size/XS, approved
