Repository kubestellar/ui, pull requests merged in 2025-06, with the labels that each got.

#845 Feat/standardize cancel button 2
  src/components/ApiUrlImportTab.tsx
  src/components/BindingPolicy/CancelConfirmationDialog.tsx
  src/components/BindingPolicy/ClusterDialogs.tsx
  src/components/BindingPolicy/ConfigurationSidebar.tsx
  src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  src/components/BindingPolicy/DeploymentConfirmationDialog.tsx
  src/components/BindingPolicy/Dialogs/DeleteDialog.tsx
  src/components/BindingPolicy/Dialogs/EditBindingPolicyDialog.tsx
  src/components/BindingPolicy/Dialogs/PolicyDetailDialog.tsx
  src/components/BindingPolicy/QuickPolicyDialog.tsx
  src/components/BindingPolicy/WorkloadPanel.tsx
  src/components/ClustersTable.tsx
  src/components/ContextDropdown.tsx
  src/components/KubeconfigImportTab.tsx
  src/components/ManualImportTab.tsx
  src/components/NewAppDialog.tsx
  src/components/QuickConnectTab.tsx
  src/components/TreeViewComponent.tsx
  src/components/Workloads/AddCredentialsDialog.tsx
  src/components/Workloads/AddWebhookDialog.tsx
  src/components/Workloads/AirtfactTab/ArtifactHubTab.tsx
  src/components/Workloads/GitHubTab.tsx
  src/components/Workloads/HelmTab/HelmTab.tsx
  src/components/Workloads/HelmTab/UserCreatedChartsForm.tsx
  src/components/Workloads/UploadFileTab.tsx
  src/components/Workloads/YamlTab.tsx
  src/components/common/CancelButton.tsx
Labels: frontend, needs-ok-to-test, lgtm, size/XXL, approved

#970 fix: add missing timestamp labels to nodes
  src/components/TreeViewComponent.tsx
  src/components/WecsTopology.tsx
Labels: frontend, lgtm, size/L, ok-to-test, approved

#977 Fixed all lint warnings
  src/components/WecsDetailsPanel.tsx
  src/components/WecsTopology.tsx
  src/context/WebSocketProvider.tsx
  src/hooks/queries/useLogin.ts
  src/pages/BP.tsx
Labels: frontend, lgtm, size/M, ok-to-test, approved

#975 fix: buggy behaviour of zoom controls
  src/components/Wds_Topology/ZoomControls.tsx
Labels: frontend, lgtm, size/M, ok-to-test, approved

#896 Feat/download logs for pods
  src/components/DownloadLogsButton.tsx
  src/components/DownloadLogsModal.tsx
  src/components/DynamicDetailsPanel.tsx
  src/components/ListViewComponent.tsx
  src/components/LogModal.tsx
  src/components/WecsDetailsPanel.tsx
Labels: frontend, lgtm, size/L, ok-to-test, approved

#983 Add Environment Variable Support and Migrate to GHCR
  Dockerfile
  README.md
  backend/Dockerfile
  docker-compose.yml
  nginx.conf
Labels: documentation, backend, other, docker, approved

#891 Fix/insecure password storage in remember me functionality
  src/components/login/LoginForm.tsx
  src/hooks/queries/useLogin.ts
  src/utils/secureStorage.ts
Labels: frontend, lgtm, size/L, ok-to-test, approved

#986 Delete db.json
  db.json
Labels: other, size/XS, approved

#992 Update OWNERS
  OWNERS
Labels: other, size/XS

#996 :sparkles: add translation for portugese
  src/locales/strings.pt.json
Labels: frontend, lgtm, size/XS

#1013 Remove redundant nil checks
  backend/wds/bp/handlers.go
Labels: backend, wds, lgtm, size/XS, ok-to-test, approved

#1018 Updating Greetings CI Version and Permission
  .github/workflows/greeting.yml
Labels: ci, lgtm, size/XS, approved

#1021 Adding Missing Translations in Remaining UI Elements
  src/components/BindingPolicy/PolicyCanvas.tsx
  src/components/BindingPolicy/PolicyDragDrop.tsx
  src/components/Clusters.tsx
  src/components/ClustersTable.tsx
  src/components/ProfileSection.tsx
  src/locales/strings.en.json
Labels: frontend, lgtm, size/L, approved

#862 Implement gofmt formatter in precommit
  .husky/pre-commit
Labels: lgtm, size/XS, ok-to-test, approved

#1026 Add design-progress.md to track UI/UX deliverables and PRs
  docs/design-progress.md
Labels: lgtm, size/M, ok-to-test, approved

#866 Improved logging to ListContexts() for WDS context filtering
  backend/wds/common.go
Labels: backend, wds, lgtm, size/M, ok-to-test, approved

#1041 Added Mock APIs and their Routes
  backend/api/plugins.go
  backend/plugin/plugins/manager.go
  backend/routes/gitops.go
  backend/routes/plugins.go
Labels: backend, lgtm, ok-to-test, approved, size/XL

#1040 Added Search Component for clusterTable and BindingPolicy
  src/components/BindingPolicy/Dialogs/BPHeader.tsx
  src/components/ClustersTable.tsx
  src/components/common/SearchBox.tsx
Labels: frontend, lgtm, size/L, approved

#1046 Improve Binding Policy Count in Pagination
  src/components/BindingPolicy/BPPagination.tsx
  src/locales/strings.en.json
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1004 chore: add logs in `backend Services`
  backend/k8s/client.go
  backend/middleware/auth.go
  backend/redis/redis.go
  backend/services/clusterService.go
  backend/wecs/exec.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1054 wip: added redis in prow ci
  .prow.yaml
Labels: size/S, lgtm, ok-to-test, approved, do-not-merge/work-in-progress

#875 Implements exponential backoff for the retry logic in updating the resources
  backend/k8s/resources.go
Labels: backend, lgtm, size/M, ok-to-test, approved

#1045 feat: add test_case for the redis_service
  .github/workflows/ci.yml
  .husky/pre-commit
  backend/go.mod
  backend/test/redis/redis_test.go
Labels: backend, ci, lgtm, size/L, approved

#1070 Fix the Pluigns Routes
  backend/routes/gitops.go
  backend/routes/setup.go
Labels: backend, lgtm, size/XS, ok-to-test, approved

#1058 Remove unused struct the user model
  backend/models/user.go
Labels: backend, lgtm, size/XS, ok-to-test, approved

#1071 🐛 : fix command palettee not covering TreeViewComponent(No workload found box)
  src/components/TreeViewComponent.tsx
Labels: frontend, lgtm, size/XS, ok-to-test, approved

#1059 Add some basic test case for the auth
  backend/test/auth/auth_test.go
Labels: backend, lgtm, size/M, ok-to-test, approved

#1082 Missing strings
  .github/workflows/ci.yml
  .prow.yaml
  src/locales/strings.en.json
  src/locales/strings.es.json
  src/pages/InstallationPage.tsx
Labels: frontend, ci, size/S, lgtm, approved

#1087 Bug: Fixes Hardcoded Backend Port
  src/components/OnboardingLogsDisplay.tsx
Labels: frontend, lgtm, size/XS, ok-to-test, approved

#1096 ✨ Improve cluster_logs.go service by adding logging
  backend/api/cluster_logs.go
Labels: backend, lgtm, size/M, ok-to-test, approved

#1029 using GHA to setup preview of KS ui
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
Labels: ci

#1100 trying to fix EOF stuff
  .github/workflows/preview.yml
Labels: ci, size/M

#1102 add manual launch
  .github/workflows/preview.yml
Labels: ci

#1104 fix kubeconfig
  .github/workflows/preview.yml
Labels: ci, size/M

#1086 Bug:Fixes Unreachable code
  src/components/BindingPolicy/ConfigurationSidebar.tsx
  src/components/ClusterDetailDialog.tsx
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1108 Add proper naming of the cluster details
  src/components/ClusterDetailDialog.tsx
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1107 Add Japanese localization
  src/locales/strings.en.json
  src/locales/strings.ja.json
Labels: frontend, lgtm, size/XXL, approved

#1125 make ghcr login static user
  .github/workflows/preview.yml
Labels: ci

#1127 update with secret for pulls
  .github/workflows/preview.yml
Labels: ci

#1126 Fixed missing dependecy array and lint errors
  src/components/QuickConnectTab.tsx
Labels: frontend, lgtm, approved

#1136 fix: Ignore yaml file by prettier
  .prettierignore
Labels: lgtm, size/XS, ok-to-test

#1146 docs: Add progress update on IA Structure & Key User Flowsprogress update
  docs/design-progress.md
Labels: needs-ok-to-test, lgtm, size/L, approved

#1130 image reg for backend
  .github/workflows/preview.yml
Labels: ci, size/XS

#1140 Implement ui for the plugin
  .github/workflows/preview.yml
  src/components/BindingPolicy/Dialogs/BPHeader.tsx
  src/components/PluginManager.tsx
  src/components/menu/useMenuData.ts
  src/locales/strings.en.json
  src/main.tsx
  src/plugins/PluginAPI.ts
  src/plugins/PluginLoader.tsx
  src/plugins/types.ts
  src/routes/routes-config.tsx
Labels: frontend, ci, lgtm, size/XXL, approved

#1160 feat: Add plugin manager field into search(command palette)
  src/components/CommandPalette.tsx
  src/locales/strings.en.json
Labels: frontend, size/S, needs-ok-to-test, lgtm, approved

#1163 feat: add Español language to the Plugin UI
  src/locales/strings.es.json
Labels: frontend, needs-ok-to-test, lgtm, size/L, approved

#1162 feat(ln): Add japanese language support for plugin
  src/locales/strings.ja.json
Labels: frontend, needs-ok-to-test, lgtm, size/L, approved

#1154 chore: update Helm chart version and app version to 0.1.0, remove out dated comments
  chart/Chart.yaml
Labels: size/S, needs-ok-to-test, lgtm, approved

#1164 Updated ....version updated for kubectl_version
  chart/values.yaml
Labels: lgtm, size/XS, ok-to-test, approved

#1176 Implemented Dark-Light Theme on the Installation Page
  src/pages/InstallationPage.tsx
Labels: frontend, lgtm, approved, size/XL

#1169 Updated Makefile for better UX
  backend/Makefile
Labels: backend, lgtm, size/L

#1180 ✨Feat: Update dependencies and enhance log streaming functionality
  backend/wecs/wecs.go
  src/components/PluginManager.tsx
  src/components/WecsDetailsPanel.tsx
  src/locales/strings.en.json
Labels: backend, frontend, lgtm, size/L, ok-to-test

#1182 Implement PostgreSQL connection and health check endpoints
  README.md
  backend/.env.example
  backend/admin/auth.go
  backend/docker-compose.yml
  backend/health/health.go
  backend/main.go
  backend/middleware/auth.go
  backend/models/user.go
  backend/postgresql/Database/connection.go
  backend/postgresql/config.go
  backend/routes/health.go
  backend/routes/jwt.go
  backend/utils/jwt.go
  docker-compose.yml
Labels: documentation, backend, other, docker

#1185 chore: remove redundant README.md from backend/ folder
  backend/README.md
Labels: backend, lgtm, size/L, ok-to-test, approved

#1179 ✨feat: add Lima environment setup for KS UI and KS testing
  hack/lima-kubestellar.yaml
Labels: lgtm, size/L, ok-to-test, approved

#1201 docs: backend's structure overview and example of authentication folder
  backend/docs/images/auth-example.png
  backend/docs/images/backend-structure.png
Labels: backend, lgtm, size/XS, ok-to-test, approved

#1207 Removed extra JWT_SECRET from backend/.env.example
  backend/.env.example
Labels: needs-ok-to-test, lgtm, size/XS, approved

#1200 Improve CONTRIBUTING.md: Added PostgreSQL Integration Guide
  .prettierignore
  CONTRIBUTING.md
  README.md
  prettier.config.js
Labels: documentation, other, needs-ok-to-test, lgtm, size/L, approved

#1209 ✨ Add Kubestellar UI Documentation and Installation Guide
  docs/how-to-install-and-use-kubestellar-ui.md
  docs/ui/README.md
Labels: lgtm, size/M, ok-to-test, approved

#1220 Update README.md
  README.md
Labels: documentation, other, lgtm, approved

#1208 ✨ Feature: Watch BindingPolicy Changes and Sync with Redis
  backend/wds/bp/utils.go
Labels: backend, wds, lgtm, size/M, ok-to-test, approved
