Repository kubestellar/ui, pull requests merged in 2025-08, with the labels that each got.

#1702 fix(i18n): Correct language codes for Chinese translations
  frontend/src/components/LanguageSwitcher.tsx
Labels: frontend, lgtm, size/XS, ok-to-test, approved

#1695 Fix: Block access to disabled plugin route
  backend/middleware/plugin.go
  backend/pkg/plugins/manager.go
Labels: backend, lgtm, size/M, ok-to-test, approved

#1707 Glassmorphism ZoomControls & Fullscreen Support
  frontend/src/components/wds_topology/ZoomControls.tsx
  frontend/src/locales/strings.en.json
Labels: frontend, lgtm, size/L, ok-to-test

#1709 TreeView component with adorable UI, modern UX, and smooth performance.
  frontend/src/components/skeleton/UnifiedSkeleton.tsx
  frontend/src/components/treeView/TreeViewCanvas.tsx
  frontend/src/components/treeView/TreeViewContextMenu.tsx
  frontend/src/components/treeView/TreeViewEdges.tsx
  frontend/src/components/treeView/TreeViewNodes.tsx
  frontend/src/components/treeView/hooks/useTreeViewData.ts
  frontend/src/components/treeView/types.ts
  frontend/src/stores/edgeTypeStore.ts
Labels: frontend, needs-ok-to-test, lgtm, size/XL

#1727 frontend: InstallationPage: feat: Add translations for prerequisites check
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.hi.json
  frontend/src/pages/InstallationPage.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1730 Minor Bugs in Installation Page
  frontend/src/pages/InstallationPage.tsx
Labels: frontend, lgtm, size/XS, approved

#1745 Update workload label to 'Resources' in English localization strings
  frontend/src/locales/strings.en.json
Labels: frontend, needs-ok-to-test, lgtm, size/XS, approved

#1728 Improved Prerequisite Check to Avoid Full Page Reload
  frontend/src/locales/strings.en.json
  frontend/src/pages/InstallationPage.tsx
Labels: frontend, lgtm, size/L, ok-to-test, approved

#1725 Refactor backend health check API endpoint in useBackendHealthCheck hook
  frontend/src/hooks/useBackendHealthCheck.ts
Labels: frontend, lgtm, size/XS, ok-to-test, approved

#1759 fix `README` referencing older release version doc
  README.md
Labels: documentation, other, lgtm, approved

#1765 chore: remove unused directory of the plugins
  .gitignore
  backend/.gitignore
  backend/plugins/cluster-monitor-2/cluster-monitor.wasm
  backend/plugins/cluster-monitor-2/plugin.yml
Labels: backend, lgtm, size/M, approved

#1763 Fix `npm build` error for frontend
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/MetricsDashboard.tsx
  frontend/src/components/menu/Menu.tsx
  frontend/src/components/menu/MenuItem.tsx
  frontend/src/components/skeleton/FullScreenToggle.tsx
  frontend/src/pages/Dashboard.tsx
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1752 Added the missing .env variable to `README.md`
  README.md
Labels: documentation, other, lgtm, size/XS, approved

#1785 Designed Navbar Button Dropdown with Meaningful Icons
  docs/design-progress.md
Labels: lgtm, size/XS, ok-to-test

#1792 refactor: fix the plugin uploading problem
  backend/marketplace/storage.go
Labels: backend, size/S, lgtm, ok-to-test, approved

#1786 Added all missing keys from English to `strings.hi.json` & key Hindi phrasing/typos are corrected.
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.hi.json
Labels: frontend, lgtm, size/L, ok-to-test, approved

#1795 Added Landing page figma link
  docs/design-progress.md
Labels: lgtm, size/XS, ok-to-test

#1796 Fixed: Styling Bug in CSS of dropdown in RBAC
  frontend/src/components/admin/UserManagement.tsx
Labels: frontend, lgtm, size/L, ok-to-test, approved

#1798 feat: install marketplace plugin
  backend/api/marketplace.go
  backend/go.mod
  backend/go.sum
  backend/marketplace/git_repo.go
  backend/marketplace/local.go
  backend/marketplace/r2.go
  backend/marketplace/storage.go
  backend/models/plugins.go
  backend/pkg/plugins/manager.go
  backend/pkg/plugins/store.go
  backend/postgresql/migrations/000004_install_plugin.up.sql
  backend/routes/marketplace.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1807 Marketplace All Apis Integration & BrandNew Premium Ui/UX
  frontend/src/components/marketplace/FeaturedPlugins.tsx
  frontend/src/components/marketplace/MarketplaceAdminPanel.tsx
  frontend/src/components/marketplace/PluginCard.tsx
  frontend/src/components/marketplace/PluginDeleteModal.tsx
  frontend/src/components/marketplace/PluginDetails.tsx
  frontend/src/components/marketplace/PluginDocumentation.tsx
  frontend/src/components/marketplace/PluginUploadModal.tsx
  frontend/src/hooks/queries/useMarketplaceQueries.ts
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend, lgtm, size/XXL, ok-to-test, approved

#1809 fix: Change the plugin query to fix the plugin installation from the local
  backend/pkg/plugins/store.go
Labels: backend, lgtm

#1756 feat: add assignment helper workflow to guide users to Prow commands
  .github/workflows/assignment-helper.yml
Labels: ci, lgtm, size/M, ok-to-test, approved

#1781 Unconsistent CSS in No workload found Card
  frontend/src/components/treeView/TreeViewCanvas.tsx
Labels: frontend, lgtm, size/L, ok-to-test, approved

#1762 Fix responsiveness for `/login` page
  frontend/src/components/login/KubeStellarLayout.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1548 updated version references to use /latest/* across backend and fronted components
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/ProfileSection.tsx
  frontend/src/pages/InstallationPage.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1732 refactor(installer): improve prerequisite checks and version extraction
  backend/installer/Prerequisites.go
Labels: backend, lgtm, size/M, ok-to-test, approved

#1856 Fix: Install Now button of Feature plugin card
  frontend/src/components/marketplace/FeaturedPlugins.tsx
Labels: frontend, lgtm, size/XS, approved

#1843 Fixed object type dropdown not searchable using keyboard
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend, needs-ok-to-test, lgtm, size/L, approved

#1858 refactor: update marketplace's tags fetching result
  backend/api/marketplace.go
  backend/marketplace/manager.go
  backend/marketplace/storage.go
Labels: backend, size/S, lgtm, approved

#1874 Add DB auto migration
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/postgresql/migrate.go
  backend/postgresql/migrations/000004_install_plugin.down.sql
Labels: backend, lgtm, size/M, ok-to-test, approved

#1879 feat(ci): add sbom generation and upload to artifact
  .github/workflows/report-on-vulnerabilities.yaml
Labels: ci, size/S, lgtm, approved

#1881 added Missing Translation for hi locale
  frontend/src/locales/strings.hi.json
Labels: frontend, lgtm, size/XS, approved

#1876 Fix: Manually Installed plugin can be uploaded to marketplace
  backend/api/marketplace.go
  backend/api/plugins.go
  backend/models/plugins.go
  backend/pkg/plugins/store.go
  backend/postgresql/migrations/000005_add_isMarketplace_flag_to_plugin_details.down.sql
  backend/postgresql/migrations/000005_add_isMarketplace_flag_to_plugin_details.up.sql
Labels: backend, lgtm, size/M, ok-to-test, approved

#1889 add ui-plugins in .gitignore
  .gitignore
Labels: lgtm, size/XS, approved

#1880 fix: alphabetically sort object type dropdown in resource explore
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend, lgtm, size/XS, ok-to-test, approved

#1871 feat: implement drag-and-drop file upload for kubeconfig in ImportCluster component
  frontend/src/components/its/ImportCluster/ImportClusters.tsx
  frontend/src/components/its/ImportCluster/KubeconfigImportTab.tsx
Labels: frontend, lgtm, size/L, approved

#1901 KubeStellar/docs – Programs Page Design
  docs/design-progress.md
Labels: lgtm, size/XS, approved

#1902 KubeStellar/docs – Google Summer of Code (GSoC) Page Design
  docs/design-progress.md
Labels: size/S, lgtm, approved

#1885 feat(logging): enhance logging functionality
  backend/log/log.go
  backend/redis/redis.go
Labels: backend, lgtm, size/M, ok-to-test, approved

#1860 Add hover tooltips for each icon in the collapsed vertical sidebar menu to improve usability.
  frontend/src/components/menu/MenuItem.tsx
  frontend/src/components/menu/Tooltip.tsx
Labels: frontend, lgtm, ok-to-test, approved, size/XL

#1918 Implemented i18n support for Object Explorer strings (English & Hindi)
  frontend/src/components/ObjectFilters.tsx
  frontend/src/components/ResourceCard.tsx
  frontend/src/components/ResourceStats.tsx
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.hi.json
  frontend/src/pages/ObjectFilterPage.tsx
Labels: frontend, needs-ok-to-test, lgtm, size/L, approved

#1919 KubeStellar/docs – IFoS Page Design
  docs/design-progress.md
Labels: lgtm, size/XS, ok-to-test

#1921 KubeStellar/docs – ESOC Page Design
  docs/design-progress.md
Labels: lgtm, size/XS

#1922 Added Link in Resources
  docs/design-progress.md
Labels: lgtm, size/XS, ok-to-test, approved

#1924 KubeStellar/docs – Landing Page Web Design
  docs/design-progress.md
Labels: size/S, lgtm, ok-to-test, approved

#1920 Fix: Navbar width set to full in Installtion Page
  frontend/src/pages/InstallationPage.tsx
Labels: frontend, lgtm, size/XS, ok-to-test, approved

#1908 fix: Plugin system now works with docker
  .env.example
  backend/api/marketplace.go
  backend/api/plugins.go
  backend/main.go
  backend/pkg/config/config.go
  docker-compose.yml
Labels: backend, other, docker, lgtm, size/M, approved, do-not-merge/hold

#1929 introduce grafana icon
  frontend/src/components/menu/useMenuData.ts
Labels: frontend, lgtm, size/XS, approved

#1931 Removed Metrics Dashboard (grafana dashboard is used instead)
  frontend/src/components/MetricsDashboard.tsx
  frontend/src/components/menu/useMenuData.ts
  frontend/src/routes/routes-config.tsx
Labels: frontend, lgtm, approved, size/XL

#1930 restructure metrics backend
  backend/api/metrics.go
  backend/test/api/metrics_test.go
Labels: backend, lgtm, approved, size/XL

#1941 Fixes staged workload issue
  frontend/src/components/wds_topology/ZoomControls.tsx
Labels: frontend, lgtm, size/XS

#1944 Removed Platform from plugin details
  frontend/src/components/marketplace/PluginDetails.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved
