Repository kubestellar/ui, pull requests merged in 2025-09, with the labels that each got.

#1906 fix: resolve marketplace heading overflow with navbar
  frontend/src/components/marketplace/CategoryFilter.tsx
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1950 Fix the laggy sidebar expand/collapse menu transitions
  frontend/src/components/Layout.tsx
Labels: frontend, size/XS, ok-to-test, approved

#1869 feat(ui): add collapse/expand button to toggle additional controls
  frontend/src/components/wds_topology/ZoomControls.tsx
Labels: frontend, lgtm, ok-to-test, approved, size/XL

#1961 Update Contribution.md for Playwright Setup
  CONTRIBUTING.md
Labels: documentation, other, lgtm, size/M, ok-to-test, approved

#1967 Remove unused query hooks for deployment and logging
  frontend/src/hooks/queries/useDeployQueries.ts
  frontend/src/hooks/queries/useLogQueries.ts
  frontend/src/hooks/queries/useLoggingQueries.ts
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1980 Fix Invalid Token toast on Login
  frontend/src/lib/api.ts
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1958 Setup CI/CD Pipeline with Playwright Tests
  .github/workflows/playwright.yml
Labels: ci, lgtm, size/M, ok-to-test, approved

#2002 refactor(prerequisites): improve state management and error handling in prerequisites check
  frontend/src/pages/InstallationPage.tsx
Labels: frontend, needs-ok-to-test, lgtm, size/L

#2008 Added playwright tests file for installation page
  frontend/e2e/Install.spec.ts
Labels: frontend, lgtm, size/L, ok-to-test, approved
