Repository kubestellar/ui, pull requests merged in 2025-02, with the labels that each got.

#152 Enhance CreateBindingPolicyDialog with YAML validation and policy nam…
  package-lock.json
  package.json
  src/components/CreateBindingPolicyDialog.tsx
  src/pages/BP.tsx
Labels: frontend, other

#151 Added Kubeconfig Onboard in navbar
  src/components/menu/data.ts
  src/pages/CreateCluster.tsx
  src/pages/KubeconfigOnboarding.tsx
Labels: frontend

#156 Fixed the search functionality for Binding Policy
  src/pages/BP.tsx
Labels: frontend

#158 Updated frontend components for WDS
  backend/main.go
  backend/wds/deployment/common.go
  backend/wds/deployment/logs.go
  example.env
  package-lock.json
  package.json
  src/components/CreateOptions.tsx
  src/components/DeploymentTable.tsx
  src/components/LogModal.tsx
  src/components/Logs.tsx
  src/pages/WDS.tsx
  src/routes/routes-config.tsx
Labels: backend, frontend, other, wds

#160 Added a binding policy tempelate while creating a new policy
  src/components/CreateBindingPolicyDialog.tsx
Labels: frontend

#162 Namespace crud
  backend/main.go
  backend/models/namespace.go
  backend/namespace/namespace.go
  backend/namespace/resources/service.go
Labels: backend

#166 wds ui feature updates
  src/components/CreateOptions.tsx
  src/components/DeploymentDetails.tsx
  src/components/DeploymentTable.tsx
  src/components/LogModal.tsx
  src/components/PieChartDisplay.tsx
  src/pages/WDS.tsx
  src/routes/routes-config.tsx
Labels: frontend

#157 Fixed Create Cluster Frontend
  src/pages/CreateCluster.tsx
Labels: frontend

#168 fix: Improve search and filter functionality in ClustersTable
  src/components/ClustersTable.tsx
Labels: frontend

#167 Refactored and moved the BP component into small components
  src/components/BindingPolicy/BPPagination.tsx
  src/components/BindingPolicy/BPTable.tsx
  src/components/BindingPolicy/Dialogs/BPHeader.tsx
  src/components/BindingPolicy/Dialogs/DeleteDialog.tsx
  src/components/BindingPolicy/PreviewDialog.tsx
  src/pages/BP.tsx
  src/types/bindingPolicy.ts
Labels: frontend

#171 fix: Improve text visibility in dark mode
  src/components/ClustersTable.tsx
Labels: frontend

#173 Removed Kubeconfig Onboard from Navbar
  src/components/menu/data.ts
Labels: frontend

#177 Gitops : Fetch manifest files from github and deploy it
  backend/api/deploy.go
  backend/k8s/client.go
  backend/k8s/deployer.go
  backend/main.go
Labels: backend

#179 Remove outdated contributor automation workflow and update contributors section in README
  .github/workflows/add-contributor.yml
  README.md
Labels: documentation, other, ci

#176 feat: implemented informer for deployment workload using SharedInformerFactory
  backend/main.go
  backend/wds/controller.go
  backend/wds/deployment/logs.go
Labels: backend, wds

#181 Enhance Kubernetes client configuration for custom kubeconfig and context
  backend/k8s/client.go
Labels: backend

#180 updates in wds ui
  package-lock.json
  package.json
  src/components/CreateOptions.tsx
  src/components/DeploymentDetails.tsx
  src/components/DeploymentTable.tsx
  src/components/LogModal.tsx
  src/components/PieChartDisplay.tsx
  src/components/TreeViewComponent.tsx
  src/pages/NS.tsx
  src/pages/WDS.tsx
  src/routes/routes-config.tsx
Labels: frontend, other

#184 Fixed Menu, got rid of Onboard and renamed Overview to Manage
  src/components/menu/data.ts
Labels: frontend

#186 Created Import pop-up table and opens on Import Cluster button
  src/components/ClustersTable.tsx
  src/components/ImportClusters.tsx
Labels: frontend

#187 Added textbox to API/URL tab in import pop-up table
  src/components/ImportClusters.tsx
Labels: frontend

#188 Edited Kubeconfig import tab
  src/components/ImportClusters.tsx
Labels: frontend

#190 Improve Dark Mode Support in Managed Clusters, Overview, Create and edit Binding Policy Pages
  src/components/BindingPolicy/BPPagination.tsx
  src/components/BindingPolicy/BPTable.tsx
  src/components/BindingPolicy/Dialogs/BPHeader.tsx
  src/components/BindingPolicy/Dialogs/EditBindingPolicyDialog.tsx
  src/components/BindingPolicy/PreviewDialog.tsx
  src/components/ClustersTable.tsx
  src/components/CreateBindingPolicyDialog.tsx
  src/pages/BP.tsx
  src/pages/WDS.tsx
Labels: frontend

#194 Added inside box element in Kubeconfig pop-up tab, and added drop shadows to buttons
  src/components/ImportClusters.tsx
Labels: frontend

#192 Add structured logging with Zap logger and middleware
  backend/go.mod
  backend/go.sum
  backend/main.go
Labels: backend

#191 Bug Fixes & Enhancements in ClustersTable
  src/components/ClustersTable.tsx
Labels: frontend

#195 Fixed up Manual tab with more fields and selected tab highlights
  src/components/ImportClusters.tsx
Labels: frontend

#196 Enhanced "No Clusters Found" Handling
  src/components/ClustersTable.tsx
Labels: frontend

#197 Create and Delete endpoints for BP
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/wds/bp/handlers.go
  package-lock.json
Labels: backend, other, wds

#203 Added WebSocket support for real-time updates on Kubernetes resources, eliminating the need for polling.
  backend/main.go
  backend/namespace/namespace.go
  backend/namespace/resources/service.go
Labels: backend

#200 feat(binding-policy): enhance preview functionality with visualization
  src/components/BindingPolicy/BPTable.tsx
  src/components/BindingPolicy/PolicyVisualization.tsx
  src/components/BindingPolicy/PreviewDialog.tsx
  src/pages/BP.tsx
Labels: frontend

#204 Dark Mode Consistency Improvements Across Binding Policy Components #201
  src/components/BindingPolicy/Dialogs/EditBindingPolicyDialog.tsx
  src/components/BindingPolicy/Dialogs/PolicyDetailDialog.tsx
  src/components/BindingPolicy/PolicyVisualization.tsx
  src/components/BindingPolicy/PreviewDialog.tsx
Labels: frontend

#193 Added skleton to create cluster and ui enhancement
  backend/api/handlers.go
  backend/main.go
  backend/models/cluster.go
  backend/services/clusterService.go
  src/components/ImportClusters.tsx
  src/pages/CreateCluster.tsx
  src/routes/routes-config.tsx
Labels: backend, frontend

#208 Fix: Modal Dialogs Styling and Behavior & Border issue
  src/components/BindingPolicy/Dialogs/DeleteDialog.tsx
  src/components/BindingPolicy/Dialogs/EditBindingPolicyDialog.tsx
  src/components/BindingPolicy/Dialogs/PolicyDetailDialog.tsx
  src/components/BindingPolicy/PreviewDialog.tsx
  src/components/CreateBindingPolicyDialog.tsx
  src/components/CreateOptions.tsx
  src/components/ImportClusters.tsx
Labels: frontend

#206 Deleted KubeconfigOnboarding.tsx and other mentions of it in other files
  src/pages/KubeconfigOnboarding.tsx
  src/routes/routes-config.tsx
Labels: frontend

#213 Integrate Redis caching for namespace data retrieval
  README.md
  backend/go.mod
  backend/go.sum
  backend/namespace/namespace.go
  backend/redis/redis.go
  docker-compose.yml
Labels: documentation, backend, other, docker

#215 fixed pagination in Bp and disabled buttons
  src/components/BindingPolicy/BPPagination.tsx
  src/components/ClustersTable.tsx
  src/components/ImportClusters.tsx
  src/pages/BP.tsx
Labels: frontend

#217 ✨Feat: Added pre-commit feature for git commit
  .husky/pre-commit
  Makefile
  README.md
  backend/.golangci.yaml
  backend/api/deploy.go
  backend/github/fetchYamlFile.go
  backend/k8s/client.go
  backend/main.go
  backend/namespace/namespace.go
  backend/services/clusterService.go
  backend/wds/bp/handlers.go
  backend/wds/controller.go
  backend/wds/deployment/details.go
  backend/wds/deployment/logs.go
  backend/wds/resources/services.go
  package-lock.json
  package.json
Labels: documentation, backend, other, wds

#230 Update Go version in Dockerfile to 1.23
  backend/Dockerfile
Labels: backend, docker

#228 Modernizing the Menu: UI/UX Enhancements & Code Cleanup
  src/components/menu/Menu.tsx
  src/components/menu/MenuItem.tsx
  src/components/menu/data.ts
Labels: frontend

#232 Added get endpoint for BindingPolicy
  backend/main.go
  backend/wds/bp/handlers.go
Labels: backend, wds

#234 fix: All-Filter
  src/components/ClustersTable.tsx
Labels: frontend

#226 Fix: replaced all hardcoded apis
  src/components/CreateOptions.tsx
  src/components/DeploymentTable.tsx
  src/components/ImportClusters.tsx
  src/components/LogModal.tsx
  src/lib/api.ts
  src/pages/NS.tsx
  src/utils/credentials.ts
Labels: frontend

#236 Remove mistakenly tracked files and apply proper .gitignore
  .gitignore
  ITS.tsx copy.md.gitignore
  ITS.tsx that ChatGPT recreated with figma.md.gitignore
Labels: other

#237 Completed cluster import API integration with dummy link
  db.json
  src/components/ImportClusters.tsx
Labels: frontend, other

#240 Ensure Cluster Name Label is Fully Visible on Focus
  src/components/ImportClusters.tsx
Labels: frontend

#241 migrate issue templates from Markdown to YAML
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: documentation

#210 Feat 5 wds
  package-lock.json
  package.json
  src/App.css
  src/assets/deploy.svg
  src/assets/ns.svg
  src/assets/svc.svg
  src/components/CreateOptions.tsx
  src/components/DeploymentTable.tsx
  src/components/TreeViewComponent.tsx
  src/index.css
  src/routes/routes-config.tsx
Labels: frontend, other

#247 Add GitHub webhook handling and Redis integration for deployment management
  backend/api/deploy.go
  backend/k8s/deployer.go
  backend/main.go
  backend/namespace/namespace.go
  backend/redis/redis.go
Labels: backend

#216 ref: clean up routes from main.go
  backend/main.go
  backend/routes/bp.go
  backend/routes/cluster.go
  backend/routes/deployment.go
  backend/routes/gitops.go
  backend/routes/namespace.go
  backend/routes/services.go
  backend/routes/setup.go
Labels: backend

#252 Enhance BP status management with new API and UI integration
  backend/main.go
  backend/wds/bp/handlers.go
  src/components/BindingPolicy/BPTable.tsx
  src/components/BindingPolicy/Dialogs/BPHeader.tsx
  src/components/BindingPolicy/Dialogs/PolicyDetailDialog.tsx
  src/components/CreateBindingPolicyDialog.tsx
  src/pages/BP.tsx
  src/types/bindingPolicy.ts
Labels: backend, frontend, wds

#253 Fixed the issue of duplicate routes of binding policy
  backend/main.go
  backend/routes/bp.go
Labels: backend

#256 fix: import cluster borders
  src/components/ImportClusters.tsx
Labels: frontend

#251 :seedling: improve theme and error message
  src/components/Clusters.tsx
  src/components/ClustersTable.tsx
  src/components/CreateOptions.tsx
  src/components/DeploymentTable.tsx
  src/components/menu/Menu.tsx
  src/components/menu/MenuItem.tsx
  src/pages/ITS.tsx
  src/pages/WDS.tsx
  tailwind.config.js
Labels: frontend, other, config

#263 Enhance GetNamespaceDetails to return comprehensive namespace information
  backend/namespace/namespace.go
Labels: backend

#266 📌 Pull Request: Setup PostgreSQL, JWT Authentication, and Testing (#265)
  .env.example
  CONTRIBUTING.md
  backend/.env.example
  backend/go.mod
  backend/go.sum
  backend/jwt/config.go
  backend/main.go
  backend/middleware/auth.go
  backend/models/user.go
  backend/postgresql/config.go
  backend/routes/jwt.go
  backend/routes/setup.go
  backend/utils/jwt.go
  docker-compose.yml
Labels: backend, other, docker
