Repository kubestellar/ui, pull requests merged in 2025-07, with the labels that each got.

#1228 fix: correct frontend build context and Dockerfile path in release wo…
  .github/workflows/release.yml
Labels: ci, lgtm, size/XS, ok-to-test, approved

#1230 refactor: change Plugin Card layout
  frontend/src/components/PluginManager.tsx
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1229 CommandPalette UI Rectified on Blur Effect
  frontend/src/components/CommandPalette.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1223 Fixing pre commits of husky
  .husky/pre-commit
Labels: size/S, lgtm, approved

#1233 Added Type Hierarchy and Resources
  docs/design-progress.md
Labels: size/S, lgtm, approved

#1089 Bug: Fixes Misleading cluster onboarding success message
  frontend/src/components/ImportClusters.tsx
  frontend/src/components/ManualImportTab.tsx
  frontend/src/components/OnboardingLogsDisplay.tsx
  frontend/src/components/QuickConnectTab.tsx
Labels: frontend, lgtm, size/L, approved

#1231 feat: Add feedback dialogue on plugin card
  frontend/src/components/PluginManager.tsx
  frontend/src/components/plugin/FeedbackModel.tsx
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.ja.json
  frontend/src/plugins/PluginAPI.ts
Labels: frontend, lgtm, size/L, ok-to-test, approved

#1242 initialises metric bases upon multiple functions
  backend/go.mod
  backend/telemetry/external_ops_metrics.go
  backend/telemetry/http_metrics.go
  backend/telemetry/k8s_client_metrics.go
  backend/telemetry/kubestellar_metric.go
  backend/telemetry/web_socket_metrics.go
Labels: backend, lgtm, size/L, approved

#1253 Add and Fix Command Palette Translations for All Locales
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
  frontend/src/locales/strings.zh-Hant.json
Labels: frontend, lgtm, size/L, ok-to-test, approved

#1250 ✨feat: add unit tests for Cluster, Namespace, and User models
  backend/test/models/cluster_test.go
  backend/test/models/namespace_test.go
  backend/test/models/user_test.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1256 bug: Fix cancel button issue of feedback form
  frontend/src/components/plugin/FeedbackModel.tsx
Labels: frontend, lgtm, size/XS, ok-to-test, approved

#1261 DialogFix Modal Positioning: Use Portal for Change Password Dialog in ProfileSection
  frontend/src/components/ProfileSection.tsx
Labels: frontend, lgtm, ok-to-test, approved, size/XL

#1282 bug:fixed the language dropdown for light mode
  frontend/src/components/LanguageSwitcher.tsx
Labels: frontend, lgtm, size/XS, ok-to-test, approved

#1274 feat: write test for `utils/utils.go`
  backend/test/utils/utils_test.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1276 feat : Write Test for `utils/installer.go`
  backend/test/utils/installer_test.go
Labels: backend, lgtm, size/M, ok-to-test, approved

#1273 Create, Delete,Edit, Update in USER Table
  frontend/src/components/admin/DeleteUserModal.tsx
  frontend/src/components/admin/UserFormModal.tsx
  frontend/src/components/admin/UserList.tsx
  frontend/src/components/admin/UserManagement.tsx
  frontend/src/components/admin/UserService.ts
  frontend/src/components/admin/UserTypes.ts
  frontend/src/components/admin/index.ts
  frontend/src/routes/routes-config.tsx
Labels: frontend, lgtm, size/XXL, approved

#1278 FEAT: User Mangement in Command Palellet
  frontend/src/components/CommandPalette.tsx
Labels: frontend, lgtm, size/M, approved

#1279 User mananagement Strings for all LAng
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
  frontend/src/locales/strings.zh-Hant.json
Labels: frontend, lgtm, ok-to-test, approved, size/XL

#1277 feat: Write test for `utils/jwt.go`
  backend/test/utils/jwt_test.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1294 [Fix]: spelling mistake in log message
  backend/wds/bp/utils.go
Labels: backend, wds, needs-ok-to-test, lgtm, size/XS, approved

#1298 fix(animation):fix the sidebar animation sudden jerk
  frontend/src/components/Layout.tsx
  frontend/src/components/menu/MenuItem.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1268 Add all the metrics
  backend/api/cluster_logs.go
  backend/api/deploy.go
  backend/api/detach.go
  backend/api/handlers.go
  backend/api/installer-websocket.go
  backend/api/installer.go
  backend/api/manage_clusters.go
  backend/api/status_handler.go
  backend/installer/kubestellar_status.go
  backend/its/manual/handlers/cluster.go
  backend/its/manual/handlers/csr_watcher.go
  backend/k8s/client.go
  backend/k8s/deployer.go
  backend/k8s/resources.go
  backend/namespace/namespace.go
  backend/namespace/resources/service.go
  backend/routes/deployment.go
  backend/routes/gitops.go
  backend/routes/setup.go
  backend/wds/bp/handlers.go
  backend/wds/bp/utils.go
  backend/wds/common.go
  backend/wds/deployment/details.go
  backend/wds/deployment/logs.go
  backend/wds/deployment/status.go
  backend/wds/list.go
  backend/wecs/wecs.go
Labels: backend, wds, lgtm, ok-to-test, approved, size/XL

#1300 fix(logs):improve the clearity of caller field
  backend/log/log.go
Labels: backend, lgtm, size/XS, ok-to-test, approved

#1271 Add /api/v1/metrics endpoint for Prometheus metrics querying
  backend/api/metrics.go
  backend/routes/setup.go
Labels: backend, lgtm, size/L, approved

#1275 feat: write test for `utils/parser.go`
  backend/test/utils/parser_test.go
Labels: backend, lgtm, ok-to-test, approved

#1309 feat: write test for `routes/wecs`
  backend/test/routes/wecs_test.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1310 feat: write test for `routes/setup`
  backend/test/routes/setup_test.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1308 feat: write tests for `routes/plugin`
  backend/test/routes/plugins_test.go
Labels: backend, lgtm, size/L, approved

#1254 Complete Part 2: Vite chunking optimization and code splitting for heavy libraries
  frontend/src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  frontend/src/components/BindingPolicy/DeploymentConfirmationDialog.tsx
  frontend/src/components/BindingPolicy/Dialogs/EditBindingPolicyDialog.tsx
  frontend/src/components/BindingPolicy/Dialogs/PolicyDetailDialog.tsx
  frontend/src/components/BindingPolicy/PolicyDragDropContainer.tsx
  frontend/src/components/BindingPolicy/QuickPolicyDialog.tsx
  frontend/src/components/DynamicDetailsPanel.tsx
  frontend/src/components/WecsDetailsPanel.tsx
  frontend/src/components/Workloads/UploadFileTab.tsx
  frontend/src/components/Workloads/YamlTab.tsx
Labels: frontend, lgtm, ok-to-test, approved

#1311 Revert "Complete Part 2: Vite chunking optimization and code splitting for heavy libraries"
  frontend/src/components/BindingPolicy/CreateBindingPolicyDialog.tsx
  frontend/src/components/BindingPolicy/DeploymentConfirmationDialog.tsx
  frontend/src/components/BindingPolicy/Dialogs/EditBindingPolicyDialog.tsx
  frontend/src/components/BindingPolicy/Dialogs/PolicyDetailDialog.tsx
  frontend/src/components/BindingPolicy/PolicyDragDropContainer.tsx
  frontend/src/components/BindingPolicy/QuickPolicyDialog.tsx
  frontend/src/components/DynamicDetailsPanel.tsx
  frontend/src/components/WecsDetailsPanel.tsx
  frontend/src/components/Workloads/UploadFileTab.tsx
  frontend/src/components/Workloads/YamlTab.tsx
Labels: frontend, lgtm, approved, size/XL

#1312 Revert "feat: Add Changesets support and GitHub Action for versioning"
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
  .prow.yaml
  frontend/.changeset/README.md
  frontend/.changeset/config.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Clusters.tsx
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/admin/UserFormModal.tsx
  frontend/src/components/menu/Menu.tsx
  frontend/src/components/menu/MenuItem.tsx
  frontend/src/main.tsx
  frontend/vite.config.ts
Labels: frontend, ci, config, lgtm, size/XXL, approved

#1317 Fixed Docker Compose Issue
  backend/health/health.go
  backend/redis/redis.go
Labels: backend, lgtm, approved

#1306 feat: write test for `routes/metrics`
  backend/test/routes/metrics_test.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1316 PluginManager Search Bug - Rectified
  frontend/src/components/PluginManager.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1323 fix: update Change Password modal to support theme-aware styling
  frontend/src/components/ProfileSection.tsx
Labels: frontend, lgtm, approved

#1327 Fix: Logo not showing in staged workload
  frontend/src/components/TreeView/TreeViewNodes.tsx
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1331 chore: add translation of User Management in Command Palette for all languages
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
  frontend/src/locales/strings.zh-Hant.json
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1336 [FEATURE] widen (width and height) of content in main pages
  frontend/src/components/Layout.tsx
Labels: frontend, lgtm, size/L, ok-to-test, approved

#1349 feat: create plugin_feedback table
  backend/Makefile
  backend/models/plugins.go
  backend/postgresql/migrations/000003_plugin_feedback.down.sql
  backend/postgresql/migrations/000003_plugin_feedback.up.sql
Labels: backend, size/S, lgtm, ok-to-test, approved

#1251 Added test for k8s/client
  backend/go.mod
  backend/go.sum
  backend/test/k8s/client_test.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1354 Widen dashboard page to match full width of other main pages
  frontend/src/components/Clusters.tsx
Labels: frontend, lgtm, size/XS, ok-to-test, approved

#1240 Implemented `wasm_runtime.go`
  backend/pkg/plugins/manager.go
  backend/pkg/plugins/wasm_runtime.go
Labels: backend, lgtm, approved

#1359 fix typos of strings in `ZoomControl`
  frontend/src/components/Wds_Topology/ZoomControls.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1372 Write test for `api/handlers.go`
  backend/test/api/handlers_test.go
Labels: backend, lgtm, size/L

#1368 Write Test for `api/artifact.go`
  backend/test/api/artifact_test.go
Labels: backend, lgtm, size/L

#1374 Write test for `api/installer_websocket.go`
  backend/test/api/installer_websocket_test.go
Labels: backend, lgtm

#1364 Fix: uniformity throughout the UI of NodeLabel
  frontend/src/components/Wds_Topology/NodeLabel.tsx
Labels: frontend, lgtm, size/M, approved

#1382 refactor: update plugin tests to use pluginID instead of pluginName
  backend/test/routes/plugins_test.go
Labels: backend, lgtm, approved

#1377 fix: replace broken spell check with stable rojopolis action
  .github/actions/spelling/expect.txt
  .github/spellcheck/.spellcheck.yml
  .github/spellcheck/.wordlist.txt
  .github/workflows/spell-check.yml
  .github/workflows/spellcheck.yml
Labels: ci, lgtm, ok-to-test, approved, size/XL

#1380 refactor: switch from pluginName to pluginID in all handlers and API calls
  backend/api/plugins.go
  backend/plugin/plugin.go
  backend/plugin/plugins/backup_plugin.go
  backend/plugin/plugins/manager.go
  frontend/src/components/PluginManager.tsx
  frontend/src/components/plugin/FeedbackModel.tsx
  frontend/src/plugins/PluginAPI.ts
  frontend/src/plugins/PluginLoader.tsx
  frontend/src/plugins/types.ts
Labels: backend, frontend, lgtm, size/L, ok-to-test, approved

#1393 Added test for /installer/kubestellar_status
  backend/test/installer/kubestellar_status_test.go
Labels: backend, lgtm, approved

#1384 Fix: Delete User Functionality
  backend/models/user.go
  backend/routes/jwt.go
  frontend/src/components/admin/UserManagement.tsx
Labels: backend, frontend, lgtm, size/M, ok-to-test, approved

#1385 Fix: Edit Username and ISAdmin
  backend/models/user.go
  backend/routes/jwt.go
  frontend/src/components/admin/UserManagement.tsx
  frontend/src/components/admin/UserService.ts
Labels: backend, frontend, lgtm, size/M, ok-to-test, approved

#1352 feat: dynamic node scaling, zoom presets, and gesture support for tree/treeview/workloads
  frontend/src/components/TreeView/TreeViewEdges.tsx
  frontend/src/components/TreeView/TreeViewNodes.tsx
  frontend/src/components/TreeView/hooks/useTreeViewData.ts
  frontend/src/components/Wds_Topology/FlowCanvas.tsx
  frontend/src/components/Wds_Topology/NodeLabel.tsx
  frontend/src/components/Wds_Topology/ZoomControls.tsx
  frontend/src/components/WecsTopology.tsx
  frontend/src/stores/edgeTypeStore.ts
  frontend/src/stores/zoomStore.ts
Labels: frontend, lgtm, approved, size/XL

#1409 Write test for `wds/bp/handlers`
  backend/test/wds/bp/handlers_test.go
Labels: backend, lgtm

#1406 Write Test for `wds/controller.go`
  backend/test/wds/controller_test.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1402 write test for `deployement/status`
  backend/test/wds/deployment/status_test.go
Labels: backend, lgtm, size/M, ok-to-test, approved

#1221 Add Helm chart test script with frontend & backend verification
  .github/workflows/ci.yml
  backend/Dockerfile
  frontend/Dockerfile
  scripts/helm-test.sh
Labels: backend, frontend, docker, ci, lgtm, size/L, ok-to-test, approved

#1416 Add comprehensive tests for logging functions in log/log.go
  backend/test/log/log_test.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1414 Write test for `its-csr_command`
  backend/test/its/csr_watcher_test.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1417 FIX : Multiple Toast Messages on Login Failure and Request failed with status code 401
  frontend/src/hooks/queries/useLogin.ts
  frontend/src/lib/api.ts
  frontend/src/lib/react-query/queryClient.ts
  frontend/src/locales/strings.en.json
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1412 Write test for `admin/auth.go`
  backend/test/admin/auth_test.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1429 Enhanced User Management Filtering & Sorting Functionality
  frontend/src/components/admin/UserManagement.tsx
  frontend/src/components/admin/UserTypes.ts
  frontend/src/locales/strings.en.json
Labels: frontend, lgtm, ok-to-test, approved, size/XL

#1431 fix: remove extra cruft from sidebar toggle button (#1356) + alignment issues with menu button
  frontend/src/components/Layout.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1399 Start the translation to Simplified Chinese
  frontend/src/locales/strings.zh-Hans.json
Labels: frontend, lgtm, size/XXL

#1424 Added test for telemetry/http_metrics.go
  backend/go.mod
  backend/test/telemetry/http_metrics_test.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1449 Fixed git commit when using docker
  docker-compose.yml
  frontend/Dockerfile
Labels: frontend, other, docker, lgtm, size/M, approved

#1454 FIX: Environment variable setup for backend is missing for Local setup
  README.md
Labels: documentation, other, size/S, lgtm, ok-to-test, approved

#1391 Add WASM Plugin and implement backend plugin services
  .husky/pre-commit
  backend/api/plugins.go
  backend/examples/cluster-monitor/Makefile
  backend/examples/cluster-monitor/build/cluster-monitor.wasm
  backend/examples/cluster-monitor/cluster-monitor.wasm
  backend/examples/cluster-monitor/frontend/ClusterMonitor.tsx
  backend/examples/cluster-monitor/main.go
  backend/examples/cluster-monitor/plugin.tar.gz
  backend/examples/cluster-monitor/plugin.wasm
  backend/examples/cluster-monitor/plugin.yml
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/pkg/plugins/api_bridge.go
  backend/pkg/plugins/loader.go
  backend/pkg/plugins/manager.go
  backend/pkg/plugins/registry.go
  backend/pkg/plugins/wasm_runtime.go
  backend/pkg/plugins/watcher.go
  backend/test/api/plugins_test.go
  backend/test/routes/jwt_test.go
  backend/test/routes/metrics_test.go
  backend/test/routes/namespace_test.go
  backend/test/wds/deployment/details_test.go
  backend/test/wds/deployment/status_test.go
Labels: backend, lgtm, size/XXL, approved

#1455 bug fix for LanguageSwitcher dropdown
  frontend/src/components/LanguageSwitcher.tsx
Labels: frontend, lgtm, size/XS, ok-to-test, approved

#1343 added Trivy Vulnerability Scanner
  .github/workflows/report-on-vulnerabilities.yaml
Labels: ci, lgtm, size/L, approved

#1452 IT locale
  frontend/src/locales/strings.it.json
Labels: frontend, lgtm, size/XXL, ok-to-test, approved

#1440 Add PostgreSQL database test cases
  backend/go.mod
  backend/test/postgresql/Database/connection_test.go
  backend/test/postgresql/config_test.go
Labels: backend, lgtm, approved

#1466 Fix CPU and Memory Usage to Use Real Kubernetes Metrics Instead of Hardcoded Values
  backend/k8s/metrics.go
  backend/routes/metrics.go
  frontend/src/components/Clusters.tsx
  frontend/src/hooks/queries/useK8sQueries.ts
Labels: backend, frontend, lgtm, size/L, ok-to-test

#1469 Fixes Typeerror in Metric Dashboard
  frontend/src/components/MetricsDashboard.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1473 Added the 9090 Port in .env.example
  frontend/.env.example
Labels: lgtm, size/XS, ok-to-test, approved

#1477 fix: Add toast for notification replacing alert
  frontend/src/components/PluginManager.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1463 Plugin .tar.gz file can be uploaded to backend from frontend
  frontend/src/components/PluginManager.tsx
  frontend/src/locales/strings.en.json
  frontend/src/plugins/PluginAPI.ts
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1360 ✨fix(auth): properly type Axios request config for retry logic
  .eslintignore
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/login/tokenUtils.ts
  frontend/src/hooks/queries/useLogin.ts
  frontend/src/lib/api.ts
Labels: frontend, config, lgtm, size/L, ok-to-test, approved

#1482 Add Hindi language support
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/i18n.ts
  frontend/src/locales/strings.hi.json
Labels: frontend, lgtm, size/XXL, approved

#1492 Update README.md to correct git clone step
  README.md
Labels: documentation, other, needs-ok-to-test, lgtm, size/XS, approved

#1490 Infinite loop issue in User Management Panel #1489
  frontend/src/components/admin/UserFormModal.tsx
Labels: frontend, lgtm, ok-to-test, approved

#1484 added Metrics Dashboard command in Command Palette
  frontend/src/components/CommandPalette.tsx
  frontend/src/locales/strings.en.json
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1498 Fix Edit User managment issue + [object object] #1497
  frontend/src/components/admin/UserFormModal.tsx
  frontend/src/components/treeView/TreeViewFilters.tsx
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1475 Fixes: Persist Metrics Dashboard auto-refresh preferences in localStorage and Removed Hardcoded Prometheus URLs
  frontend/src/components/MetricsDashboard.tsx
  frontend/src/hooks/queries/useMetricsQueries.ts
  frontend/vite.config.ts
Labels: frontend, config, lgtm, size/M, ok-to-test, approved

#1507 fix: prevent duplicate toast notifications on language switch (#1505)
  frontend/src/pages/InstallationPage.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1500 ✨: Added Edit Option for Managing Cluster Labels in Remote Cluster Tree
  frontend/src/components/WecsDetailsPanel.tsx
Labels: frontend, lgtm, size/L, ok-to-test, approved

#1499 Fix: Dashboard Loading Delay (2+ Minutes to 5 sec)
  backend/api/metrics.go
  backend/k8s/metrics.go
  frontend/src/hooks/queries/useBPQueries.ts
  frontend/src/hooks/queries/useClusterQueries.ts
  frontend/src/hooks/queries/useK8sQueries.ts
  frontend/src/hooks/queries/useWDSQueries.ts
  frontend/src/pages/Dashboard.tsx
Labels: backend, frontend, lgtm, size/L, ok-to-test, approved

#1496 Enhance: Update pluginManifest structure as in wasm doc
  backend/api/plugins.go
  backend/examples/cluster-monitor/plugin.tar.gz
  backend/examples/cluster-monitor/plugin.yml
  backend/pkg/plugins/loader.go
  backend/pkg/plugins/manager.go
  backend/pkg/plugins/registry.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1448 feat: replace repeated network error toasts with persistent global alert
  frontend/src/components/NetworkErrorToastManager.tsx
  frontend/src/hooks/useBackendHealthCheck.ts
  frontend/src/lib/api.ts
  frontend/src/main.tsx
  frontend/src/stores/networkErrorStore.ts
  frontend/src/utils/networkErrorUtils.ts
Labels: frontend, lgtm, size/L, ok-to-test, approved

#1523 Filter Out System Namespaces from Resource Explorer Namespace Dropdown
  frontend/src/pages/ResourceFilterPage.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1534 chore: improve the responsivness of the login page
  frontend/src/components/login/KubeStellarLayout.tsx
Labels: frontend, lgtm, size/XS, ok-to-test, approved

#1530 Partial Fix: Reduce Memory Usage and Lag by Cleaning Up Idle Resources
  frontend/src/components/DetachmentLogsDialog.tsx
  frontend/src/components/ListViewComponent.tsx
  frontend/src/components/OnboardingLogsDisplay.tsx
  frontend/src/components/WecsDetailsPanel.tsx
  frontend/src/context/WebSocketProvider.tsx
  frontend/src/hooks/queries/useWebSocketQuery.ts
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1539 chore: added tooltip to the main menu icon
  frontend/src/components/Layout.tsx
Labels: frontend, lgtm, size/L, ok-to-test, approved

#1545 Renamed "Resource Kind" to "Kind / Object" in Resource Explorer
  frontend/src/locales/strings.en.json
Labels: frontend, needs-ok-to-test, lgtm, size/XS, approved

#1561 Added test for jwt/jwt_test.go
  backend/test/jwt/jwt_test.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1564 Feat: Marketplace catogory
  frontend/src/components/marketplace/CategoryFilter.tsx
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1566 Feat: Marketplace Cards
  frontend/src/components/marketplace/PluginCard.tsx
Labels: frontend, lgtm, size/L, ok-to-test, approved

#1567 Feat : Marketplace Plugins Details
  frontend/src/components/marketplace/PluginDetails.tsx
Labels: frontend, lgtm, approved, size/XL

#1570 Feat: Marketplace In SideMenu and Plugin Maneger
  frontend/src/components/PluginManager.tsx
  frontend/src/components/menu/useMenuData.ts
  frontend/src/routes/routes-config.tsx
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1553 Refactor: Modularize `ClustersTable` Component
  frontend/src/components/ClustersTable.tsx
  frontend/src/components/its/ClustersTable/ClustersTable.tsx
  frontend/src/components/its/ClustersTable/components/ActionMenu.tsx
  frontend/src/components/its/ClustersTable/components/EmptyState.tsx
  frontend/src/components/its/ClustersTable/components/FilterChips.tsx
  frontend/src/components/its/ClustersTable/components/LabelChip.tsx
  frontend/src/components/its/ClustersTable/components/StatusBadge.tsx
  frontend/src/components/its/ClustersTable/components/StatusFilterMenu.tsx
  frontend/src/components/its/ClustersTable/components/TableContent.tsx
  frontend/src/components/its/ClustersTable/components/TableHeader.tsx
  frontend/src/components/its/ClustersTable/components/TablePagination.tsx
  frontend/src/components/its/ClustersTable/components/index.ts
  frontend/src/components/its/ClustersTable/dialogs/DetachClusterDialog/index.tsx
  frontend/src/components/its/ClustersTable/dialogs/DetachClusterDialog/types.ts
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/LabelsList.tsx
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/index.tsx
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/types.ts
  frontend/src/components/its/ClustersTable/dialogs/LabelEditDialog/useLabelProtection.ts
  frontend/src/components/its/ClustersTable/dialogs/index.ts
  frontend/src/components/its/ClustersTable/types/index.ts
  frontend/src/pages/ITS.tsx
Labels: frontend, lgtm, size/XXL, ok-to-test, approved

#1569 Fix: update input colors based on theme in SearchPackagesForm compo…
  .husky/pre-commit
  frontend/src/components/workloads/AirtfactTab/SearchPackagesForm.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1581 fix: Nav bar dialogue
  frontend/src/components/marketplace/CategoryFilter.tsx
  frontend/src/pages/GalaxyMarketplace.tsx
Labels: frontend, lgtm, ok-to-test, approved

#1544 ✨ Feature: Added Unit test for `Wecs` Package.
  backend/test/wecs/exec_test.go
  backend/test/wecs/wecs_test.go
  backend/wecs/exec.go
Labels: backend, lgtm, size/L, ok-to-test, approved

#1560 Fixed : On refreshing staged workloads canvas becomes non-functional
  frontend/src/components/wds_topology/FlowCanvas.tsx
Labels: frontend, lgtm, size/XS, ok-to-test, approved

#1610 Revert "feat: Implement enhanced plugin db schema (#1603)"
  backend/models/plugins.go
  backend/postgresql/migrations/000004_enhanced_plugins.down.sql
  backend/postgresql/migrations/000004_enhanced_plugins.up.sql
Labels: backend, lgtm, size/L, ok-to-test, approved

#1614 Fixes: Ensure EditTab renders manifest in correct format on initial load
  frontend/src/components/wecs_details/tabs/EditTab.tsx
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1611 Refactor : Structure ITS & Plugin Frontend
  frontend/src/components/ManualImportTab.tsx
  frontend/src/components/its/ClustersTable/ClustersTable.tsx
  frontend/src/components/its/ClustersTable/dialogs/ClusterDetailDialog.tsx
  frontend/src/components/its/ClustersTable/dialogs/DetachmentLogsDialog.tsx
  frontend/src/components/its/ImportCluster/ApiUrlImportTab.tsx
  frontend/src/components/its/ImportCluster/ImportClusters.tsx
  frontend/src/components/its/ImportCluster/KubeconfigImportTab.tsx
  frontend/src/components/its/ImportCluster/OnboardingLogsDisplay.tsx
  frontend/src/components/its/ImportCluster/QuickConnectTab.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/PluginManager.tsx
  frontend/src/routes/routes-config.tsx
Labels: frontend, lgtm, size/XXL, ok-to-test, approved

#1625 Feat : Sidebar menu "Remote Clusters" should now be "Managed Clusters"
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/menu/useMenuData.ts
  frontend/src/locales/strings.de.json
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.pt.json
  frontend/src/locales/strings.zh-Hans.json
  frontend/src/locales/strings.zh-Hant.json
Labels: frontend, lgtm, ok-to-test, approved

#1622 fix: Update HealthIndicator and OptimizedProgressBar to display percentage as total percentage
  frontend/src/pages/Dashboard.tsx
Labels: frontend, lgtm, size/XS, ok-to-test, approved

#1629 Fixes: Updating - moving from kubernetes slack org to cncf slack org
  README.md
Labels: documentation, other, lgtm, size/XS, ok-to-test, approved

#1623 Add Progress Update: Next.js Research for Documentation Framework
  docs/design-progress.md
Labels: lgtm, size/XS, ok-to-test, approved

#1635 FIX : currentContext card to hold big names.
  frontend/src/pages/Dashboard.tsx
Labels: frontend, lgtm, size/XS, ok-to-test, approved

#1637 Inconsistent Ui homepage fixed
  frontend/src/pages/Dashboard.tsx
Labels: frontend, size/S, needs-ok-to-test, lgtm, approved

#1652 Fix: Context menu actions not working in staged workloads
  frontend/src/components/TreeViewComponent.tsx
  frontend/src/components/treeView/NodeDetailsPanel.tsx
  frontend/src/components/treeView/hooks/useTreeViewActions.ts
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1667 Fix broken links in greeting.yml
  .github/workflows/greeting.yml
Labels: ci, lgtm, size/XS, ok-to-test, approved

#1666 KubeStellar/docs Landing Page Design – Hero Section
  docs/design-progress.md
Labels: lgtm, size/XS, ok-to-test, approved

#1636 Feat : Toggle Button for curvy/square Edge with awesome UI/UX
  frontend/src/components/wds_topology/ZoomControls.tsx
  frontend/src/locales/strings.en.json
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1680 Update chart version example from 13.2.10 to 13.2.12 (for latest)
  frontend/src/locales/strings.en.json
  frontend/src/locales/strings.es.json
  frontend/src/locales/strings.fr.json
  frontend/src/locales/strings.hi.json
  frontend/src/locales/strings.it.json
  frontend/src/locales/strings.ja.json
  frontend/src/locales/strings.zh-Hans.json
Labels: frontend, size/S, lgtm, ok-to-test, approved

#1651 Fix Pagination in Deployed Workloads List View
  frontend/src/components/ListViewComponent.tsx
Labels: frontend, lgtm, size/M, ok-to-test, approved

#1683 Update Contribution Guide with Comment-Based Commands
  CONTRIBUTING.md
Labels: documentation, other, lgtm, size/M, ok-to-test, approved

#1691 KubeStellar/docs Landing Page Design – How It Works Section
  docs/design-progress.md
Labels: lgtm, size/XS, approved

#1701 KubeStellar/docs Landing Page Design – Get in Touch Section
  docs/design-progress.md
Labels: size/S, lgtm

#1688 Fixes Page Zoom-In Effect When Selecting Filters
  frontend/src/components/ResourceFilters.tsx
Labels: frontend, lgtm, ok-to-test, approved, size/XL
