Repository kubestellar/ui, pull requests merged in 2025-10, with the labels that each got.

#2042 refactor: update the condition for displaying the invalid token
  frontend/src/lib/api.ts
Labels: frontend, lgtm

#2039 Internationalized all hardcoded strings from the Object Explorer components
  frontend/src/components/ResourceCard.tsx
  frontend/src/components/ResourcePreview.tsx
  frontend/src/locales/strings.en.json
Labels: frontend, lgtm, size/M

#2047 feat: add '/hacktoberfest' command to label comments in GitHub workflow
  .github/workflows/add-help-wanted.yml
Labels: ci, lgtm, size/XS, approved

#2045 chore: truncate Bearer Token in backend logged http request
  backend/main.go
Labels: backend, size/S, lgtm, approved

#2016 fix: Inconsistency in hover effect in user management
  frontend/src/components/admin/UserManagement.tsx
Labels: frontend, size/S, lgtm, ok-to-test, approved

#2058 feat: enhance resource handling with derived resource structure and optimized filtering to show NameSpaces
  frontend/src/pages/ObjectFilterPage.tsx
Labels: frontend, lgtm, size/L, ok-to-test, approved

#2061 Integrate React Query v5 for manifest fetch/update with cache invalidation
  frontend/src/components/wecs_details/WecsDetailsPanel.tsx
Labels: frontend, lgtm, size/L

#1994 fix : On 50% zoom the nodes are overlapping
  frontend/src/components/wds_topology/FlowCanvas.tsx
Labels: frontend, lgtm, size/L, ok-to-test, approved

#2069 Fix: Prometheus can now successfully scrape metrics from /api/v1/metrics
  backend/api/metrics.go
  backend/monitoring/prometheus/prometheus.yml/config.yml
  monitoring/prometheus.yml
Labels: backend, lgtm, size/XS, ok-to-test, approved
